<% th_style = "text-align: left; border-collapse: collapse;  background: #f5f5f5; background: linear-gradient(#f5f5f5, #e8e8e8); padding: 4px; border: 1px solid #cccccc;" %>
<% td_style = "text-align: left; border-collapse: collapse; background-color: #FFFFFF; padding: 4px; border: 1px solid #cccccc;" %>
<tr>
  <th style="<%= th_style %>">
    <%= _('Hostname') %>
  </th>
  <th style="<%= th_style %>">
    <%= _('Host group') %>
  </th>
  <th style="<%= th_style %>">
    <%= _('Environment') %>
  </th>
  <th style="<%= th_style %>">
    <%= _('Last Report') %>
  </th>
</tr>
<% list.each do |host| %>
  <tr>
    <%= render 'link_to_host', :host => host %>
    <td style="<%= td_style %>">
      <%= host.hostgroup %>
    </td>
    <td style="<%= td_style %>">
      <%= host.environment %>
    </td>
    <% if host.last_report %>
      <td style="<%= td_style %>">
        <%= time_ago_in_words(host.last_report) %>
      </td>
    <% else %>
      <td style="<%= td_style %>">
        <%= _('Unknown') %>
      </td>
    <% end %>
  </tr>
<% end %>
