<h2 class="headline"><%= _("<b>Foreman</b> Build Complete").html_safe %></h2>
<div class="dashboard">
  <table>
    <tr>
      <td width="18%" class="hosts-rows"><b><%= _("Hostname") %></b></td>
      <td width="82%" class="hosts-rows"><%= link_to @host, host_url(:id => @host) %></td>
    </tr>
    <tr>
      <td width="18%" class="hosts-rows"><b><%= _("IP") %></b></td>
      <td width="82%" class="hosts-rows"><%= @host.ip %></td>
    </tr>
  </table>
</div>
