<h2 class="headline"><%= _("<b>Foreman</b> Configuration Management Summary").html_safe %></h2>
<h2 style="margin: 5px 0px;"><%= _("Summary from %{time} ago to now") % {:time => distance_of_time_in_words(Time.now - @timerange)} %></h2>
<h3><%= _("Summary report from Foreman server at %{foreman_url}") % {:foreman_url => Setting[:foreman_url]} %></h3>
<div class="dashboard">
  <%= render :partial => 'dashboard', :locals => {:hosts_sum => @hosts.size, :out_of_sync_sum => @out_of_sync.size, :disabled_sum => @disabled.size} %>
</div>
<div class="hosts">
  <%= render :partial => 'list', :locals => {:state => 'active', :title => _("Hosts with interesting values (changed, failures etc)"), :list => @hosts} %>
  <%= render :partial => 'list', :locals => {:state => 'nonactive', :title => _("Hosts which do not have recent reports from configuration management"), :list => @out_of_sync} %>
  <%= render :partial => 'list', :locals => {:state => 'nonactive', :title => _("Hosts which Foreman reporting is disabled"), :list => @disabled} %>
</div>
