<% form_for @usergroup do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <% field_set_tag("User Groups") do %>
    <%= edit_habtm @usergroup, Usergroup %>
  <% end %>
  <% field_set_tag("Users") do %>
    <%= edit_habtm @usergroup, User %>
  <% end %>
  <p><%= f.submit "Submit" %><p>
<% end %>
