<% form_for @usergroup do |f| %>
  <%= f.error_messages %>
  <table>
    <tr>
      <td>Name</td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td>User groups</td>
      <td><%= edit_habtm @usergroup, Usergroup %></td>
    </tr>
    <tr>
      <td>Users</td>
      <td><%= edit_habtm @usergroup, User %></td>
    </tr>
    <tr><td><%= f.submit "Submit" %></td></tr>
  </table>
<% end %>
