<% title _("User Groups") %>

<% title_actions display_link_if_authorized(_("New User group"), hash_for_new_usergroup_path) %>

<table class="table table-bordered table-striped">
  <tr>
    <th><%= _("Name") %></th>
    <th><%= _("Users") %></th>
    <th><%= _("User Groups") %></th>
    <th></th>
  </tr>
  <% for usergroup in @usergroups %>
    <tr>
      <td><%= link_to_if_authorized h(usergroup.name), hash_for_edit_usergroup_path(:id => usergroup.id) %></td>
      <td><%= h usergroup.users.map(&:login).to_sentence %></td>
      <td><%= h usergroup.usergroups.map(&:name).to_sentence %></td>
      <td>
        <%= display_delete_if_authorized hash_for_usergroup_path(:id => usergroup), :confirm => (_("Delete %s?") % usergroup.name) %>
      </td>
    </tr>
  <% end %>
</table>
<%= page_entries_info @usergroups %>
<%= will_paginate @usergroups %>
