<% form_for @hostgroup do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :parent_id, "Parent", :class => "span-3" %>
    <%= f.collection_select(:parent_id, accessible_hostgroups, :id, :to_label, { :include_blank => true },
                            { :class => "span-3" }) %>

    <%= f.label :name, nil, :class => "span-3" %>
    <%= f.text_field :name, :class => "span-3" %>
  </p>

  <br>

  <% field_set_tag 'Host Defaults' do -%>

    <% field_set_tag 'Primary Settings' do %>
      <%= f.label :environment_id, nil, :class => "span-3" %>
      <%= f.collection_select :environment_id, Environment.all, :id, :to_label, { :include_blank => true }, { :class => "span-3" } %>
      <div class="push-2 span-7 last">
        <%= puppetmaster_field @hostgroup, f %>
      </div>
    <% end -%>

    <% if SETTINGS[:unattended] -%>
      <% field_set_tag 'Network Settings' do -%>
        <%= render 'common/domain_subnet', :item => @hostgroup %>
      <% end -%>

      <% field_set_tag 'Operating System Settings' do %>
        <div class="span-24 last">
          <%= render "common/os_selection/initial", { :f => f, :item=> @hostgroup } -%>
        </div>
        <div class="span-24 last">
          <%= f.label :root_pass, "Root Password", :class => "span-3" %>
          <%= f.password_field :root_pass, :class => "span-3 last" %>
        </div>
      <% end -%>

      <span id="virtual_machine">
        <%= render('common/hypervisor', :item => @hostgroup) if !Hypervisor.first.nil? and authorized_for("Hypervisors::Guests", :create) %>
      </span>
    <% end -%>
  <% end -%>

  <%= render 'puppetclasses/class_selection', :obj => @hostgroup %>

  <%= render "common_parameters/parameters", { :f => f, :type => :group_parameters } %>

  <p><%= f.submit "Submit" %></p>
<% end %>
