<% form_for @hostgroup do |f| %>
  <%= f.error_messages %>
  <p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
  </p>

  <% field_set_tag 'Host Defaults' do -%>

    <% field_set_tag 'Primary Settings' do %>
      <table>
        <tr>
          <td>Environment
            <%= f.collection_select :environment_id, Environment.all, :id, :to_label, :include_blank => true %></td>
          <td>Puppetmaster</td>
          <td><%= f.text_field :puppetmaster, :size => 10, :value => @hostgroup.puppetmaster %></td>

        </tr>
      </table>
    <% end -%>

    <% if (SETTINGS[:unattended].nil? or SETTINGS[:unattended]) -%>
      <% field_set_tag 'Operating System Settings' do %>
        <table>
          <tr>
            <td>
              <%= render :partial => "common/os_selection/initial", :locals => { :f => f, :item=> @hostgroup } -%>
            </td>
          </tr>
          <tr>
            <td>Root password
              <%= f.password_field :root_pass %>
            </td>
          </tr>
        </table>
      <% end -%>

    <% end -%>
  <% end -%>

  <%= render 'puppetclasses/class_selection', :obj => @hostgroup %>

  <%= render :partial => "common_parameters/parameters", :locals => { :f => f, :type => :group_parameters } %>

  <p><%= f.submit "Submit" %></p>
<% end %>
