<% title "Hostgroups" %>

<div class="title_action"><%= display_link_if_authorized "New Hostgroup", hash_for_new_hostgroup_path %></div>

<table class="list">
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  <% Hostgroup.sort_by_ancestry(@hostgroups).each do |hostgroup| %>
    <tr class="<%= cycle("even", "odd") -%>">
      <td> <%= hostgroup_name hostgroup %> </td>
      <td class="ra">
        <%= display_link_if_authorized 'Nest',    hash_for_nest_hostgroup_path(:id => hostgroup) %>
        <%= display_link_if_authorized 'Clone',   hash_for_clone_hostgroup_path(:id => hostgroup) %>
        <%= display_link_if_authorized "Destroy", hash_for_hostgroup_path(:id => hostgroup, :auth_action => :destroy), :confirm => warning_message(hostgroup), :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>
<%= page_entries_info @hostgroups %>
<%= will_paginate     @hostgroups %>
