<% title "Tenants" %>

<% title_actions display_link_if_authorized("New Tenant", hash_for_new_tenant_path), help_path %>

<table class="table table-bordered table-striped">
  <tr>
    <th><%= sort :name %></th>
    <th></th>
  </tr>
  <% @tenants.each do |tenant| %>
    <tr class="<%= cycle("even", "odd") -%>">
      <td><%= link_to tenant.to_label, edit_tenant_path(tenant) %></td>
      <td>
        <%= action_buttons(link_to('Edit', edit_tenant_path(tenant), :class => "btn btn-small"),
                                           link_to('Delete', :method => :destroy, :class => "btn btn-danger")) %>
      </td>
    </tr>
  <% end %>
</table>
<%= page_entries_info @tenants %>
<%= will_paginate     @tenants %>
