<table class="<%= table_css_classes('table-fixed') %>">
  <thead>
    <th width="40%"><%= _('Host') %></th>
    <th><%= _('Owner') %></th>
    <th><%= _('Build Duration') %></th>
    <th><%= _('Token Expiry') %></th>
  </thead>
  <tbody>
    <% hosts.each do |host| %>
      <tr>
        <td class="ellipsis"><%= host_build_status_icon(host) %> <%= link_to host.name, host_path(host) %></td>
        <td class="hidden-tablet hidden-xs ellipsis"><%= host.owner %></td>
        <td class="hidden-tablet hidden-xs ellipsis"><%= build_duration(host) %></td>
        <td class="hidden-tablet hidden-xs ellipsis"><%= host.token ? date_time_relative_value(host.token.expires) : _('N/A') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
