<table class="table table-striped table-fixed">
  <thead>
    <th width="30%"><%= _('Host') %></th>
    <th width="150px"><%= _('Operating System') %></th>
    <th><%= _('Owner') %></th>
    <th><%= _('Created') %></th>
    <th><%= _('Installed') %></th>
  </thead>
  <tbody>
    <% hosts.each do |host| %>
      <tr>
        <td class="ellipsis"><%= link_to host.name, host_path(host) %></td>
        <td class="hidden-tablet hidden-xs ellipsis"><%= safe_join([icon(host.operatingsystem, :size => '16x16'), host.operatingsystem.to_label]) if host.operatingsystem.present? %></td>
        <td class="hidden-tablet hidden-xs ellipsis"><%= host.owner %></td>
        <td class="hidden-tablet hidden-xs ellipsis"><%= date_time_relative(host.created_at) %></td>
        <td class="hidden-tablet hidden-xs ellipsis"><%= date_time_relative(host.installed_at) %></td>
      </tr>
  <% end %>
  </tbody>
</table>
