<h4 class="header">
  <%= _("Latest Events") %>
</h4>
<% if @data.latest_events? %>
  <table class="<%= table_css_classes 'table-fixed reports-table' %>">
    <thead>
      <tr>
        <%= latest_headers %>
      </tr>
    </thead>
    <tbody>
      <% @data.latest_events.each do |report| %>
        <tr>
          <td class='ellipsis'><%= link_to report.host, host_config_reports_path(report.host) %></td>
          <td class="ca"><%= report_event_column(report.applied_s, "label-info") %></td>
          <td class="ca"><%= report_event_column(report.restarted_s, "label-info") %></td>
          <td class="ca"><%= report_event_column(report.failed_s, "label-danger") %></td>
          <td class="ca"><%= report_event_column(report.failed_restarts_s, "label-warning") %></td>
          <td class="ca"><%= report_event_column(report.skipped_s, "label-info") %></td>
          <td class="ca"><%= report_event_column(report.pending_s, "label-info") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="ca"><%= _("No interesting reports received in the last week") %></p>
<% end %>
