<h4 class="header"><%= _('System Configuration Status') %></h4>
<ul>
    <%= searchable_links _('Systems that had performed modifications without error'),
                         "last_report > \"#{Setting[:puppet_interval] + 5} minutes ago\" and (status.applied > 0 or status.restarted > 0) and (status.failed = 0)",
                         :active_systems_ok_enabled
    %>

    <%= searchable_links _('Systems in error state'),
                         "last_report > \"#{Setting[:puppet_interval] + 5} minutes ago\" and (status.failed > 0 or status.failed_restarts > 0) and status.enabled = true",
                         :bad_systems_enabled
    %>

    <%=searchable_links _("Good system reports in the last %s") % time_ago_in_words((Setting[:puppet_interval]+5).minutes.ago),
                        "last_report > \"#{Setting[:puppet_interval]+5} minutes ago\" and status.enabled = true and status.applied = 0 and status.failed = 0 and status.pending = 0",
                        :ok_systems_enabled
    %>

    <%= searchable_links _('Systems that had pending changes'),
                         'status.pending > 0 and status.enabled = true',
                         :pending_systems_enabled
    %>

    <%= searchable_links _('Out of sync Systems'),
                         "last_report < \"#{Setting[:puppet_interval] + 5} minutes ago\" and status.enabled = true",
                         :out_of_sync_systems_enabled
    %>

    <%= searchable_links _('Systems with no reports'),
                         "not has last_report and status.enabled = true",
                         :reports_missing
    %>

    <%= searchable_links _('Systems with alerts disabled'),
                         "status.enabled = false",
                         :disabled_systems
    %>

  <h4 class="total"><%= _("Total Systems: %s") % @report[:total_systems] %></h4>
</ul>
