<center>
  <p>Good Host Reports in the last 30 minutes <%= "#{@good_hosts} / #{@total_hosts}" %> hosts</p>

  <h3>Errors</h3>
  <p>Out Of Sync Hosts <%= link_to @out_of_sync_hosts, :action => "OutOfSync" %></p>
  <p>Hosts in Error State <%= link_to @bad_hosts, :action => "errors" %></p>
  <p>Reports to Review <%= link_to @intersting_reports, :action => "reports" %></p>
</center>
<p>Total hosts <%= @total_hosts %></p>
