<% gcharts_script %>
<div id="dashboard">
  <h1>Overview</h1>
  <p>Generated at <%= Time.now.to_s(:short) %></p>
  <p>Good Host Reports in the last <%= SETTINGS[:puppet_interval] %> minutes <%= "#{@good_hosts} / #{@total_hosts}" %> hosts (<%=@percentage%>%) </p>
  <h1>Summary</h1>
  <p>Hosts that had performed modifications <%= link_to @active_hosts, :action => "active" %></p>
  <p>Out Of Sync Hosts <%= link_to @out_of_sync_hosts, :action => "OutOfSync" %></p>
  <p>Hosts in Error State <%= link_to @bad_hosts, :action => "errors" %></p>
  <p>Hosts With Alerts Disabled <%= link_to @disabled_hosts, :action => "disabled" %></p>

  <div id='overview'></div>
  <%= @overview.render('overview') %>
  <div id='run_distribution'></div>
  <%= @run_distribution.render('run_distribution') %>

</div>
