<% title 'Overview' %>
<div id='dashboard' xmlns="http://www.w3.org/1999/html">
  <%= title_actions "Generated at #{Time.now.to_s(:short)}" %>
  <div class="row-fluid">
    <div id='status-table' class='stats-well span12'>
      <div class="span6">
        <%= render 'status_table' %>
      </div>
      <div class="span6">
        <%= render_overview(@report, :class => 'statistics-pie small') %>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span5 stats-well">
      <h4 style="text-align: center;"><%= "Latest Events" %></h4>
      Future content goes here!
    </div>
    <div class="span7 stats-well">
      <h4 style="text-align: center;"><%= "Run Distribution in the last #{Setting[:puppet_interval]} Minutes" %></h4>
      <%= render_run_distribution(@hosts, :class => 'statistics-bar') %>
    </div>
  </div>
</div>