<% form_for @media do |f| %>
  <%= f.error_messages %>
  <p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
  </p>
  <p>
  <%= f.label :path %><br />
  <%= f.text_field :path %>
  </p >
  <small>
    The path to the media, can be a URL or a valid NFS server (exclusive of the architecture).<br />
    for example http://mirror.averse.net/centos/$version/os/$arch where <strong>$arch</strong> will be substituted for the host's actual OS architecture<br />
    and <strong>$version</strong>, <strong>$major</strong> and <strong>$minor</strong> will be substituted for the version of the operating system.
  </small>
  <p>
  <%= f.label :operatingsystem_id %><br />
  <%= f.collection_select :operatingsystem_id, Operatingsystem.all, :id, :to_label %>
  </p>
  <% unless @media.new_record? -%>
    <p>Currently used by <%= @media.hosts.count %> hosts</p>
  <% end -%>

  <p><%= f.submit "Submit" %></p>
<% end %>
