<% title "Medias" %>

<table class="list">
  <tr>
    <th>Name</th>
    <th>Path</th>
    <th>Operatingsystem</th>
    <th></th>
  </tr>
  <% for media in @medias %>
    <tr class="<%= cycle("even", "odd") -%>">
      <td><%= link_to_if_authorized h(media), hash_for_edit_media_path(:id => media.id) %></td>
      <td><%=h media.path %></td>
      <td><%=h media.operatingsystems.to_sentence %></td>
      <td align="right">
        <%= display_link_if_authorized "Destroy", hash_for_media_path(:id => media, :auth_action => :destroy), :confirm => "Delete #{media.name}?", :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>
<%= page_entries_info @medias %>
<%= will_paginate     @medias %>
<p><%= display_link_if_authorized "New Media", hash_for_new_media_path %></p>
