<%= render 'nic/base_form', :f => f %>

<%= checkbox_f f, :virtual,
               :disabled => !f.object.new_record?,
               :label => _("Virtual NIC"),
               :label_help => _("Enable if this is an alias or VLAN interface, note that alias can be used only with static boot mode subnet"),
               :label_help_options => { :rel => 'popover-modal'},
               :class => 'virtual',
               :size => "col-md-8", :label_size => "col-md-3" %>

<% hidden_class = f.object.virtual ? '' : 'hidden' %>
<div class="<%= "virtual_form #{hidden_class}" %>">
  <%= render 'nic/virtual_form', :f => f, :attached_to_required => true %>
</div>

<%= render 'nic/provider_specific_form', :f => f %>
