<% form_for @architecture do |f| %>
  <%= f.error_messages %>
  <p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
  </p>
  <p>
  <%= authorized_edit_habtm @architecture, Operatingsystem %>
  </p>
  <br/>
  <%= f.submit "Submit" %>
<% end %>
