<% form_for @architecture do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %>: <%= f.text_field :name %>
  </p>
  <% field_set_tag("Valid Operating systems") do -%>
    <%= authorized_edit_habtm @architecture, Operatingsystem %>
  <% end -%>
  <%= f.submit "Submit" %>
<% end %>
