<% title "Architectures" %>

<table class="list">
  <tr>
    <th>Name</th>
    <th>Operatingsystems</th>
    <th></th>
  </tr>
  <% for architecture in @architectures %>
    <tr class="<%= cycle("even", "odd") -%>">
      <td><%= link_to h(architecture.name), edit_architecture_path(architecture) %></td>
      <td><%=h architecture.operatingsystems.to_sentence %></td>
      <td anign="right">
        <%= link_to "Destroy", architecture, :confirm => "Delete #{architecture.name}?", :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>
<%= page_entries_info @architectures %>
<%= will_paginate @architectures %>

<p><%= link_to "New Architecture", new_architecture_path %></p>
