<% title "Architectures" %>
<% title_actions display_link_if_authorized("New Architecture", hash_for_new_architecture_path), help_path %>

<table class="list">
  <tr>
    <th><%= sort :name %></th>
    <th>Operatingsystems</th>
    <th></th>
  </tr>
  <% for architecture in @architectures %>
    <tr class="<%= cycle("even", "odd") -%>">
      <td><%= link_to_if_authorized(h(architecture.name), hash_for_edit_architecture_path(:id => architecture.name)) %></td>
      <td><%=h architecture.operatingsystems.to_sentence %></td>
      <td align="right">
        <%= display_link_if_authorized "Delete", hash_for_architecture_path(:id => architecture.name, :auth_action => :destroy), :confirm => "Delete #{architecture.name}?", :method => :delete  %>
      </td>
    </tr>
  <% end %>
</table>
<%= page_entries_info @architectures %>
<%= will_paginate @architectures %>
