<% form_for @model do |f| %>
  <%= f.error_messages %>
  <p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
  </p>
  <p title="General useful description, for example this kind of hardware needs a special BIOS setup">
  <%= f.label :info %><br />
  <%= f.text_area :info, :size => "50x10" %><br />
  </p>
  <p><%= f.submit "Submit" %></p>
<% end -%>
