<div class="fields span-16 last">
  <%= f.label :hostgroup_id, nil, :class => "span-3" %>
  <%= f.collection_select :hostgroup_id, Hostgroup.all, :id, :name, { :include_blank => true }, { :class => "span-4"} %>
  <%= f.label :environment_id, nil, :class => "span-3" %>
  <%= f.collection_select :environment_id, Environment.all, :id, :name,  { :include_blank => true }, { :class => "span-4"} %>
  <%= link_to_remove_fields("remove", f) %>
</div>
