<% title "Provisioning Templates" %>

<% title_actions display_link_if_authorized("New Template", hash_for_new_config_template_path),
  display_link_if_authorized("Build PXE Default", {:action => :build_pxe_default},{
    :confirm => "You Are about to change the default PXE menu on all configured TFTP servers - continue ?",
    :class => "btn btn-info"})
%>

<table class="table table-bordered table-striped">
  <tr>
    <tr>
    <th><%= sort :name %></th>
    <th>Hostgroup / Environment</th>
    <th><%= sort :kind %></th>
    <th><%= sort :snippet %></th>
    <th></th>
  </tr>
  <% for config_template in @config_templates %>
    <tr>
      <td><%= link_to_if_authorized h(config_template), hash_for_edit_config_template_path(:id => config_template.to_param) %></td>
      <td><%= combination config_template %></td>
      <td><%= config_template.try(:template_kind) %></td>
      <td><%= checked_icon config_template.snippet %></td>
      <td><%= display_delete_if_authorized hash_for_config_template_path(:id => config_template.to_param),
                                           :confirm => "Delete #{config_template}?" -%> </td>
    </tr>
  <% end %>
</table>

<%= page_entries_info @config_templates %>
<%= will_paginate @config_templates %>
