<% form_for @common_parameter do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :value %><br />
    <%= f.text_field :value, :size => 100 %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
