<%= form_for @common_parameter, :html => { :onsubmit => 'tfm.editor.submitCode();' } do |f| %>
    <%= base_errors_for @common_parameter %>
    <%= text_f f, :name %>
    <div class='form-group'>
      <label class="control-label col-md-2" for="common_parameter_value"><%= _("Value") %></label>

      <div class="col-md-9">
        <div class="editor-container">
          <%= render :partial => 'editor/toolbar', :locals => { :show_preview => false, :show_import => false} %>
          <% masked = @common_parameter.hidden_value? ? 'masked-input' : '' %>
          <%= f.text_area(:value,
                          :class => "form-control value editor_source #{masked}",
                          :rows => line_count(f, :value),
                          :placeholder => _("Value")) %>

        </div>
      </div>
    </div>
    <%= checkbox_f f, :hidden_value, :class => 'hidden_value_textarea_switch', :onchange => 'turn_textarea_switch()', :checked => f.object.hidden_value? %>

    <input type="hidden" id="old" value="<%= @common_parameter.value %>" />
    <input type="hidden" id="new" value="<%= @common_parameter.value %>" />

    <%= submit_or_cancel f %>
<% end %>
