<div id="parameters">
  <table class="table table-condensed" id="global_parameters_table">
    <thead>
    <tr>
      <th class='col-md-4'><%= _("Name") %></th>
      <th class='col-md-6'><%= _("Value") %></th>
      <th class='col-md-2'><%= _('Actions') %></th>
    </tr>
    </thead>
  </table>

  <%= f.fields_for type do |builder| %>
    <%= render "common_parameters/parameter", :f => builder %>
  <% end %>
  <%= authorized_via_my_scope("host_editing", "create_params") ? link_to_add_fields('+ ' + _("Add Parameter"), f, type, "common_parameters/parameter") : "" %>
</div>
