<tr class="fields <%= 'has-error' if f.object.errors.any? %>">
  <td>
    <%= f.text_field(:key, :class => "form-control", :disabled => !can_edit_params?, :placeholder => _("Name")) %>
  </td>
  <td>
    <div class="input-group">
      <%= f.text_field(:value, :class => "form-control no-stretch", :disabled => !can_edit_params?,
                       :rows => 1, :placeholder => _("Value")) %>
      <span class="input-group-btn">
        <%= hidden_toggle(f.object.hidden_value?) %>
        <%= fullscreen_button("$(this).parent().prev()") %>
      </span>
    </div>
  </td>
  <td>
    <%= link_to_remove_fields('', f) if authorized_via_my_scope("host_editing", "destroy_params") %><%= _('remove') %>
  </td>
  <span class="help-block">
    <%= f.object.errors.full_messages.to_sentence %>
  </span>
</tr>