<p class="fields">
<%= f.label :name, "name" %>
<%= f.text_field :name, :size => 10 %>
<%= f.label :value, "value" %>
<%= f.text_field :value, :size => 10 %>
<%= link_to_remove_fields("remove", f) %>
</p>

