<tr class="fields <%= 'has-error' if f.object.errors.any? %>" id="<%= dom_id(f.object) + '_row' %>">
  <td>
    <%= f.text_field(:name,  :class => "form-control", :disabled => !authorizer.can?(:edit_params, f.object), :placeholder => _("Name")) %>
  </td>
  <td>
    <%= hidden_value_field(f, :value, !authorizer.can?(:edit_params, f.object)) %>
  </td>
  <td>
    <%= f.check_box(:hidden_value, :class => 'set_hidden_value hide', :checked => f.object.hidden_value?) if authorizer.can?(:edit_params, f.object) %>
    <%= link_to_remove_fields(_('remove'), f) if authorizer.can?(:destroy_params, f.object) %>
  </td>
</tr>
<% if f.object.errors.any? %>
  <tr class="error-msg-block has-error">
    <td colspan="3">
      <span class="help-block">
        <%= f.object.errors.full_messages.to_sentence %>
      </span>
    </td>
  </tr>
<% end %>
