<div id="parameters">
  <table class="table" id="global_parameters_table">
    <thead class="white-header">
    <tr>
      <th class='col-md-3'><%= _("Name") %></th>
      <th class='col-md-8'><%= _("Value") %></th>
      <th class='col-md-1 ca'><%= _('Actions') %></th>
    </tr>
    </thead>
    <tbody>
      <% authorized_resource_parameters(f.object, type).each do |parameter| %>
        <%= f.fields_for type, parameter do |builder| %>
          <%= render "common_parameters/parameter", :f => builder %>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= authorized_via_my_scope("host_editing", "create_params") ? link_to_add_fields('+ ' + _("Add Parameter"), f, type, "common_parameters/parameter", :target => '#global_parameters_table tbody') : "" %>
</div>
