<div class="fields">
  <div class="clearfix">
    <%= f.label :name %>
    <div class="input">
      <% if authorized_via_my_scope("host_editing", "edit_params") -%>
        <%= f.text_field :name %>
      <% else -%>
        <%= f.text_field :name, :disabled => 'true' %>
      <% end -%>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :value %>
    <div class="input">
      <% if authorized_via_my_scope("host_editing", "edit_params") -%>
        <%= f.text_field :value, :class => "span10" %>
      <% else -%>
        <%= f.text_field :value, :class => "span10", :disabled => 'true' %>
      <% end -%>
      <%= authorized_via_my_scope("host_editing", "destroy_params") ? link_to_remove_fields("remove", f) : "" -%>
    </div>
  </div>
  <%= f.hidden_field :nested %>
</div>
