<div class="fields">
  <table class="table">
    <thead>
      <tr>
        <th class='col-md-4'><%= _("Name") %></th>
        <th class='col-md-8'><%= _("Value") %></th>
      </tr>
    </thead>
    <% @hostgroup.ancestors.map(&:group_parameters).flatten.each_with_index do |parameter, i|  %>
      <% next if @hostgroup.group_parameters.map(&:name).include? parameter.name %>
      <tr>
        <td>
          <%= text_field_tag("parent_parameter_#{i}_key", '', :class => "form-control", :placeholder => parameter.name) %>
        </td>
        <td>
          <div class="input-group">
            <%= text_area_tag("parent_parameter_#{i}_value", '', :class => "form-control no-stretch", :rows => 1, :placeholder => parameter.value) %>
            <%= fullscreen_input %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>
