<tr class="fields <%= 'has-error' if f.object.errors.any? %>" id="<%= dom_id(f.object) + '_row' %>">
  <% authorized = f.object.new_record? ? can_create_parameter?(params_authorizer) : params_authorizer.can?(:edit_params, f.object) %>
  <td>
    <%= f.text_field(:name,  :class => "form-control", :disabled => !authorized, :placeholder => _("Name")) %>
  </td>
  <td><%= param_type_selector(f, true) %></td>
  <td>
    <%= hidden_value_field(f, :value, !authorized) %>
  </td>
  <td>
    <%= f.check_box(:hidden_value, :class => 'set_hidden_value hide', :checked => f.object.hidden_value?) if authorized %>
    <%= link_to_remove_fields(_('Remove'), f) if f.object.new_record? || params_authorizer.can?(:destroy_params, f.object) %>
  </td>
</tr>
<% if f.object.errors.any? %>
  <tr class="error-msg-block has-error">
    <td colspan="3">
      <span class="help-block">
        <%= f.object.errors.full_messages.to_sentence %>
      </span>
    </td>
  </tr>
<% end %>
