<% title _("Global Parameters") %>

<% title_actions display_link_if_authorized(_("New Parameter"), hash_for_new_common_parameter_path),
                 documentation_button('4.2.3Parameters') %>

<table class="table table-bordered table-striped table-two-pane">
  <thead>
    <tr>
      <th><%= sort :name, :as => s_("Parameter|Name") %></th>
      <th style='min-width: 60%;'><%= sort :value, :as =>  s_("Parameter|Value")%></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for common_parameter in @common_parameters %>
      <tr>
        <td class="display-two-pane"><%= link_to_if_authorized trunc_with_tooltip(common_parameter), hash_for_edit_common_parameter_path(:id => common_parameter).merge(:auth_object => common_parameter, :authorizer => authorizer, :permission => 'edit_globals') %></td>
        <td style='overflow-wrap: break-word;'><%= trunc_with_tooltip(common_parameter.safe_value, 80) %></td>
        <td class="ra">
          <%= display_delete_if_authorized hash_for_common_parameter_path(:id => common_parameter).merge(:auth_object => common_parameter, :authorizer => authorizer, :permission => 'destroy_globals'),
            :data => { :confirm => _("Delete %s?") % common_parameter.name } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate_with_info @common_parameters %>
