<% title _("Global Parameters") %>

<% title_actions display_link_if_authorized(_("New Parameter"), hash_for_new_common_parameter_path) %>

<table class="table table-bordered table-striped">
  <tr>
    <th><%= sort :name, :as => _("Name") %></th>
    <th style='min-width: 60%;'><%= sort :value, :as =>  _("Value")%></th>
    <th></th>
  </tr>
  <% for common_parameter in @common_parameters %>
    <tr>
      <td><%= link_to_if_authorized h(common_parameter), hash_for_edit_common_parameter_path(:id => common_parameter.id)%></td>
      <td style='overflow-wrap: break-word;'><%= trunc(common_parameter.value,80  ) %></td>
      <td class="ra">
        <%= display_delete_if_authorized hash_for_common_parameter_path(:id => common_parameter), :confirm => _("Delete %s?") % common_parameter.name %>
      </td>
    </tr>
  <% end %>
</table>
<%= page_entries_info @common_parameters %>
<%= will_paginate     @common_parameters %>
