<% title "Global Parameters" %>

<div class="title_action">
  <%= display_link_if_authorized "New Parameter", hash_for_new_common_parameter_path %>
</div>

<table class="list">
  <tr>
    <th><%= sort :name %></th>
    <th><%= sort :value %></th>
    <th></th>
  </tr>
  <% for common_parameter in @common_parameters %>
    <tr class="<%= cycle("even", "odd") -%>" >
      <td><%= link_to_if_authorized h(common_parameter), hash_for_edit_common_parameter_path(:id => common_parameter.id)%></td>
      <td><%=h common_parameter.value %></td>
      <td class="ra">
        <%= display_link_if_authorized "Destroy", hash_for_common_parameter_path(:id => common_parameter, :auth_action => :destroy), :confirm => "Delete #{common_parameter.name}?", :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>
<%= page_entries_info @common_parameters %>
<%= will_paginate     @common_parameters %>
