<% title "Common Parameter" %>

<p>
  <strong>Name:</strong>
  <%=h @common_parameter.name %>
</p>
<p>
  <strong>Value:</strong>
  <%=h @common_parameter.value %>
</p>
<p>
  <%= link_to "Edit", edit_common_parameter_path(@common_parameter) %> |
  <%= link_to "Destroy", @common_parameter, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", common_parameters_path %>
</p>
