<% title "PuppetCA on #{@proxy.name}" %>
<% search_bar "Filter #{state_filter}" %>
<% title_actions display_link_if_authorized("Autosign Entries", hash_for_smart_proxy_autosign_index_path(:smart_proxy_id => @proxy)) %>

<table class='list'>
  <tr>
    <th>Certificate Name</th>
    <th>State</th>
    <th>Valid from</th>
    <th>Expires</th>
    <th>Fingerprint</th>
    <th></th>
  </tr>
  <% @certificates.each do |cert| -%>
      <tr class="<%= cycle("even", "odd") -%>">
        <td><%= h cert.name %> </td>
        <td><%= h cert.state %></td>
        <td><%= time_column cert.valid_from %></td>
        <td><%= time_column cert.expires_at, :tense => :future %></td>
        <td><%= h cert.fingerprint %></td>
        <td>
          <%= display_link_if_authorized("Sign", hash_for_smart_proxy_puppetca_path(:smart_proxy_id => @proxy.to_param, :id => cert), :method => :put) if cert.state == "pending" %>
          <%= display_link_if_authorized("Destroy", hash_for_smart_proxy_puppetca_path(:smart_proxy_id => @proxy.to_param, :id => cert), :confirm => 'Are you sure?', :method => :delete) if cert.state != "revoked"  %>
        </td>
      </tr>
  <% end -%>
</table>

<%= page_entries_info @certificates, :entry_name => "Puppet Certificates"  %>
<%= will_paginate @certificates %>
