<% title _("Smart Variables") %>
<% title_actions new_link(_("Create Smart Variable")), documentation_button('4.2.4SmartVariables') %>
<table class="<%= table_css_classes 'table-fixed' %>">
  <thead>
    <tr>
      <th class="col-md-5"><%= sort :key, :as => _("Variable") %></th>
      <th class="col-md-4"><%= sort :puppetclass, :as => _("Puppet Class") %></th>
      <th class="col-md-2"><%= _('Number of Overrides') %></th>
      <th><%= _('Actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @lookup_keys.each do |lookup_key| %>
      <tr>
        <td class="ellipsis"><%= link_to_if_authorized lookup_key.key, hash_for_edit_variable_lookup_key_path(:id => lookup_key).merge(:auth_object => lookup_key, :permission => 'edit_external_variables', :authorizer => authorizer) %></td>
        <td class="ellipsis"><%= link_to_if_authorized lookup_key.puppetclass, hash_for_edit_puppetclass_path(:id => lookup_key.puppetclass).merge(:auth_object => lookup_key.puppetclass, :authorizer => @puppetclass_authorizer) %></td>
        <td><%= lookup_key.lookup_values.size %></td>
        <td><%= action_buttons(display_delete_if_authorized hash_for_variable_lookup_key_path(:id => lookup_key).merge(:auth_object => lookup_key, :permission => 'destroy_external_variables', :authorizer => authorizer),
          :data => { :confirm => _("Delete %s?") % lookup_key.key }) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate_with_info @lookup_keys %>
