<%= select_f f, :flavor_id, compute_resource.flavors, :id, :to_label %>
<%
   arch ||= nil ; os ||= nil
   images = possible_images(compute_resource, arch, os)
-%>

<div id='image_selection'><%= select_f f, :image_id, images, :uuid, :name,{:include_blank => (images.empty? || images.size == 1) ? false : _('Please select an image')}, {:disabled => images.empty? } %></div>

<% security_groups = compute_resource.security_groups %>
<% vpc_id = compute_object_vpc_id(f) %>
<% subnets = compute_resource.subnets %>

<%= selectable_f f, :security_group_ids, security_groups.map{|sg| [sg.name, sg.group_id,] if sg.vpc_id == vpc_id}.compact!,
  {},
  { :multiple => true, :label => _("Security groups"), :disabled => !@host.nil?, 
  	:data => {:security_groups => vpc_security_group_hash(security_groups), :subnets => subnet_vpc_hash(subnets)} } %>

<%= selectable_f f, :availability_zone, compute_resource.zones, {:include_blank => _("No preference")} %>

<% if subnets.any? -%>
  <%= select_f f, :subnet_id, subnets, :subnet_id, :cidr_block,  
                {:include_blank => "EC2"}, 
                {:label => _("Subnet"), :onchange => "ec2_vpcSelected(this);"} %>
<% end -%>

<%= selectable_f f, :managed_ip, {_("Public")=>'public', _("Private")=>'private'}, {}, { :label => _("Managed IP") } %>
