<%= select_f f, :flavor_id, compute_resource.flavors, :id, :to_label %>
<%
   arch ||= nil ; os ||= nil
   images = possible_images(compute_resource, arch, os)
-%>

<div id='image_selection'><%= select_f f, :image_id, images, :uuid, :name,{:include_blank => (images.empty? || images.size == 1) ? false : _('Please select an image')}, {:disabled => images.empty? } %></div>

<% security_groups = compute_resource.security_groups %>
<%= selectable_f f, :security_group_ids, security_groups.map{|sg| [sg.name, sg.group_id,] if sg.vpc_id.nil?}.compact!,
  {},
  { :multiple => true, :label => "Security Groups" } %>

<%= selectable_f f, :availability_zone, compute_resource.zones, {:include_blank => _("No preference")} %>

<% if (subnets = compute_resource.subnets).any? -%>
  <%= select_f f, :subnet_id, subnets, :subnet_id, :cidr_block,  
                {:include_blank => "EC2"}, 
                {:label => "Subnet", :onchange => "ec2_vpcSelected(this, #{vpc_security_group_hash(security_groups).to_json}, #{subnet_vpc_hash(subnets).to_json});"} %>
<% end -%>

<%= selectable_f f, :managed_ip, {'Public'=>'public', 'Private'=>'private'}, {}, { :label => "Security Groups" } %>
