<% title @vm.name %>
<div class='col-md-12'>
  <table class="table table-bordered table-striped">
    <tr><th colspan="2"><%= _('Properties') %></th></tr>
    <%= prop :pretty_machine_type, _('Machine Type') %>
    <%= prop :zone %>
    <%= prop :private_ip_address, _('Private IP') %>
    <% if @vm.public_ip_address.present? %>
      <%= prop :public_ip_address, _('Public IP') %>
    <% end %>
  </table>
</div>
