<% title @vm.name %>
<div class='col-md-12'>
  <table class="<%= table_css_classes %>">
    <thead>
      <tr><th colspan="2"><%=_("Properties") %></th></tr>
    </thead>
    <tbody>
      <%= prop :state %>
      <%= prop :pretty_machine_type, "Machine Type" %>
      <%= prop :zone_name, "Zone" %>
      <tr>
        <td>Created</td>
        <td><%= date_time_relative_value(@vm.creation_timestamp) %></td>
      </tr>
      <%= prop :private_ip_address %>
      <%= prop :public_ip_address %>
      <%= prop :pretty_image_name, "Image" %>
    </tbody>
  </table>
</div>
