<% title @vm.name %>
<div class='span12'>
  <table class="table table-bordered table-striped">
    <tr><th colspan="2">Properties</th></tr>

    <%= prop :availability_zone %>
    <% @vm.all_addresses.each do |address| %>
      <tr>
        <td><%= address["pool"] %> network</td>
        <td><%= address["ip"] %> (floating), <%= address["fixed_ip"] %> (fixed ip) </td>
      </tr>
    <% end -%>
    <%= prop :state %>
    <%= prop :created_at %>
    <%= prop :tenant %>
    <%= prop :flavor_with_object, "Flavor" %>
    <%= prop :security_groups, "Security Groups" %>
  </table>
</div>
