<% title @vm.name %>
<div class='span12'>
  <table class="table table-bordered table-striped">
    <tr><th colspan="2">Properties</th></tr>
    <tr>
      <td>Name</td>
      <td><%= @vm.name %></td>
    </tr>

    <tr>
      <td>VCPU(s)</td>
      <td><%= @vm.cores %></td>
    </tr>

    <tr>
      <td>UUID</td>
      <td><%= @vm.identity %></td>
    </tr>
    <tr>
      <td>Memory</td>
      <td><%= number_to_human_size @vm.memory %> </td>
    </tr>

    <tr>
      <td>Display</td>
      <td><%= @vm.display[:type] %> (<%= @vm.display[:port] %>)</td>
    </tr>
    <% @vm.interfaces.each do |nic| -%>
        <tr>
          <td>NIC</td>
          <td><%= "#{nic.name} - #{nic.mac}" %></td>
        </tr>
    <% end -%>

    <% @vm.volumes.each do |vol| -%>
        <tr>
          <td>Disk</td>
          <td><%= "using #{number_to_human_size vol.size}" %></td>
        </tr>
    <% end -%>

    <tr>
      <td>Running on</td>
      <td><%= link_to @compute_resource, compute_resource_path(@compute_resource) %></td>
    </tr>
  </table>
</div>
