<% title @vm.name %>
<div class='col-md-12'>
  <table class="<%= table_css_classes %>">
    <thead>
      <tr><th colspan="2"><%=_('Properties') %></th></tr>
    </thead>
    <tbody>
      <%= prop :state %>
      <%= prop :created %>
      <tr>
        <td>Flavor</td>
        <td><%= @compute_resource.flavors[@vm.flavor_id.to_i].name %></td>
      </tr>
      <%= prop :ipv4_address, 'Public IP' %>
      <tr>
        <td>Private IP</td>
        <td><%= @vm.addresses['private'][0]['addr'] %></td>
      </tr>
      <%= prop :image_id, 'Image ID' %>
    </tbody>
  </table>
</div>
