<% title @vm.name %>
<div class='col-md-12'>
  <table class="<%= table_css_classes %>">
    <thead>
      <tr><th colspan="2"><%=_('Properties') %></th></tr>
    </thead>
    <tbody>
      <%= prop :id %>
      <%= prop :datacenter %>
      <%= prop :cluster %>
      <%= prop :memory %>
      <% @vm.disks.each do |vol| %>
        <tr>
          <td><%= _("Disk '%s'") % vol[:label] %></td>
          <td><%= number_to_human_size(vol[:capacity]) %></td>
        </tr>
      <% end %>
      <% @vm.partitions.each do |part| %>
        <tr>
          <td><%= _("Partition '%s'") % part[:path] %></td>
          <td><%= _("using %{allocation} out of %{capacity}") % { :allocation => number_to_human_size(part[:capacity]-part[:free]), :capacity => number_to_human_size(part[:capacity])} %></td>
        </tr>
      <% end %>
      <%= prop :public_ip_address %>
      <%= prop :mac %>
      <%= prop :cpus %>
      <%= prop :corespersocket, _('Cores per socket') %>
      <%= prop :firmware, _('Firmware') %>
      <%= prop :hypervisor %>
      <%= prop :connection_state %>
      <%= prop :overall_status %>
      <%= prop :annotation, _('Annotation notes') %>
    </tbody>
  </table>
</div>
