<% title @vm.name %>
<div class='span12'>
  <table class="table table-bordered table-striped">
    <tr><th colspan="2">Properties</th></tr>

    <%= prop :name %>
    <%= prop :address %>
    <%= prop :memory %>
    <%= prop :uuid %>
    <%= prop :hostname %>
    <%= prop :edition %>
    <%= prop :software_version %>
    <%= prop :name_description %>
  </table>
</div>