<div class="card-pf card-pf-accented card-pf-aggregate-status card-pf-with-action">
  <h2 class="card-pf-title" data-toggle="tooltip" data-placement="top" title="<%= features.join(', ') %>">
    <%= n_('%s Active Feature', '%s Active Features', features_started) % features_started %>
  </h2>
  <div class="card-pf-body">
    <p class="card-pf-aggregate-status-notifications">
      <% if names.count > 0 %>
        <span class="card-pf-aggregate-status-notification"><a href="#logs" onclick="filterLogsByMessage('<%= names.join('|') %>')" data-toggle="tooltip" data-placement="top" title="<%= n_('Failed features: %s', 'Failed features: %s', names.count) % names.join(', ') %>"><span class="pficon pficon-warning-triangle-o"></span><%= names.count %></a></span>
      <% else %>
        <span class="card-pf-aggregate-status-notification"><span class="pficon pficon-ok"></span></span>
      <% end %>
    </p>
  </div>
</div>
