<% form_for @subnet do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :domain %><br />
    <%= f.collection_select :domain_id, Domain.all, :id, :name %>
  </p>

  <p>
    <%= f.label :network %><br />
    <%= f.text_field :network %>
  </p>

  <p>
    <%= f.label :mask %><br />
    <%= f.text_field :mask, :title => "netmask for this subnet" %>
  </p>

  <p>
    <%= f.label :ranges %><br />
    <%= f.text_field :ranges, :title => "A list of comma separated single IPs or start-end couples." %>
  </p>

  <p title="DHCP Proxy to use within this subnet">
    <%= f.label :dhcp_id, "DHCP Proxy" %>
    <%= f.collection_select :dhcp_id, Feature.find_by_name("DHCP").smart_proxies, :id, :name, :include_blank => "None" %>
  </p>
  <p title="TFTP Proxy to use within this subnet">
    <%= f.label :tftp_id, "TFTP Proxy" %>
    <%= f.collection_select :tftp_id, Feature.find_by_name("TFTP").smart_proxies, :id, :name, :include_blank => "None" %>
  </p>

  <p>
    <%= f.label :vlanid %><br />
    <%= f.text_field :vlanid %>
  </p>

  <p>
    <%= f.label :priority %><br />
    <%= f.text_field :priority %>
  </p>
  <p><%= f.submit %></p>
<% end %>
