<%= form_for @subnet do |f| %>
  <%= base_errors_for @subnet %>
  <ul class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a href="#primary" data-toggle="tab">Subnet</a></li>
    <% if show_location_tab? %>
      <li><a href="#locations" data-toggle="tab">Locations</a></li>
    <% end %>
    <% if show_organization_tab? %>
      <li><a href="#organizations" data-toggle="tab">Organizations</a></li>
    <% end %>
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="primary">
      <%= render 'fields', :f => f %>
    </div>

    <% if show_location_tab? %>
      <div class="tab-pane" id="locations">
        <%= multiple_checkboxes f, :locations, @subnet, Location %>
      </div>
    <% end %>

    <% if show_organization_tab? %>
      <div class="tab-pane" id="organizations">
        <%= multiple_checkboxes f, :organizations, @subnet, Organization %>
      </div>
    <% end %>

  </div>

  <%= submit_or_cancel f %>
<% end %>
