<% title "Import subnets" %>

<h2>We've found the following subnets</h2>
<%= form_for "subnets[]", :url => create_multiple_subnets_path do |f| -%>
  <% @subnets.each do |subnet| -%>
    <div id="<% subnet.to_s %>" class="imported_subnet row">
      <li><strong><%= subnet %></strong> <%= options(@subnets).html_safe %></li>
      <span class="subnet_fields" <%= display?(minimal?(@subnets)) %>>
        <%= fields_for "subnets[]", subnet do |s| -%>
          <%= render 'fields', :f => s %>
        <% end -%>
      </span>
    </div>
  <% end -%>
  <%= submit_or_cancel f %>
<% end -%>
