<% title _("Subnets") %>

<%= javascript 'subnets' %>
<% title_actions display_link_if_authorized(_("New Subnet"), hash_for_new_subnet_path) %>

<table class="table table-bordered table-striped table-two-pane">
  <thead>
    <tr>
      <th><%= sort :name, :as => s_("Subnet|Name") %></th>
      <th><%= sort :network, :as => s_("Subnet|Network") %></th>
      <th><%= _("Domains") %></th>
      <th><%= sort :vlanid, :as => s_('Subnet|Vlanid') %></th>
      <th><%= _("DHCP Proxy") %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for subnet in @subnets %>
      <tr>
        <td class="display-two-pane"><%=link_to_if_authorized trunc_with_tooltip(subnet.name), hash_for_edit_subnet_path(:id => subnet).merge(:auth_object => subnet, :authorizer => authorizer) %></td>
        <td><%=subnet.network_address %></td>
        <td><%=subnet.domains.to_sentence %></td>
        <td><%=subnet.vlanid %></td>
        <td><%=subnet.dhcp %></td>
        <td align="right">
          <%= display_delete_if_authorized hash_for_subnet_path(:id => subnet).merge(:auth_object => subnet, :authorizer => authorizer), :data => { :confirm => _("Delete %s?") % subnet.name } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate_with_info @subnets %>
