<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion-markup" href="#<%= title.parameterize %>" class="collapsed">
        <%= _(title) %>
      </a>
    </h4>
  </div>
  <div id="<%= title.parameterize %>" class="panel-collapse collapse">
    <div class="panel-body">
      <% if !local_assigns.key?(:wrap_in_code) || wrap_in_code %>
        <%= content_tag :code, contents %>
      <% else %>
        <%= contents %>
      <% end %>
    </div>
  </div>
</div>
