<table class="table white-header <%= 'hidden' unless f.object.lookup_values.present? %>">
  <thead>
  <tr>
    <th colspan='2' class='col-md-5'><%= _('Attribute type') %>
      <span class="help-inline">
        <%= popover("", _("Matcher is a combination of an attribute and its value, if they match, the value below would be provided.<br> You may use any attribute Foreman knows about, such as facts etc for example: <code> domain = example.com </code> or <code> is_virtual = true</code>."),
                    :title => _("Explain matchers")).html_safe %>
      </span></th>
    <% if is_param %>
      <th class='col-md-4'><%= _('Value') %></th>
      <th class='col-md-2 ca'><%= _('Omit') %>
        <span class="help-inline"> <%= omit_help %></span>
      </th>
    <% else %>
      <th class='col-md-6'><%= _('Value') %></th>
    <% end %>
    <th><%= _('Actions') %></th>
  </tr>
  </thead>

  <tbody>
  <%= f.fields_for :lookup_values, f.object.sorted_values do |lookup_value| %>
    <%= render 'lookup_keys/value', :f => lookup_value, :is_param => is_param, :is_template => false, :hidden_value => f.object.hidden_value? %>
  <% end %>
  </tbody>
</table>
<%= new_child_fields_template(f, :lookup_values, { :partial => "lookup_keys/value",
                                                   :form_builder_attrs => { :is_param => is_param, :is_template => true, :hidden_value => f.object.hidden_value? } }) %>
<%= add_child_link '+ ' + _("Add Matcher"), :lookup_values, { :title => _('add a new matcher') } %>
