<p class="fields">
<%= f.label :value, "Value" %>
<%= f.text_field :value %>
<%= f.label :priority, "Priority" %>
<%= f.text_field :priority %>
<%= link_to_remove_fields("remove", f) if authorized_for(params[:controller], params[:action]) %>
</p>

