<% title _("Smart variables") %>

<table class="table table-bordered table-striped">
  <tr>
    <th><%= sort :key, :as => _("Variable") %></th>
    <th><%= sort :puppetclass, :as => _("Puppetclass") %></th>
    <th><%= _('Number of values') -%></th>
    <th></th>
  </tr>

<% @lookup_keys.each do |lookup_key| %>
  <tr>
    <td><%= link_to_if_authorized h(lookup_key.key), hash_for_edit_lookup_key_path(:id => lookup_key) %></td>
    <% puppet_class = lookup_key.param_class %>
    <td><%= link_to_if_authorized h(puppet_class), hash_for_edit_puppetclass_path(:id => puppet_class) if puppet_class %></td>
    <td><%=h lookup_key.lookup_values.count %></td>
    <td><%= display_delete_if_authorized hash_for_lookup_key_path(:id => lookup_key), :confirm => _("Delete %s?") % lookup_key.key %></td>
  </tr>
<% end %>
</table>
<%= page_entries_info @lookup_keys, :model => _("Smart Variables") %>
<%= will_paginate     @lookup_keys %>
