<table class="list">
  <caption><%= @lookup_key.key.humanize %></caption>
  <tr>
    <th>Value</th>
    <th>Priority</th>
  </tr>
<% @lookup_key.lookup_values.each do |v| -%>
  <tr>
    <td><%= v.value %></td>
    <td><%= v.priority %></td>
  </tr>
<% end -%>
</table>


<%= link_to 'Edit', edit_lookup_key_path(@lookup_key) %> |
<%= link_to 'Back', lookup_keys_path %>
