<% form_for @proxy do |f| %>
  <%= f.error_messages %>
  <p>
  <%= f.label :name, nil, :class => "span-3" %>
  <%= f.text_field :name, :class => "last" %>
  </p>
  <p>
  <%= f.label :url, "URL", :class => "span-3"%>
  <%= f.text_field :url, :class => "last" %>
  </p>
  <p><%= f.submit %></p>
<% end %>
