<% title _("Smart Proxies") %>

<% title_actions display_link_if_authorized(_("New Smart Proxy"), hash_for_new_smart_proxy_path),
                 documentation_button('4.3SmartProxies') %>

<table class="table table-bordered table-striped table-two-pane table-fixed">
  <thead>
    <tr>
      <th class="col-md-2"><%= s_("SmartProxy|Name") %></th>
      <th class="col-md-5"><%= s_("SmartProxy|Url") %></th>
      <th class="col-md-3"><%= _("Features") %></th>
      <th><%= _('Actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @smart_proxies.each do |proxy| %>
      <tr>
        <td class="display-two-pane ellipsis"><%= link_to_if_authorized proxy.name, hash_for_edit_smart_proxy_path(:id => proxy).merge(:auth_object => proxy, :authorizer => authorizer) %></td>
        <td class="ellipsis"><%= proxy.url %></td>
        <td class="ellipsis"><%= proxy.features.to_sentence %></td>
        <td><%= action_buttons(*proxy_actions(proxy, authorizer)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate_with_info @smart_proxies %>
