<% title "Proxies" %>

<div class="title_action"><%= display_link_if_authorized "New Proxy", hash_for_new_smart_proxy_path %></div>


<table class="list">
  <tr>
    <th>Name</th>
    <th>URL</th>
    <th>Features</th>
    <th></th>
  </tr>
  <% for proxy in @proxies %>
    <tr class="<%= cycle("even", "odd") -%>">
      <td><%= link_to_if_authorized proxy.name, hash_for_edit_smart_proxy_path(:id => proxy.id) %></td>
      <td><%=h proxy.url %></td>
      <td><%=h proxy.features.to_sentence %></td>
      <td class="ra">
        <% if proxy.features.include? Feature.find_by_name("Puppet CA") -%>
          <%= display_link_if_authorized "Certificates", hash_for_smart_proxy_puppetca_index_path(:smart_proxy_id => proxy) %>
          <%= display_link_if_authorized "Autosign", hash_for_smart_proxy_autosign_index_path(:smart_proxy_id => proxy) %>
        <% end -%>
        <% if proxy.features.include? Feature.find_by_name("DHCP") -%>
          <%= display_link_if_authorized "Import Subnets", hash_for_import_subnets_path(:smart_proxy_id => proxy) %>
        <% end -%>
        <%= display_link_if_authorized "Destroy", hash_for_smart_proxy_path(:id => proxy, :auth_action => :destroy), :confirm => "Destroy #{proxy.name}?", :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>

<%= page_entries_info @proxies %>
<%= will_paginate @proxies %>
