<% title "Proxies" %>

<div class="title_action"><%= link_to "New Proxy", new_smart_proxy_path %></div>


<table class="list">
  <tr>
    <th>Name</th>
    <th>URL</th>
    <th>Features</th>
    <th></th>
  </tr>
  <% for proxy in @proxies %>
    <tr class="<%= cycle("even", "odd") -%>">
      <td><%= link_to proxy.name, edit_smart_proxy_path(proxy) %></td>
      <td><%=h proxy.url %></td>
      <td><%=h proxy.features.to_sentence %></td>
      <td class="ra">
        <% if proxy.features.include? Feature.find_by_name("Puppet CA") -%>
          <%= link_to "Certificates", smart_proxy_puppetca_index_path(proxy) %>
          <%= link_to "Autosign", smart_proxy_autosign_index_path(proxy) %>
          <% end -%>
        <%= link_to "Destroy", proxy, :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>

<%= page_entries_info @proxies %>
<%= will_paginate @proxies %>
