<% title "Proxies" %>

<% title_actions display_link_if_authorized("New Proxy", hash_for_new_smart_proxy_path) %>


<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>URL</th>
    <th>Features</th>
    <th></th>
  </tr>
  <% for proxy in @proxies %>
    <tr>
      <td><%= link_to_if_authorized proxy.name, hash_for_edit_smart_proxy_path(:id => proxy.id) %></td>
      <td><%=h proxy.url %></td>
      <td><%=h proxy.features.to_sentence %></td>
      <td>
        <% ca = proxy.features.detect{|f| f.name == "Puppet CA"} %>
        <%= action_buttons(
          if ca
            display_link_if_authorized("Certificates", hash_for_smart_proxy_puppetca_index_path(:smart_proxy_id => proxy), :class=>"btn")
          end,
          if ca
            display_link_if_authorized("Autosign", hash_for_smart_proxy_autosign_index_path(:smart_proxy_id => proxy))
          end,
          if SETTINGS[:unattended] and proxy.features.detect{|f| f.name == "DHCP" }
            display_link_if_authorized("Import Subnets", hash_for_import_subnets_path(:smart_proxy_id => proxy),:class => ca ? "" : "btn")
          end,
          display_delete_if_authorized(hash_for_smart_proxy_path(:id => proxy), :confirm => "Delete #{proxy.name}?"))%>
      </td>
    </tr>
  <% end %>
</table>

<%= page_entries_info @proxies %>
<%= will_paginate @proxies %>
