<% title(_('Smart Proxy: %s') % @smart_proxy.to_label) %>
<%= smart_proxy_title_actions(@smart_proxy, authorizer) %>
<% service_features = services_tab_features(@smart_proxy) %>

<div class="row proxy-show" data-url="<%= ping_smart_proxy_path(@smart_proxy) %>">

  <ul id="proxy-tab" class="nav nav-tabs">
    <% @page.sorted_tabs.each_with_index do |(name, tab), index| %>
      <% next if name == "services" && service_features.none? %>
      <li class="<%= 'active' if index == 0 %>">
        <a href="#<%= tab.snake_name %>" data-toggle="tab"><%= _(name.capitalize) %></a>
      </li>
    <% end %>
  </ul>

  <div id="proxy-tab-content" class="proxy-content tab-content">
    <% @page.sorted_tabs.each_with_index do |(name, tab), index| %>
      <% next if name == 'services' && service_features.none? %>
      <div class="tab-pane <%= 'active' if index == 0 %>" id="<%= tab.snake_name %>">
        <%= render tab.layout, { :tab => tab, :smart_proxy => @smart_proxy, :service_features => service_features } %>
      </div>
    <% end %>
  </div>

</div>
