<%= javascript "jquery.cookie", "system_checkbox" %>

<% assign_selected_systems_taxonomy_path = (@taxonomy_type == "Location") ? assign_selected_systems_location_path : assign_selected_systems_organization_path %>

<%= form_for taxonomy, :url => assign_selected_systems_taxonomy_path do |f| %>
  <%= base_errors_for taxonomy %>
  <%= wizard_header 3, _("Create %s") % taxonomy.class.name, _("Select Systems"), _("Assign Selected Systems") %>
<div class="row">
  <div class="span11">
<table class="table table-bordered table-striped table-condensed" >
  <tr>
    <th class="ca"><%= check_box_tag "check_all", "", false, { :onclick => "toggleCheck()", :title => _("Select All") } %></th>
    <th class=''><%= sort :name %></th>
    <th class="hidden-phone"><%= sort :os, :as => _("Operating system") %></th>
    <th class="hidden-phone"><%= sort :environment %></th>
    <th class="hidden-tablet hidden-phone"><%= sort :model %></th>
    <th class="hidden-tablet hidden-phone"><%= sort :system_group, :as => _("System group") %></th>
  </tr>
  <% systems.each do |system| %>
    <tr>
      <td class="ca">
        <%= f.check_box(:system_ids, {:label => "", :help_inline => "", :multiple => true, :onclick => 'systemChecked(this)', :id => "system_ids_#{system.id}", :class => 'system_select_boxes', }, system.id) %>
      </td>
      <td><%= name_column(system) %> </td>
      <td class="hidden-phone"><%= (icon(system.os, :size => "18x18") + trunc(" #{system.os}",14)).html_safe if system.os %></td>
      <td class="hidden-phone"><%= trunc(system.try(:environment), 14) %></td>
      <td class="hidden-tablet hidden-phone"><%= model_name system %></td>
      <td class="hidden-tablet hidden-phone"><%= system_group_name system.system_group, 26 %></td>
    </tr>
  <% end %>
</table>

  <%= page_entries_info systems, :more => " - "+_("<b class='select_count'>0</b> selected") %>
  <%= will_paginate systems %>
  </div>
</div>
  <%= content_tag(:div, :class => "form-actions") do %>
    <%= link_to(_("Cancel"), "#{controller_name}_path", :class => "btn") %>
    <%= f.submit(_("Assign to %s") % @taxonomy_type, :class => "btn btn-success") %>
  <% end %>

<% end %>
