<%= fields_for "#{type}[compute_attributes]", @host ? @host.compute_object : compute_resource.new_vm do |compute| %>
  <% if compute.object %>
    <%= render "compute_resources/vms/form/#{compute_resource.provider.downcase}", :f => compute, :compute_resource => compute_resource %>
  <% else %>
    <div class="alert alert-message alert-block alert-warning base in fade">
      <h4>'<%= @host.name %>' Not Found On '<%= compute_resource %>'</h4>
      <p>'<%= @host.name %>' could be deleted. </p>
    </div>
  <% end%>
  <%= hidden_field_tag 'capabilities', compute_resource.capabilities %>
<% end -%>
