<%= fields_for "#{type}[compute_attributes]", @host ? @host.compute_object : compute_resource.new_vm do |compute| %>
  <% if compute.object %>
    <%= render :partial => "compute_resources_vms/form/#{compute_resource.provider.downcase}",
               :locals => { :f => compute, :host => @host, :compute_resource => compute_resource, :arch => @host.try(:architecture_id) || params[:architecture_id], :os => @host.try(:operatingsystem_id) || params[:operatingsystem_id] } %>
  <% else %>
    <div class="alert alert-message alert-block alert-warning base in fade">
      <h4>'<%= @host.name %>' Not Found On '<%= compute_resource %>'</h4>
      <p>'<%= @host.name %>' could be deleted. </p>
    </div>
  <% end%>
  <%= hidden_field_tag 'capabilities', compute_resource.capabilities %>
<% end -%>
