<% form_for @host do |f| %>
  <%= base_errors_for @host %>

  <ul class="tabs" data-tabs="tabs">
    <li class="active"><a href="#primary">Primary</a></li>
    <li><a href="#puppet_klasses">Puppet Classes</a></li>
    <% if SETTINGS[:unattended] and @host.managed -%>
      <li><a href="#network">Network</a></li>
      <li><a href="#os">Operating System</a></li>
      <% if @host.new_record? and !Hypervisor.first.nil? and authorized_for("Hypervisors::Guests", :create) -%>
        <li><a href="#virtual_machine">Virtual Machine</a></li>
      <% end -%>
    <% end -%>
    <li><a href="#params">Parameters</a></li>
    <li><a href="#info">Additional Information</a></li>
  </ul>

  <div class="tab-content">

    <div class="active" id="primary">
      <%= text_f f, :name, :class => "xlarge", :value => name_field(@host) %>
      <%= select_f f, :hostgroup_id, accessible_hostgroups, :id, :to_label,
        { :include_blank => true },
        { :onchange => update_details_from_hostgroup,
          :help_inline => image_tag("spinner.gif", :id => "indicator1", :style => "display:none;")
      } %>
      <%= select_f f, :environment_id, Environment.all, :id, :to_label, { :include_blank => true } %>
      <%= select_f f, :puppetproxy_id,Feature.find_by_name("Puppet").smart_proxies, :id, :name,
        { :include_blank => true},
        { :label => "Puppet Master Proxy"}
      %>
      <%= text_f f, :puppetmaster_name, :label => "Puppet Master FQDN",
        :value => f.object.puppetmaster, :class => "xlarge",
        :help_inline => "only required for legacy puppet run" %>

      <%= (observe_field(:host_hostgroup_id,
                        :url    => { :action => :hostgroup_or_environment_selected, :id => @host.id },
                        :update => :puppet_klasses,
                        :with   => "'hostgroup_id=' + value+'&environment_id='+$('#host_environment_id').attr('value')")
          ) unless @host.new_record? %>
      <%= observe_field(:host_environment_id,
                        :url    => { :action => :hostgroup_or_environment_selected, :id => @host.id },
                        :update => :puppet_klasses,
                        :with   => "'environment_id=' + value+'&hostgroup_id='+$('#host_hostgroup_id').attr('value')") %>
    </div>

    <div id="puppet_klasses">
      <% if @environment or @hostgroup -%>
        <%= render 'puppetclasses/class_selection', :obj => @host %>
      <% else -%>
        <p class="alert-message">Please select an Environment first</p>
      <% end -%>
    </div>

    <%= f.hidden_field :managed %>

    <%= render('unattended', :f => f) if SETTINGS[:unattended] and @host.managed -%>

    <div id="params">
      <%= render "common_parameters/parameters", { :f => f, :type => :host_parameters } %>
    </div>

    <div id="info">
      <% if SETTINGS[:login] -%>
        <%= selectable_f f, :is_owned_by, option_groups_from_collection_for_select(
          [User, Usergroup], :all, :table_name, :id_and_type, :select_title,
          @host.is_owned_by), { :include_blank => "select an owner" }, { :label => "Owned By" }
        %>
      <% end -%>
      <%= checkbox_f f, :enabled, :label => "Alerts Enabled",
        :help_inline => "Include this host within Foreman reporting"
      %>
      <%= select_f f, :model_id, Model.all, :id, :to_label, { :include_blank => true }, {:label => "Hardware Model"} %>
      <%= textarea_f f, :comment, :help_block => "Additional information about this host", :class => "xxlarge", :rows => "3" %>
    </div>
  </div>

  <%= submit_or_cancel f %>
<% end %>
