<%= javascript 'system_edit', 'compute_resource', 'lookup_keys'%>
<%= render "systems/conflicts" if has_conflicts?(@system.errors) %>
<%= render "systems/progress" %>

<% Taxonomy.as_taxonomy @organization , @location do %>

  <%= form_for @system,  :html => {:data => {:id => @system.try(:id), :type_changed => @system.type_changed?, :submit => 'progress_bar'}} do |f| %>
    <%= base_errors_for @system %>

    <ul class="nav nav-tabs" data-tabs="tabs">
      <li class="active"><a href="#primary" data-toggle="tab"><%= _('System') %></a></li>
      <% if SmartProxy.puppet_proxies.count > 0 %>
        <li><a href="#puppet_klasses" data-toggle="tab"><%= _('Puppet Classes') %></a></li>
      <% end %>
      <% if SETTINGS[:unattended] and @system.managed %>
        <li><a href="#network" data-toggle="tab"><%= _('Network') %></a></li>
        <li><a href="#os" data-toggle="tab"><%= _('Operating System') %></a></li>
        <% if authorized_for("Compute::Resources::Vms", :create) %>
          <li id="compute_resource_tab" <%= display? !(@system.compute_resource_id  || params[:system] && params[:system][:compute_resource_id].present?)%>><a href="#compute_resource" data-toggle="tab"><%= _('Virtual Machine') %></a></li>
        <% end %>
      <% end %>
      <li><a href="#params" id='params-tab' data-url='<%= current_parameters_systems_path %>' data-url2='<%= puppetclass_parameters_systems_path %>' data-toggle="tab"><%= _('Parameters') %></a></li>
      <li><a href="#info" data-toggle="tab"><%= _('Additional Information') %></a></li>
    </ul>

    <div class="tab-content">

      <div class="tab-pane active" id="primary">
        <%= text_f f, :name, :class => "input-xlarge", :value => name_field(@system) %>

        <% if show_organization_tab?  %>
          <%= select_f f, :organization_id, Organization.my_organizations, :id, :to_label,
            { :include_blank => !@system.managed?, :selected => @organization.id},
            { :disabled => !@system.new_record?,
              :onchange => 'organization_changed(this);', :label => _("Organization"), :'data-system-id' => @system.id,
            :'data-url' => process_taxonomy_systems_path,
            :help_inline => :indicator } %>
        <% end %>

        <% if show_location_tab? %>
          <%= select_f f, :location_id, Location.my_locations, :id, :to_label,
            { :include_blank => !@system.managed?, :selected => @location.id },
            { :disabled => !@system.new_record?,
              :onchange => 'location_changed(this);', :label => _("Location"), :"data-system-id" => @system.id,
              :'data-url' => process_taxonomy_systems_path, :selected => Location.my_locations,
              :help_inline => :indicator } %>
        <% end %>

        <%= select_f f, :system_group_id, accessible_system_groups, :id, :to_label,
          { :include_blank => true},
          { :onchange => 'system_group_changed(this);', :'data-system-id' => @system.id,
            :'data-url' => (@system.new_record? || @system.type_changed?) ? process_system_group_systems_path : system_group_or_environment_selected_systems_path,
            :help_inline => :indicator } %>

        <%= select_f f, :compute_resource_id, ComputeResource.my_compute_resources, :id, :to_label,
          { :include_blank => _('Bare Metal') },
          {:label => _('Deploy on'), :disabled => !@system.new_record?, :'data-url' => compute_resource_selected_systems_path,
           :onchange => 'computeResourceSelected(this);',
           :help_inline => :indicator } if SETTINGS[:unattended] && @system.new_record? || @system.compute_resource_id %>

        <%= select_f f, :environment_id, Environment.all, :id, :to_label, { :include_blank => true },
            {:onchange => 'update_puppetclasses(this)', :'data-url' => system_group_or_environment_selected_systems_path,
            :'data-system-id' => @system.id, :help_inline => :indicator} %>
        <%= puppet_master_fields f %>
      </div>

      <div class="tab-pane" id="puppet_klasses">
        <% if @environment or @system_group %>
          <%= render 'puppetclasses/class_selection', :obj => @system %>
        <% else %>
          <p class="alert alert-message"><%= _('Please select an environment first') %></p>
        <% end %>
      </div>

      <%= f.hidden_field :managed %>
      <%= f.hidden_field :progress_report_id, :data=>{:url=>task_path(@system.progress_report_id)} %>
      <%= f.hidden_field :type, :value => @system.type if @system.type_changed? %>

      <%= render('systems/unattended', :f => f) if SETTINGS[:unattended] and @system.managed %>

      <div class="tab-pane"  id="params">
        <h6><%= _('Puppet classes Parameters') %></h6>
        <p></p>
        <%= render "puppetclasses/classes_parameters", { :obj => @system } %>
        <h6><%= _('Included Parameters via inheritance') %></h6>
        <p></p>
        <%= render "common_parameters/inherited_parameters", { :inherited_parameters => @system.system_inherited_params(true) } %>
        <h6><%= _('System Parameters') %></h6>
        <p></p>
        <%= render "common_parameters/puppetclasses_parameters", :f => f %>
        <p></p>
        <%= render "common_parameters/parameters", { :f => f, :type => :system_parameters } %>
      </div>

      <div class="tab-pane"  id="info">
        <% if SETTINGS[:login] %>
          <%= selectable_f f, :is_owned_by, option_groups_from_collection_for_select(
            [User, Usergroup], :all, :table_name, :id_and_type, :select_title,
            @system.is_owned_by), { :include_blank => _("select an owner") }, { :label => _("Owned By") }
          %>
        <% end %>
        <%= checkbox_f f, :enabled,
          :help_inline => _("Include this system within Foreman reporting")
        %>
        <div id='model_name'>
          <%= select_f f, :model_id, Model.all, :id, :to_label, { :include_blank => true }, {:label => _("Hardware Model")} unless @system.compute_resource_id%>
        </div>
        <%= textarea_f f, :comment, :help_block => _("Additional information about this system"), :class => "input-xxlarge", :rows => "3" %>
      </div>

    </div>

    <%= f.hidden_field :overwrite? %>
    <%= submit_or_cancel f, @system.overwrite? %>
  <% end %>
<% end %>
