<% field_set_tag 'Virtual Host Settings', :id => "vm" do -%>
  <table>
    <tr>
      <td>Provision on </td>
      <td><%= select :host, :hypervisor_id, select_hypervisor ,{ :include_blank => "Bare Metal"} %></td>
      <td><%= image_tag "spinner.gif", :id => "vm_indicator", :style => "display:none" %></td>
      <% if @hypervisor or (@host and @host.hypervisor?) -%>
        <% (@hypervisor ||= Hypervisor.find(@host.hypervisor_id)) -%>
        <td>Memory</td>
        <td> <%= select :host, :memory, select_memory(@host.memory || @guest.memory) %></td>
        <td>VCPU</td>
        <td> <%= text_field :host, :vcpu, :value => (@host.vcpu || @guest.vcpu), :size => 1 %></td>
        <td>Image Size(GB)</td>
        <td> <%= text_field :host, :disk_size, :value => (@host.disk_size || @guest.volume.size), :size => 1 %></td>
        <td> Storage Pool </td>
        <td> <%= select :host, :storage_pool, @hypervisor.storage_pools, {:selected => @host.storage_pool} %></td>
        <td> Network </td>
        <td> <%= select :host, :network_type, Hypervisor::NETWORK_TYPES, {:selected => @host.network_type } %></td>
        <% if @hypervisor.interfaces.empty? %>
          <td> Interface </td>
          <td> <%= text_field :host, :interface, :size => 8, :title => "Physical Interface on #{@hypervisor.name}", :value => @host.interface %></td>
        <% else -%>
          <td> <%= select :host, :interface, @hypervisor.interfaces, :selected => @host.interface %></td>
        <% end -%>
        <td> Start instance </td>
        <td> <%= check_box :host, :powerup, :checked => true %> </td>
      <% end -%>
    </tr>
  </table>
<% end -%>
<%= observe_field(:host_hypervisor_id,
                  :url => { :action => :hypervisor_selected },
                  :loading => "$('vm_indicator').show()",
                  :complete => "$('vm_indicator').hide()",
                  :with => :host_hypervisor_id)
%>
