<%= javascript "jquery.cookie", "host_checkbox" %>
<% title header ||= "" %>
<table class="table table-bordered table-striped" >
  <tr>
    <th class="ca span0"><%= check_box_tag "check_all", "", false, { :onclick => "toggleCheck()", :title => "Select All" } %></th>
    <th class='span3'><%= sort :name %></th>
    <th><%= sort :os, :as => "Operating<br>System" %></th>
    <th><%= sort :environment %></th>
    <th><%= sort :model %></th>
    <th><%= sort :hostgroup, :as => "Host Group" %></th>
    <th><%= sort :last_report %></th>
    <th></th>
  </tr>
  <% hosts.each do |host| -%>
    <tr>
      <td class="ca span0">
        <%= check_box_tag "host_ids[]", nil, false, :id => "host_ids_#{host.id}", :disabled => !authorized?, :class => 'host_select_boxes', :onclick => 'hostChecked(this)' -%>
      </td>
      <td class='span3'><%= name_column(host) %> </td>
      <td><%= (icon(host.os, :size => "18x18") + trunc(" #{host.os}",14)).html_safe if host.os %></td>
      <td><%= trunc(host.try(:environment), 14) %></td>
      <td><%= trunc(host.try(:model), 14) %></td>
      <td><%= hostgroup_name host.hostgroup, 26 %></td>
      <td><%= last_report_column(host) %></td>
      <td>
        <%= icons("edit"){display_link_if_authorized '', hash_for_edit_host_path(:id => host)} %>
        <%= icons("retweet"){display_link_if_authorized '', hash_for_clone_host_path(:id => host)} %>
        <%= icons("remove"){display_link_if_authorized '', hash_for_host_path(:id => host, :auth_action => :destroy), :confirm => "Delete #{host.name}?", :method => :delete, :action => :destroy} %>
      </td>
    </tr>
  <% end -%>
</table>
<div id="confirmation-modal" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close">×</a>
    <h3>Please Confirm</h3>
  </div>
  <div class="modal-body"></div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary">Submit</a>
    <a href="#" class="btn secondary">Cancel</a>
  </div>
</div>

<%= page_entries_info hosts, :more => " - <strong><span class='select_count'>0</span></strong> Selected" %>
<%= will_paginate hosts %>
