<%= javascript "jquery.cookie", "host_checkbox" %>
<% title header ||= "" %>
<table class="table table-bordered table-striped table-condensed" >
  <tr>
    <th class="ca"><%= check_box_tag "check_all", "", false, { :onclick => "toggleCheck()", :'check-title' => _("Select all items in this page"), :'uncheck-title'=> _("items selected. Uncheck to Clear") } %></th>
    <th class=''><%= sort :name, :as => _('Name') %></th>
    <th class="hidden-phone"><%= sort :os, :as => _("Operating system") %></th>
    <th class="hidden-phone"><%= sort :environment, :as => _('Environment') %></th>
    <th class="hidden-tablet hidden-phone"><%= sort :model, :as => _('Model') %></th>
    <th class="hidden-tablet hidden-phone"><%= sort :hostgroup, :as => _("Host group") %></th>
    <th class="hidden-tablet hidden-phone"><%= sort :last_report, :as => _('Last report') %></th>
    <th></th>
  </tr>
  <% hosts.each do |host| -%>
    <tr>
      <td class="ca">
        <%= check_box_tag "host_ids[]", nil, false, :id => "host_ids_#{host.id}", :disabled => !authorized?, :class => 'host_select_boxes', :onclick => 'hostChecked(this)' -%>
      </td>
      <td class='ellipsis'><%= name_column(host) %> </td>
      <td class="hidden-phone"><%= (icon(host.os, :size => "18x18") + trunc(" #{host.os}",14)).html_safe if host.os %></td>
      <td class="hidden-phone"><%= trunc(host.try(:environment), 14) %></td>
      <td class="hidden-tablet hidden-phone ellipsis"><%= model_name host %></td>
      <td class="hidden-tablet hidden-phone ellipsis"><%= hostgroup_name host.hostgroup, 26 %></td>
      <td class="hidden-tablet hidden-phone"><%= last_report_column(host) %></td>
      <td>
        <%= action_buttons(
                    display_link_if_authorized(_("Edit"), hash_for_edit_host_path(:id => host)),
                    display_link_if_authorized(_("Clone"), hash_for_clone_host_path(:id => host)),
                    display_delete_if_authorized(hash_for_host_path(:id => host), :confirm => _("Delete %s?") % host.name, :action => :destroy))%>
      </td>
    </tr>
  <% end -%>
</table>
<div id="confirmation-modal" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close" data-dismiss="modal">×</a>
    <h3><%= _('Please Confirm') %></h3>
  </div>
  <div class="modal-body"></div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary"><%= _('Submit') %></a>
    <a href="#" class="btn secondary"><%= _('Cancel') %></a>
  </div>
</div>

<%= page_entries_info hosts, :more => " - <strong><span class='select_count'>0</span></strong> " + _("Selected"), :model => 'Hosts' %>
<%= will_paginate hosts %>
