<div>
  <% if hosts.size > 0 -%>
    <table class="list">
      <caption> <%= header -%> </caption>
      <tr>
        <th>Name</th><th>Operatingsystem</th><th>Environment</th><th>Last Report</th><th>Edit</th>
      </tr>
      <% hosts.each do |host| -%>
        <tr class="<%= cycle("even", "odd") -%>">
          <td><%=name_column(host) %></td>
          <td><%=h host.os.to_label %></td>
          <td><%=h host.environment.to_label %></td>
          <td><%=last_report_column(host) %></td>
          <td><%= link_to  'Edit', edit_host_url(host)  %></td>
        <% end -%>
      </tr>
    </table>
    <p>Total of <%= pluralize(hosts.size,"host") %></p>
  <% else -%>
    <p>No Hosts found</p>
  <% end -%>
</div>
<%= link_to "Back", :back %>
