<% if hosts.size > 0 -%>
  <% allow_multiple = authorized_for(:hosts, :edit) or authorized_for(:hosts, :destroy) -%>
  <% form_tag(multiple_actions_hosts_path,:method => "get", :id => "host_select_form") do %>
    <% title header ||= "" %>
    <table class="list">
      <tr>
        <th><%= order @search, :by => :name %></th>
        <th><%= order @search, :by => :operatingsystem_name, :as => "Operating system" %></th>
        <th><%= order @search, :by => :environment_name, :as => "Environment" %></th>
        <th><%= order @search, :by => :model_name, :as => "Model" %></th>
        <th><%= order @search, :by => :hostgroup_name, :as => "Host Group" %></th>
        <th><%= order @search, :by => :last_report %></th>
        <th></th>
      </tr>
      <% hosts.each do |host| -%>
        <tr class="<%= cycle("even", "odd") -%>">
          <td>
            <% if allow_multiple -%>
              <%= check_box_tag "host_ids[]", host.id, selected?(host), :id => "host_ids_#{host.id}", :class => 'host_select_boxes', :onclick => 'insertHostVal(this)' -%>
            <% end -%>
            <%=name_column(host) %>
          </td>
          <td><%=icon(host.os, :size => "18x18", :title => host.os.to_s) + " " + host.os.to_s if host.os %></td>
          <td><%=h host.try(:environment) %></td>
          <td><%=h host.try(:model) %></td>
          <td><%=h host.try(:hostgroup) %></td>
          <td><%=last_report_column(host) %></td>
          <td>
            <%= display_link_if_authorized 'Edit',    hash_for_edit_host_path(:id => host) %>
            <%= display_link_if_authorized 'Clone',   hash_for_clone_host_path(:id => host)  %>
            <%= display_link_if_authorized 'Destroy', hash_for_host_path(:id => host, :auth_action => :destroy), :confirm => "Delete #{host.name}?", :method => :delete, :action => :destroy %>
          </td>
        </tr>
      <% end -%>
    </table>
    <div>
      <%= submit_tag("Edit Multiple Hosts", :title => "Mass assign values to many hosts") if allow_multiple %><br />
    </div>
  <% end -%>
<% end -%>
<%= page_entries_info hosts %>
<%= will_paginate hosts %>
