
<%= select_f f, :architecture_id, Architecture.all, :id, :to_label, {:include_blank => true},
    {:onchange => 'architecture_selected(this);', :'data-url' => method_path('architecture_selected')} %>

<span id="os_select">
  <%= render 'common/os_selection/architecture', :item => @host %>
</span>
<% image_provisioning = f.object.provision_method && f.object.provision_method == 'image' %>
<div id='provisioning_method' <%= display? (@host.capabilities.size < 2)  %> >
  <%= field(f, :provision_method, :label => _('Provisioning Method')) do
      radio_button_f(f, :provision_method, :value=>'build', :checked=> !image_provisioning, :text=> _("Network Based"))+
      radio_button_f(f, :provision_method, :value=>'image', :checked=> image_provisioning, :text=> _("Image Based"))
  end %>
</div>
<div id='network_provisioning' <%= display? image_provisioning  %> >
  <% if @host.new_record? -%>
      <%= checkbox_f f, :build, :checked => true, :help_inline => _("Enable this host for provisioning") %>
  <% end -%>
  <span id="media_select">
    <%= render 'common/os_selection/operatingsystem', :item => @host %>
  </span>


  <%= textarea_f f, :disk, :class => "input-xxlarge", :rows => "4",
           :help_block => _("What ever text(or ERB template) you use in here, would be used as your OS disk layout options If you want to use the partition table option, delete all of the text from this field") %>
  <%= password_f f, :root_pass, :placeholder => password_placeholder(f.object) %>
</div>

<div id='image_provisioning' <%= display? !image_provisioning      %> >

</div>
<!-- this section is used for displaying the provisioning scripts-->
<div class="control-group">
  <div class="control-label"> Provisioning Templates</div>
  <div class="controls">
  <%= link_to_function icon_text("refresh", _("Resolve")), "template_info('#templates_info','#{template_used_hosts_url}')", :class => "btn" %>
  <%=  popover("?", _("Display the templates that will be used to provision this host"), :title=>_("Provisioning Templates")) %>
  </div>
  <br>
<div id="templates_info" class="span6 controls"> </div>
</div>
