
<%= select_f f, :architecture_id, Architecture.all, :id, :to_label, {:include_blank => true},
    {:onchange => 'architecture_selected(this);', :'data-url' => method_path('architecture_selected'),
    :help_inline => :indicator, :required => true} %>

<span id="os_select">
  <%= render 'common/os_selection/architecture', :item => @host %>
</span>

<div id='provisioning_method' <%= display? (@host.capabilities.size < 2)  %> >
  <%= field(f, :provision_method, :label => _('Provisioning Method'), :required => true) do
      radio_button_f(f, :provision_method, :value=>'build', :checked=> @host.pxe_build?, :text=> _("Network Based"), :disabled => !@host.new_record?)+
      radio_button_f(f, :provision_method, :value=>'image', :checked=> @host.image_build?, :text=> _("Image Based"), :disabled => !@host.new_record?)
  end %>
</div>
<div id='network_provisioning' <%= display? !@host.pxe_build? %> >
  <% if @host.new_record? or @host.type_changed? -%>
      <%= checkbox_f f, :build, :checked => true, :help_inline => _("Enable this host for provisioning") %>
  <% end %>
  <span id="media_select">
    <%= render 'common/os_selection/operatingsystem', :item => @host %>
  </span>


  <%= textarea_f f, :disk, :size => "col-md-8", :rows => "4",
           :help_block => _("What ever text(or ERB template) you use in here, would be used as your OS disk layout options If you want to use the partition table option, delete all of the text from this field") %>
  <%= password_f f, :root_pass, :help_inline => _("Password must be 8 characters or more"), :required => true %>
</div>

<div id='image_provisioning' <%= display? !@host.image_build? %> >

</div>
<!-- this section is used for displaying the provisioning scripts-->
<div class="form-group">
  <label class="col-xs-2 control-label"><%= _('Provisioning templates') %></label>
  <div class="col-xs-10">
    <%= link_to_function icon_text("refresh", _("Resolve")), "template_info('#templates_info','#{template_used_hosts_url}')", :class => "btn btn-default" %>
    <div class="help-block">
      <%= _("Display the templates that will be used to provision this host") %>
    </div>
  </div>
  <div id="templates_info" class="col-xs-offset-2 col-xs-8"> </div>
</div>
