<table class="table table-bordered table-striped">
  <tr>
    <th>Details</th>
  </tr>
  <tr>
    <td>
      <%= link_to_if_authorized("Facts", hash_for_host_facts_path(:host_id => @host), :title => "Browse host facts" , :class => 'btn btn-small') %>
      <%= link_to_if_authorized("Reports", hash_for_host_reports_path(:host_id => @host), :title => "Browse host reports" , :class => 'btn btn-small') %>
      <%= link_to("YAML", externalNodes_host_path(:name => @host), :title => "Puppet external nodes YAML dump" , :class => 'btn btn-small') %>
    </td>
  </tr>
</table>
<table class="table table-bordered table-striped">
  <tr>
    <th>Properties</th>
    <th></th>
  </tr>
  <% overview_fields(host).each do |name, value| -%>
    <tr class="<%= cycle("even", "odd") -%>">
      <td><%= name %></td>
      <td><%= value %></td>
    </tr>
  <% end -%>
</table>
