<table class="table table-bordered table-striped">
  <tr>
    <th><%= _('Details') %></th>
  </tr>
  <tr>
    <td>
      <% show_appropriate_host_buttons(@host).each do |btn| -%>
        <%= btn %>
      <% end -%>
    </td>
  </tr>
</table>
<table class="table table-bordered table-striped">
  <tr>
    <th><%= _('Properties') %></th>
    <th></th>
  </tr>
  <% overview_fields(host).each do |name, value| -%>
    <tr>
      <td><%= name %></td>
      <td><%= value %></td>
    </tr>
  <% end -%>
</table>
