<table class="table table-bordered table-striped">
  <tr>
    <th><%= _('Details') %></th>
  </tr>
  <tr>
    <td>
      <% show_appropriate_host_buttons(@host).each do |btn| -%>
        <%= btn %>
      <% end -%>
    </td>
  </tr>
</table>
<table class="table table-bordered table-striped">
  <tr>
    <th><%= _('Properties') %></th>
    <th></th>
  </tr>
  <% overview_fields(host).each do |name, value| -%>
    <tr>
      <td><%= name %></td>
      <td><%= value %></td>
    </tr>
  <% end -%>
  <% host.host_parameters.properties.each do |host_parameter| -%>
    <tr>
      <td><%= host_parameter.name %></td>
      <td><%= link_to(host_parameter.value, hosts_path(:search => "params.#{host_parameter.name} = #{host_parameter.value}")) %></td>
    </tr>
  <% end %>
</table>
