<div class="alert alert-success alert-dismissable">
  <%= icon_text("ok", "",:kind => "pficon") %>
  <%= alert_close %>
  <h4><%= _('Templates resolved for this operating system') %></h4>
  <% templates.sort{|t,x| t.template_kind <=> x.template_kind}.each do |tmplt| %>
      <div class="form-group">
        <div class="control-label col-md-8"> <%= tmplt.template_kind %>
          <%= link_to_if_authorized h(tmplt), hash_for_edit_provisioning_template_path(:id => tmplt.to_param, :auth_object => tmplt, :permission => 'edit_provisioning_templates'), :rel=>"external" %>
        </div>
    </div>
  <% end %>
</div>
