<% form_for @search do |f|-%>
  <div title="A substring match">
    <%= f.label :name_like, "Name" %>
    <%= f.text_field :name_like, :size => 10 %>
  </div>
  <div>
    <%= f.label :hostgroup_id_eq, "Role", :title => "Hosts in this host group" %>
    <%= f.collection_select :hostgroup_id_eq, Hostgroup.all(:select => "id, name"), :id, :name, :include_blank => true %>
    <%= render :partial => 'common/fact_selected' %>
    <%= f.label :puppetclasses_id_eq, "Class", :title => "Hosts which use this puppet class" %>
    <%= f.collection_select :puppetclasses_id_eq, Puppetclass.all(:select => "id, name"), :id, :name, :include_blank => true %>
    <%= f.label :alerts_disabled, "Alerts Disabled" %>
    <%= f.check_box :alerts_disabled %>
    <%= f.submit "Go" %> Save as tab: <%= text_field_tag :tab_name, "", :size => 10 %>
  </div>
<% end %>
