<div class="row">
  <%= alert(:class => 'alert-info hide', :id => 'multiple-modal-alert', :close => true, :header => '',
            :text => multiple_filter(hosts)) %>
  <% unless multiple_with_filter? %>
    <div class="col-md-12">
      <table class="<%= table_css_classes %>">
        <thead>
          <tr>
            <th>
              <%= _("Name") %>
            </th>
            <th>
              <%= _("Host group") %>
            </th>
            <th>
              <%= _("Environment") %>
            </th>
            <th>
              <%= _("Location") %>
            </th>
            <th>
              <%= _("Organization") %>
            </th>
          </tr>
        </thead>
        <tbody>
          <% associations = [:hostgroup, :environment, :organization, :location]  %>
          <% hosts.includes(*associations).each do |host| %>
            <tr>
              <td><%=h host %>
              </td>
              <td><%=h host.try(:hostgroup) %></td>
              <td><%=h host.try(:environment) %></td>
              <td><%=h host.try(:location) %></td>
              <td><%=h host.try(:organization) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= check_box_tag "keep_selected", "", false, :title => _("Remember hosts selection for the next bulk action") %>
      <%= _('Remember hosts selection for the next bulk action') %><br/><br/>
    </div>
  <% end %>
</div>
