<table class="<%= table_css_classes %>">
  <thead>
    <tr>
      <th><%= _("Template Type") %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @templates.each do |template| %>
      <tr id=<%= "template_#{template.id}" %>>
        <td><%= _(template.template_kind.to_s) %></td>
        <td><%= action_buttons(display_link_if_authorized(_("Edit"),
                                                          hash_for_edit_provisioning_template_path(id: template.to_param),
                                                          rel: "external"),
                               link_to(_("Review"),
                                       url_for(controller: '/unattended',
                                               action: 'host_template',
                                               kind: template.template_kind.name,
                                               hostname: @host.name),
                                       rel: 'external',
                                       "data-provisioning-template": true)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
