<div id="virtual_machine" class="clearfix">
  <%= render('common/hypervisor', :item => @host) if @host.new_record? and !Hypervisor.first.nil? and authorized_for("Hypervisors::Guests", :create) %>
</div>

<div id="network" class="clearfix">
  <%= render 'common/domain_subnet', :item => @host %>
  <%= text_f f, :ip, :help_inline => "IP Address for this host, if DHCP Smart proxy is enabled, this should be auto suggested to you", :label => "IP" %>
  <% unless @hypervisor -%>
    <%= text_f f, :mac, :label => "MAC", :help_inline => "MAC address for this host" %>
  <% end -%>
</div>

<div id="os" class="clearfix">
  <%= render "common/os_selection/initial", { :item=> @host } %>
  <%= textarea_f f, :disk, :class => "xxlarge", :label => 'Custom Disk layout', :rows => "4",
    :help_block => "What ever text(or ERB template) you use in here, would be used as your OS disk layout options If you want to use the partition table option, delete all of the text from this field" %>
  <% if @host.new_record? -%>
    <%= checkbox_f f, :build, :checked => true, :help_inline => "Enable this host for provisioning" %>
  <% end -%>

  <div class="row">
    <%= link_to_function "Provisioning Templates", "template_info('#templates_info','#{template_used_hosts_url}')", :title => "Click to refresh", :class => "btn small info span2 ra" %> 
    <div id="templates_info" class="span10"> </div>
  </div>
</div>
