<% field_set_tag 'Unattended settings', :id => "unattended" do -%>
  <span id="virtual_machine">
    <%= render 'hypervisor' if @host.new_record? and Hypervisor.count > 0 %>
  </span>
  <% field_set_tag 'Network settings', :id => "network" do -%>
    <table>
      <tr>
        <td colspan="10">
          <td>Domain</td>
          <td> <%= f.collection_select :domain_id, accessible_domains, :id, :to_label, :include_blank => true %> </td>
          <td><span id="host_subnet"> <%= render 'domain' if @domain %> </span></td>
          <td>IP</td>
          <td id="host_ip_text"><%= text_field :host, :ip, :size => 16 %></td>
          <% unless @hypervisor -%>
            <%= render 'mac' %>
          <% end -%>
          <% if @host.new_record? -%>
            <td title="Enable this host for provisioning">Build? <%= f.check_box :build,:checked => true %></td>
          <% end -%>
        </td>
      </tr>
    </table>
  <% end -%>

  <% field_set_tag 'Operating system settings', :id => "operatingsystem" do -%>
    <table>

      <%= render :partial => "common/os_selection/initial", :locals => { :f => f, :item=> @host } %>

      <tr>
        <td>Root password</td>
        <td><%= f.password_field :root_pass %></td>
        <td>Model</td>
        <td><%= f.collection_select :model_id, Model.all, :id, :to_label, :include_blank => true %></td>
        <td>Serial</td>
        <td><%= f.select :serial, ["","0,9600n8","0,19200n8","1,9600n8","1,19200n8"] %></td>
      </tr>
    </table>
    <%= link_to_function "Switch to custom disk layout", toggle_div("custom_disk") %> <br/>
    <span id="custom_disk" style="display:<%= @host.disk.empty? ? "none" : "inline" %>;">
      <%= f.text_area :disk, :size => "80x10", :title => 'Use custom Disk layout' %><br/>
      <small>What ever text you use in here, would be used as your OS disk layout options<br/>
        If you want to use the partition table option, delete all of the text from this field
      </small>
    </span>
  <% end -%>

<% end -%>


<%= observe_field(:host_domain_id,
                  :url => { :action => :domain_selected, :id => @host.id },
                  :update => :host_subnet,
                  :with => :domain_id)
%>
