<div class="tab-pane" id="virtual_machine">
  <%= render('common/hypervisor', :item => @host) if @host.new_record? and !Hypervisor.first.nil? and authorized_for("Hypervisors::Guests", :create) %>
</div>

<div class="tab-pane"  id="compute_resource">
  <%= render 'compute', :compute_resource => @host.compute_resource if @host.compute_resource_id %>
</div>

<div class="tab-pane"  id="network">
  <span id="mac_address">
    <%= render 'mac', :item => @host unless @hypervisor or @host.compute_resource_id -%>
  </span>

  <%= select_f f, :domain_id, accessible_domains, :id, :to_label, {:include_blank => true},
      {:onchange => 'domain_selected(this);'} %>
  <% if @host.capabilities.include?(:build) %>
      <div id='manage_network'>
        <span id="subnet_select">
          <%= render 'common/domain', :item => @host %>
        </span>
        <%= text_f f, :ip, :help_inline => "IP Address for this host, if DHCP Smart proxy is enabled, this should be auto suggested to you", :label => "IP" , :autocomplete => 'off'%>
        <%= text_f f, :sp_name, :help_inline => "BMC interface DNS name", :label => "BMC Name" , :autocomplete => 'off'%>
        <%= text_f f, :sp_ip,  :label => "BMC IP" , :autocomplete => 'off'%>
        <%= text_f f, :sp_mac, :label => "BMC MAC", :autocomplete => 'off' %>
        <span id="sp_subnet">
          <%= render 'sp_subnet', :item => @host %>
        </span>
      </div>
  <% end %>
</div>

<div class="tab-pane"  id="os">
  <%= render 'operating_system', :host => @host, :f => f %>
</div>
