<div class="tab-pane"  id="compute_resource">
  <%= render 'hosts/compute', :compute_resource => @host.compute_resource if @host.compute_resource_id %>
</div>

<div class="tab-pane"  id="network">
  <%= field_set_tag _("Primary Interface"), :id => "primary_interface" do -%>
    <div id="mac_address" <%= display? @host.compute_resource_id %> >
      <%= text_f f, :mac, :help_inline => _("MAC address for this host"), :autocomplete => 'off' %>
    </div>

    <%= select_f f, :domain_id, accessible_domains, :id, :to_label, {:include_blank => true},
                 {:help_inline => image_tag("/assets/spinner.gif", :id => "domain_indicator", :class => "hide"),
                  :onchange => 'domain_selected(this);', :'data-url' => domain_selected_hosts_path} %>
    <% if @host.capabilities.include?(:build) %>
      <div id='manage_network'>
        <span id="subnet_select">
          <%= render 'common/domain', :item => @host %>
        </span>
        <%= text_f f, :ip, :help_inline => _("IP Address for this host, if DHCP Smart proxy is enabled, this should be auto suggested to you") , :autocomplete => 'off'%>
        <%= f.fields_for :interfaces do |interfaces| %>
          <%= render 'hosts/interfaces', :f => interfaces  %>
        <% end %>
        <%= new_child_fields_template(f, :interfaces, {:partial => "hosts/interfaces"})%>
        <%= add_child_link "+ " + _("Add Interface"), :interfaces, { :class => "info", :title => _('add new network interface') } %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="tab-pane"  id="os">
  <%= render 'hosts/operating_system', :host => @host, :f => f %>
</div>
