<% field_set_tag 'Unattended settings', :id => "unattended" do -%>
  <% field_set_tag 'Network settings', :id => "network" do -%>
    <table>
      <tr>
        <td colspan="10">
          <td>Domain</td>
          <td> <%= f.collection_select :domain_id, Domain.all, :id, :to_label, :include_blank => true %> </td>
          <td><span id="host_subnet"> <%= render 'domain' if @domain %> </span></td>
          <td>IP</td>
          <td><%= text_field :host, :ip, :size => 16 %></td>
          <td>MAC</td>
          <td><%= f.text_field :mac, :size => 17 %></td>
        </td>
      </tr>
    </table>
  <% end -%>

  <% field_set_tag 'Operating system settings', :id => "operatingsystem" do -%>
    <table>
      <tr>
        <td colspan="6">
          <span id="architecture">
            Architecture
            <%= f.collection_select :architecture_id, Architecture.all, :id, :to_label, :include_blank => true %>
            <span id="host_os">
              <% if @architecture -%>
                <%= render "architecture" -%>
              <% end -%>
            </span>
          </span>
        </td>
      </tr>
      <tr>
        <td>Root password</td>
        <td><%= f.password_field :root_pass %></td>
        <td>Model</td>
        <td><%= f.collection_select :model_id, Model.all, :id, :to_label, :include_blank => true %></td>
        <td>Serial</td>
        <td><%= f.select :serial, ["","0,9600n8","0,19200n8","1,9600n8","1,19200n8"] %></td>
      </tr>
    </table>
    <%= link_to_function "Switch to custom disk layout", toggle_div("custom_disk") %> <br/>
    <span id="custom_disk" style="display:<%= @host.disk.empty? ? "none" : "inline" %>;">
      <%= f.text_area :disk, :size => "80x10", :title => 'Use custom Disk layout' %><br/>
      <small>What ever text you use in here, would be used as your OS disk layout options<br/>
        If you want to use the partition table option, delete all of the text from this field
      </small>
    </span>
  <% end -%>

<% end -%>

<%= observe_field(:host_architecture_id,
                  :url => { :action => :architecture_selected, :id => @host.id },
                  :update => :host_os,
                  :with => :architecture_id)
%>
<%= observe_field(:host_domain_id,
                  :url => { :action => :domain_selected, :id => @host.id },
                  :update => :host_subnet,
                  :with => :domain_id)
%>

