<% gcharts_script %>
<% title @host.to_label, false %>
<h1><%= icon(@host.os) + @host.to_label %></h1>

<span class="title_action">
  <%= link_to_if_authorized "Edit",    hash_for_edit_host_path(:id => @host),                       :title => "Edit your host" %> |
  <%= link_to_if_authorized "Facts",   hash_for_fact_values_path(:search=>"host=#{@host.name}"), :title => "Browse host facts" %> |
  <%= link_to_if_authorized "Reports", hash_for_reports_path(:search=>"host=#{@host.name}"),     :title => "Browse host reports" %> |
  <%= link_to_if_authorized "YAML",    hash_for_externalNodes_host_path(:id => @host),              :title => "Puppet external nodes YAML dump" %> |
  <% unless @host.build -%>
    <%= link_to_if_authorized "Build",        hash_for_setBuild_host_path(:id => @host).merge(:auth_action => :edit, :enable_link => @host.can_be_build?),      :title => "Enable rebuild on next host boot", :confirm => "Rebuild #{@host} on next reboot?\nThis would also delete all of its current facts and reports" %>
  <% else -%>
    <%= link_to_if_authorized "Cancel Build", hash_for_cancelBuild_host_path(:id => @host).merge(:auth_action => :edit, :enable_link => !@host.can_be_build?),  :title => "Cancel build request for this host" %>
  <% end -%> |
    <%= link_to_if_authorized "Run puppet", hash_for_puppetrun_host_path(:id => @host).merge(:auth_action => :edit, :enable_link => SETTINGS[:puppetrun]),  :title => "Trigger a puppetrun on a node; requires that puppet run is enabled" %> |
  <span title="Show all host puppet classes, requires storeconfigs">
    <%= link_to_if @host.resources.count > 0, "All Puppet Classes", storeconfig_klasses_host_path(@host) %>
  </span> |
  <%= link_to_if_authorized "Delete", hash_for_host_path(:id => @host, :auth_action => :destroy), :confirm => 'Are you sure?', :method => :delete%>
</span>

<div id="host_overview">
  <%= render :partial => "hosts/overview", :locals => {:host => @host} %>
  <% if @report_summary.size == 0 -%>
    <p>No puppet activity for this host in the last <%= time_ago_in_words(@range.days.ago) %></p>
  <% else -%>
    <%= render :partial => "hosts/metrics", :locals => {:report_summary => @report_summary[@host.name][:metrics]} %>
  <% end -%>
</div>

<div id="host_report">
  <div id="runtime_graph" style='width: 800px; height: 240px;'></div>
  <%= @runtime_graph.render('runtime_graph') %>

  <div id="resource_graph"></div>
  <%= @resource_graph.render('resource_graph') %>

  <% if @host.reports.size > 0 -%>
    <%= form_tag @host, :method => :get %>
    <p><%= select(nil, 'range', 1..days_ago(@host.reports.first.reported_at), {:selected => @range} )%>
    <%= submit_tag "filter", :disable_with => "Updating..." %>
    <%= @host.reports.recent(@range.days.ago).count %> reports in the last <%= time_ago_in_words(@range.days.ago) %></p>
  <% end -%>
</div>
