<% form_for @auth_source_ldap do |f| %>
  <%= f.error_messages %>
  <p class="span-24">
    <%= f.label :name, nil, :class => "span-2" %>
    <%= f.text_field :name, :class => "span-3" %>
  </p>
  <p class="span-24">
    <%= f.label :host, nil, :class => "span-2" %>
    <%= f.text_field :host, :class => "span-5" %>
  </p>
  <p class="span-24">
    <%= f.label :port, nil, :class => "span-2" %>
    <%= f.text_field :port, :class => "span-2" %>
    <%= f.check_box :tls, :class => "span-1" %>
    <%= f.label :tls, "LDAPS", :class => "span-3" %>
  </p>
  <p class="span-24">
  <%= f.label :account, nil, :class => "span-2" %>
  <%= f.text_field :account, :class => "span-3" %>
  <small> Use this account to authenticate,<i>optional</i> </small>
  </p>
  <p class="span-24">
    <%= f.label :account_password, nil, :class => "span-2" %>
    <%= f.password_field :account_password, :class => "span-3", :onfocus => "this.value='';" %>
    <small> Use this account to authenticate, <i>optional</i> </small>
  </p>
  <p class="span-24">
  <%= f.label :base_dn ,nil, :class => "span-2" %>
  <%= f.text_field :base_dn, :class => "span-10" %>
  <%= f.check_box :onthefly_register, :class => "span-2", :onchange => "$('#on_the_fly_attrs').toggle()" %>
  <%= f.label :onthefly_register, "On-the-fly user creation", :class => "span-5 last" %>
  </p>

  <div id="on_the_fly_attrs" class="span-24 last", <%= display(@auth_source_ldap.onthefly_register?) %>>
    <% field_set_tag("Attributes for on the fly user creation") do %>
      <p class="span-24">
      <%= f.label :attr_login, nil, :class => "span-3" %>
      <%= f.text_field :attr_login, :class => "span-4" %>
      <small class="last" >e.g. uid</small>
      </p>
      <p class="span-24">
      <%= f.label :attr_firstname, nil, :class => "span-3" %>
      <%= f.text_field :attr_firstname, :class => "span-4" %>
      <small class="last">e.g. givenName</small>
      </p>
      <p class="span-24">
      <%= f.label :attr_lastname, nil, :class => "span-3" %>
      <%= f.text_field :attr_lastname, :class => "span-4" %>
      <small class="last">e.g. sn</small>
      </p>
      <p class="span-24">
      <%= f.label :attr_mail, nil, :class => "span-3" %>
      <%= f.text_field :attr_mail, :class => "span-4" %>
      <small class="last">e.g. mail</small>
      </p>
    <% end -%>
    <%= f.submit "Submit" %>
  </div>
<% end %>
