<% title _("Ldap Authentication") %>

<% title_actions display_link_if_authorized(_("New Ldap Source"), hash_for_new_auth_source_ldap_path), help_path %>

<table class="table table-bordered table-striped">
  <tr>
    <th><%= _("Name") %></th>
    <th><%= _("Host") %></th>
    <th><%= _("On the fly Register") %></th>
    <th><%= _("LSAPS") %></th>
    <th></th>
  </tr>
  <% for auth_source_ldap in @auth_source_ldaps %>
    <tr>
      <td><%=link_to_if_authorized h(auth_source_ldap.name), hash_for_edit_auth_source_ldap_path(:id => auth_source_ldap.id) %></td>
      <td><%=h auth_source_ldap.host %></td>
      <td><%=checked_icon auth_source_ldap.onthefly_register %></td>
      <td><%=checked_icon auth_source_ldap.tls %></td>
      <td><%= display_delete_if_authorized hash_for_auth_source_ldap_path(:id => auth_source_ldap), :confirm => _("Delete %s?") % auth_source_ldap.name %></td>
    </tr>
  <% end %>
</table>
