<% title "Ldap Authentication" %>

<% title_actions display_link_if_authorized("New Ldap Source", hash_for_new_auth_source_ldap_path), help_path %>

<table class="list">
  <tr>
    <th>Name</th>
    <th>Host</th>
    <th>On the fly Register</th>
    <th>LDAPS</th>
    <th></th>
  </tr>
  <% for auth_source_ldap in @auth_source_ldaps %>
    <tr class="<%= cycle("even", "odd") -%>">
      <td><%=link_to_if_authorized h(auth_source_ldap.name), hash_for_edit_auth_source_ldap_path(:id => auth_source_ldap.id) %></td>
      <td><%=h auth_source_ldap.host %></td>
      <td><%=checked_icon auth_source_ldap.onthefly_register %></td>
      <td><%=checked_icon auth_source_ldap.tls %></td>
      <td><%= display_link_if_authorized "Delete", hash_for_auth_source_ldap_path(:id => auth_source_ldap, :auth_action => :destroy), :confirm => "Delete #{auth_source_ldap.name}?", :method => :delete %></td>
    </tr>
  <% end %>
</table>
