<table class="table table-bordered" data-table="inline">
  <thead>
  <tr>
    <th><%= _('Name') %></th>
    <th><%= _('Type') %></th>
    <th><%= _('State') %></th>
    <th></th>
  </tr>
  </thead>
  <% @vms.each do |vm| %>
    <tr>
      <td><%= link_to_if_authorized vm.name, hash_for_compute_resource_vm_path(:compute_resource_id => @compute_resource, :id => vm.identity).merge(:auth_object => @compute_resource, :authorizer => authorizer) %></td>
      <td><%= vm.pretty_machine_type %></td>
      <td><%= vm.state.downcase %></td>
      <td>
        <%= action_buttons(vm_power_action(vm, authorizer),
                           display_delete_if_authorized(hash_for_compute_resource_vm_path(:compute_resource_id => @compute_resource, :id => vm.identity).merge(:auth_object => @compute_resource, :authorizer => authorizer))) %>
      </td>
    </tr>
  <% end %>
</table>
