<thead>
  <tr>
    <th><%= _('Name') %></th>
    <th><%= _('Type') %></th>
    <th><%= _('State') %></th>
    <th><%= _('Actions') %></th>
  </tr>
</thead>
<tbody>
  <% @vms.each do |vm| %>
    <tr>
      <td><%= vm.name %></td>
      <td><%= vm.flavor.name %></td>
      <td>
        <span <%= vm_power_class(vm.ready?) %>>
          <%= vm_state(vm) %></span>
      </td>
      <td>
        <%= action_buttons(
                vm_power_action(vm, authorizer),
                vm_import_action(vm),
                display_delete_if_authorized(hash_for_compute_resource_vm_path(:compute_resource_id => @compute_resource, :id => vm.id).merge(:auth_object => @compute_resource, :authorizer => authorizer))) %>
      </td>
    </tr>
  <% end %>
</tbody>
