<table class="table table-bordered" data-table='inline'>
  <thead>
  <tr>
    <th><%= _('Name') -%></th>
    <th><%= _('CPUs') -%></th>
    <th><%= _('Memory') -%></th>
    <th><%= _('Power') -%></th>
    <th><%= _('DomID') -%></th>
  </tr>
  </thead>
  <tbody>
  <% @vms.each do |vm| -%>
    <tr>
      <td><%= link_to_if_authorized vm.name, hash_for_compute_resource_vm_path(:compute_resource_id => @compute_resource, :id => vm.identity) %></td>
      <td><%= vm.vcpus_max %></td>
      <td><%= vm.memory_static_max %></td>
      <td><%= vm.power_state %></span> </td>
      <td><%= vm.domid %></span> </td>
	
      </td>

    </tr>
  <% end -%>
  </tbody>
</table>