<div class="blank-slate-pf">
  <div class="blank-slate-pf-icon">
    <%= icon_text("globe", "", :kind => "fa") %>
  </div>
  <h1><%= _('HTTP Proxies') %></h1>
  <p>
    <%= _("Defining HTTP Proxies that exist on your network allows you to perform various actions through those proxies.") %></br>
  </p>
  <p><%= link_to _('Learn more about this in the documentation.'), documentation_url("5.9HTTP(S)Proxy")%></p>
  <div class="blank-slate-pf-main-action">
      <%= new_link(_("New HTTP Proxy"), {}, { :class => "btn-lg" }) %>
  </div>
</div>
