<div class="user-filter">
  <div class="row">
    <%= field_set_tag "Owned hosts" do %>
      <div class="span2 ra">
        Select <%= f.check_box :filter_on_owner %>
      </div>
      <div class="span10">
        <%=  contracted_host_list @user -%>
        <%=  expanded_host_list @user -%>
      </div>
    <% end -%>
  </div>
  <div class="row">
    <%= field_set_tag "Domain hosts" do %>
      <div class="span2 ra">
        <%= f.select :domains_andor, [["in domain", "and"], ["plus all", "or"]], {}, :class => "small" %>
      </div>
      <div class="span10">
        <%= edit_habtm @user, Domain %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <%= field_set_tag "Hostgroup hosts" do %>
      <div class="span2 ra">
        <%= f.select :hostgroups_andor, [["must be", "and"], ["plus all", "or"]], {}, :class => "small" %>
      </div>
      <div class="span10">
        <%= edit_habtm @user, Hostgroup %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <%= field_set_tag "Fact filters" do %>
      <div class="span2 ra">
        <%= f.select :facts_andor, [["must match", "and"], ["plus all", "or"]], {} ,:class => "small" %>
      </div>
      <div class="span10">
        <%= f.fields_for :user_facts do |builder| -%>
          <%= render "user_fact", :f => builder %>
        <% end -%>
        <% if authorized_for(params[:controller], params[:action]) -%>
          <p><%= link_to_add_fields("+", f, :user_facts, "user_fact", :title => "Add a fact filter") %></p>
        <% end -%>
      </div>
    <% end %>
  </div>
</div>
