<%= javascript 'users', 'password_strength' %>

<%= form_for @user do |f| %>
  <%= base_errors_for @user %>

  <ul class='nav nav-tabs' data-tabs='tabs'>
    <li class='active'><a href='#primary' data-toggle='tab'><%= _('User') %></a></li>
    <% if show_location_tab? %>
      <li><a href='#locations' data-toggle='tab'><%= _('Locations') %></a></li>
    <% end %>
    <% if show_organization_tab? %>
      <li><a href='#organizations' data-toggle='tab'><%= _('Organizations') %></a></li>
    <% end %>
    <li><a href='#roles' data-toggle='tab'><%= _('Roles') %></a></li>
  </ul>

  <div class='tab-content'>
    <div class='tab-pane active' id='primary'>

      <%= text_f f, :login, :disabled => f.object.login == 'admin' %>
      <%= text_f f, :firstname %>
      <%= text_f f, :lastname %>
      <%= text_f f, :mail %>

      <%= selectable_f(f, :locale, FastGettext.human_available_locales,
                        { :include_blank => _('Browser locale') } , { :label => _('Language') } ) %>

      <%= select_f(f, :auth_source_id, AuthSource.except_hidden.delete_if { |a| a.to_label.nil? } , :id,
                      :to_label, { :include_blank => true } ,
                      { :onchange => 'auth_source_selected()',
                        :label => _('Authorized by') } ) unless @editing_self %>

      <div id='password' <%= display? !@user.manage_password? %>>
        <%= password_f f, :password, :label => _('Password') %>
        <%= password_f f, :password_confirmation, :label => _('Verify') %>
      </div>
    </div>

    <div class='tab-pane' id='roles'>
      <%= checkbox_f f, :admin if User.current.can_change_admin_flag? %>
      <%= multiple_checkboxes f, :roles, @user, Role.givable.for_current_user,
                               { :label => _('Roles')}, {:disabled => @editing_self ? Role.givable.for_current_user.pluck(:id) : false } %>
    </div>
    <%= render 'taxonomies/loc_org_tabs', :f => f, :obj => @user,
               :html_options => user_taxonomies_html_options(@user)
      %>
  </div>

  <%= submit_or_cancel f %>
<% end %>
