<%= form_for @user, :html=>{:class=>"form-horizontal"} do |f| %>
  <%= base_errors_for @user %>

  <ul class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a href="#primary" data-toggle="tab">Primary</a></li>
    <% unless @editing_self %>
      <li><a href="#filters" data-toggle="tab">Filters</a></li>
    <% end -%>
    <% if show_organization_tab? and not @user.admin? %>
      <li><a href="#organizations" data-toggle="tab">Organizations</a></li>
    <% end -%>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="primary">

      <%= text_f f, :login, :disabled => f.object.login == "admin" %>
      <%= text_f f, :firstname, :label => "First Name" %>
      <%= text_f f, :lastname, :label => "Last Name" %>
      <%= text_f f, :mail %>

      <% unless @editing_self -%>
        <%= select_f f, :auth_source_id, AuthSource.all.delete_if { |a| a.to_label.nil? }, :id, :to_label, {:include_blank => true,
          :label => "Authorized by"}, {:onchange => 'auth_source_selected()'}
        %>
      <% end -%>

      <div id="password" <%= display? !@user.manage_password? %>>
        <%= password_f f, :password %>
        <%= password_f f, :password_confirmation, :label => "Verify" %>
      </div>
      <% unless @editing_self -%>
      <%= checkbox_f f, :admin, :label => "Administrator" %>
      <%= multiple_checkboxes f, :roles, @user, Role.givable %>
    </div>

    <div class="tab-pane" id="filters">
      <%= render("filters", :f => f) %>
    </div>

    <% if show_organization_tab? and not @user.admin? %>
    <div class="tab-pane" id="organizations">
      <%= multiple_checkboxes f, :organizations, @user, Organization %>
    </div>
    <% end -%>

    <% end %>
  </div>
  <%= submit_or_cancel f %>
<% end -%>
