<% form_for @user do |f| %>
  <%= f.error_messages %>
  <table>
    <tr>
      <td> Login<br /> <%= f.text_field :login %> </td>
    </tr>
    <tr>
      <td> First name<br /> <%= f.text_field :firstname %> </td>
    </tr>
    <tr>
      <td> Last name<br /> <%= f.text_field :lastname %> </td>
    </tr>
    <tr>
      <td> Mail<br /> <%= f.text_field :mail %> </td>
    </tr>
    <% if @user.auth_source and @user.auth_source.can_set_password? -%>
      <tr>
        <td> Password<br /> <%= f.password_field :password %> </td>
      </tr>
      <tr>
        <td> Verification<br /> <%= password_field_tag :verification, nil, :size => 30 %> </td>
      </tr>
    <% end -%>
    <tr>
      <td> Authorized by<br />
        <%= f.collection_select :auth_source_id, AuthSource.all.delete_if{|a| a.to_label.nil?}, :id, :to_label %>
      </td>
    </tr>
    <tr>
      <td> Administrator <%= f.check_box :admin %> </td>
    </tr>
    <tr>
      <td> <%= f.submit "Submit" %> </td>
    </tr>
  </table>
<% end %>
