<%= javascript 'charts' %>
<% title _("Trends") %>
<% title_actions new_link(_("Add Trend Counter")),
                 documentation_button('4.1.3Trends') %>
<%= render 'trends/extraction_warning' %>
<% if @trends.empty? %>
  <%= alert :class => 'alert-info', :header => _("No trend counter defined"),
            :text => (_("To define trend counters, use the Add Trend Counter button.</br> To start collecting trend data, set a cron job to execute 'foreman-rake trends:counter' at least every %s minutes.") % Setting[:outofsync_interval]).html_safe %>
<% end %>

<% if @trends.any? and TrendCounter.unconfigured? %>
  <%= alert :class => 'alert-info', :header => _("No trend counter found"),
            :text => (_("To start collecting trend data, set a cron job to execute <span class='black'>foreman-rake trends:counter</span> at least every %s minutes.") % Setting[:outofsync_interval]).html_safe %>
<% end %>

<table class="<%= table_css_classes 'table-fixed' %>">
  <thead>
    <tr>
      <th class='col-md-10'><%= _("Name") %></th>
      <th class='col-md-2'><%= _("Action") %></th>
    </tr>
  </thead>
  <tbody>
    <% @trends.each do |trend| %>
      <tr>
        <td class="ellipsis"><%= link_to trend.to_label, trend_path(:id => trend), :title => _("Show Trends") %></td>
        <td>
          <%= action_buttons(
                  display_link_if_authorized(_("Edit"), hash_for_edit_trend_path(:id => trend)),
                  display_delete_if_authorized(hash_for_trend_path(:id => trend), :data => { :confirm => _("Delete all the trend history for %s?") % trend.type_name })) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate_with_info @trends %>
<% unless TrendCounter.unconfigured? %>
  <%= _("Last update:") %>
  <%= date_time_relative(TrendCounter.order(:created_at).last.created_at) %>
<% end %>
