<% title "Trends for #{trend_title(@trend)}" %>
<% content_for(:search_bar) { trend_days_filter } %>

<%= trend_chart 'trend_graph', "#{trend_title(@trend)}", "last #{range} days", chart_data(@trends, range.days.ago) %>

<table class="table">
  <% head = @hosts ? "Hosts" : "Values" %>
  <th colspan="4"><%= head %></th>
  <tr>
    <% if @hosts && @trend.is_a?(FactTrend) %>
      <%= render 'fact_hosts' %>
    <% elsif @hosts %>
      <%= render 'foreman_hosts' %>
    <% else %>
      <%= render 'trends' %>
    <% end %>
  </tr>
</table>