<% content_for(:title, _("Trends")) %>
<%= render 'trends/extraction_warning' %>
<div class="blank-slate-pf">
  <div class="blank-slate-pf-icon">
    <%= icon_text("area-chart", "", :kind => "fa") %>
  </div>
  <h1><%= _('Trends') %></h1>
  <p><%= _("Trends in Foreman allow you to track changes in your infrastructure over time. It allows you to track both Foreman related information and to any fact. The Trend pages give a graph of how the number of hosts with that value have changed over time, and list the current hosts.") %></p>
  <p><%= link_to _('Learn more about this in the documentation.'), documentation_url("4.1.3Trends")%></p>
  <div class="blank-slate-pf-main-action">
    <%= new_link(_("Add Trend Counter"), :class => 'btn-lg') %>
  </div>
</div>
