<li class="nav-header"><%= _('Location') %></li>
<li class="dropdown-submenu">
  <% location_count = Location.my_locations.count %>
  <%= location_dropdown location_count %>
  <ul class="dropdown-menu">
    <% if User.current.admin? %>
      <li><%= link_to(_('Any Location'), clear_locations_path) %></li>
      <%= content_tag(:li, "", :class=>"divider") %>
    <% end %>
    <% Location.my_locations.each do |location| %>
      <li><%= link_to(location.name, select_location_path(location)) %></li>
    <% end %>
  </ul>
</li>
<% if User.current.allowed_to?(:create_locations) %>
  <li><%= link_to _("Manage Locations"), locations_path, :class=> "manage-menu" %></li>
<% end %>
