<div id="menu">
  <table>
    <tr>
      <td style="width: 100%;">
        <ul>
          <li> <%= link_to "Dashboard",  dashboard_path   %> </li>
          <li> <%= link_to "Hosts",      hosts_path       %> </li>
          <li> <%= link_to "Reports",    reports_path     %> </li>
          <li> <%= link_to "Facts",      fact_values_path %> </li>
          <li> <%= link_to "Audit Log",  audits_path      %> </li>
          <li> <%= link_to "Statistics", statistics_path  %> </li>
        </ul>
      </td>
      <td>
        <%= render "home/settings" -%>
      </td>
    </tr>
  </table>
</div>
