<div id="menu">
  <ul>
    <li> <%= link_to "Dashboard",  dashboard_path   %> </li>
    <li> <%= link_to "Hosts",      hosts_path       %> </li>
    <li> <%= link_to "Reports",    reports_path     %> </li>
    <li> <%= link_to "Facts",      fact_values_path %> </li>
    <li> <%= link_to "Audit Log",  audits_path      %> </li>
    <li> <%= link_to "Statistics", statistics_path  %> </li>
    <li> <%= link_to "Settings",   settings_path    %> </li>
  </ul>
</div>
