<li class="nav-header"><%= _('Organization') %></li>
<li class="dropdown-submenu org-menu">
  <% orgs_count = Organization.my_organizations.count %>
  <%= organization_dropdown orgs_count %>
  <ul class="dropdown-menu org-submenu">
    <li><%= link_to(_('Any Organization'), main_app.clear_organizations_path) %></li>
    <%= content_tag(:li, "", :class => "divider") %>
    <% Organization.my_organizations.each do |organization| %>
      <li><%= link_to(trunc_with_tooltip(organization.title), main_app.select_organization_path(organization)) %></li>
    <% end %>
  </ul>
</li>
<% if User.current.allowed_to?(:view_organizations) %>
  <li><%= link_to _("Manage Organizations"), main_app.organizations_path, :class => "manage-menu" %></li>
<% end %>
