<li id='menu_tab_settings' class="dropdown" >
<% choices = setting_options %>
<%= link_to ("More" + content_tag(:span,'', :class=>"caret")).html_safe, "#", :class => "dropdown-toggle", :'data-toggle'=>"dropdown" unless choices.empty?%>
  <ul class="dropdown-menu">
    <% choices.each do |item|-%>
       <% if item[0] == :divider  %>
         <%= content_tag(:li, "", :class=>"divider") %>
       <% elsif item[0] == :group %>
         <%= content_tag :li, :class=>"dropdown-submenu" do %>
           <%= link_to(item[1],"#",:class=>"dropdown-toggle", :"data-toggle"=>"dropdown") %>
           <%=  content_tag :ul, :class=>"dropdown-menu" do%>
             <% item[2].each do |sub_item|-%>
               <%= content_tag(:li, link_to(sub_item[0], {:controller => sub_item[1], :action => :index})) %>
             <% end %>
           <% end %>
         <% end %>
       <% else %>
         <%= content_tag(:li, link_to(item[0], {:controller => item[1], :action => :index})) %>
       <% end -%>
    <% end -%>
  </ul>
</li>
