<div class="navbar navbar-default navbar-outer">
  <div class="navbar-header">
    <div class="container">
      <div class="navbar-brand">
        <%= image_tag("header_logo.svg", :class => "header-logo") %>
        <%= link_to "Foreman", main_app.root_path %>
      </div>
      <div id="turbolinks-progress"><div class="spinner spinner-inverse"></div></div>
      <% if User.current %>
        <div>
          <ul class="nav navbar-nav navbar-right navbar-header-menu navbar-collapse collapse" id="menu4">
            <%= render_menu :header_menu %>
            <%= render 'home/user_dropdown' if SETTINGS[:login] %>
          </ul>
          <% if SETTINGS[:login] %>
            <div id='notification_drawer'> </div>
            <%= mount_react_component('NotificationDrawer', '#notification_drawer', {}) %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="navbar navbar-default navbar-inner navbar-fixed-top persist-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-header-menu">
    <span class="glyphicon glyphicon-user"></span>
  </button>
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menu">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-admin">
    <span class="glyphicon glyphicon-cog"></span>
  </button>
  <div class="container">
    <!-- menu -->
    <% if User.current %>
      <% cache(TopbarSweeper.fragment_name, :skip_digest => true) do %>
        <ul class="nav navbar-nav navbar-menu navbar-collapse collapse" id="menu">
          <%= render "home/org_switcher" %>
          <%= render_menu :top_menu %>
        </ul>
        <ul class="nav navbar-nav navbar-admin navbar-right navbar-collapse collapse" id="menu2">
          <%= render_menu :admin_menu %>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>
