<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav1">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</a>
<a class="btn btn-navbar" style="padding: 5px 11px 2px 11px;" data-toggle="collapse" data-target=".nav2">
  <span class="icon-cog icon-white"></span>
</a>
<!-- menu -->
<div id='current_tab' data-controller='<%=controller_name.gsub(/_.*/,"s")%>'> </div>

<% if User.current %>
  <% cache(TopbarSweeper.fragment_name) do %>
    <div class="nav-collapse collapse nav1">
      <ul class="nav" id="menu">
        <%= render "home/org_switcher" %>
        <%= render "home/submenu", :menu_items => hosts_menu_items, :menu_title => _("Hosts") %>
        <%= render "home/submenu", :menu_items => provision_menu_items, :menu_title => _("Provision") if SETTINGS[:unattended] %>
        <%= render "home/submenu", :menu_items => config_menu_items, :menu_title => _("Configure") %>
        <%= render "home/submenu", :menu_items => monitor_menu_items, :menu_title => _("Monitor") %>
      </ul>
    </div>
    <div class="nav-collapse collapse nav2">
      <ul class="nav pull-right" id="menu2">
        <%= render "home/submenu", :menu_items => admin_menu_items, :menu_title => _("Administer") %>
      </ul>
    </div>
  <% end %>
<% end %>
