<div class="navbar navbar-default navbar-outer">
      <div class="navbar-left-side">
        <div class="logo-container">
        <%= image_tag("header_logo.svg", :class => "header-logo") %>
        <%= link_to "Foreman", main_app.root_path %>
          <div id="turbolinks-progress"><div class="spinner spinner-inverse"></div></div>
        </div> 
       
          <%= render "home/org_switcher" %>
        
      </div>
      <div>
      </div>
      <% if User.current %>
        <div class="user-dropdown-container">
          <ul class="nav navbar-nav navbar-right navbar-header-menu navbar-collapse collapse" id="menu4">
            <%= render_menu :header_menu %>
            <%= render 'home/user_dropdown' if SETTINGS[:login] %>
          </ul>
          <% if SETTINGS[:login] %>
            <div id='notification_drawer'> </div>
          <% end %>
        </div>
      <% end %>
</div>
<%= mount_react_component('NotificationDrawer', '#notification_drawer', {}) %>
