<%= content_tag :li, :class => "list-group-item secondary-nav-item-pf #{mobile_class}", "data-target" => "#{menu_name}-secondary" do %> 
  <a id= <%= "#{menu_name}" %>>
  <%= content_tag(:span, '', :class => "#{menu_icon}", "data-toggle" => "tooltip", :title => menu_title) %>
  <%= content_tag(:span, menu_title, :class => "list-group-item-value")   %>
  </a>
  <div id=<%= "#{menu_name}-secondary" %> class="nav-pf-secondary-nav">

  <div class="nav-item-pf-header">
  <a class="secondary-collapse-toggle-pf", data-toggle="collapse-secondary-nav" ></a>
    <%= content_tag :span, _(menu_title) %>
  </div>
    <ul class="list-group">
      <% authorized_menu_actions(menu_items).each do |item| %>
        <% case item %>
        <% when Menu::Item %>
          <%= menu_secondary_item item %>
        <% when Menu::Divider %>
          <%= content_tag(:li, :class => "list-group-item") do %>
            <%= content_tag(:span, _(item.caption), :class => "vertical-sub-header") if item.caption %></a>
          <% end %>
        <% when Menu::Toggle %>
          <%= content_tag :li, :class => "dropdown-submenu" do %>
            <%= link_to(_(item.caption), "#", :class => "dropdown-toggle", :"data-toggle" => "dropdown") %>
            <%= content_tag :ul, :class => "dropdown-menu" do %>
              <% authorized_menu_actions(item.children).each do |sub_item| %>
                <%= menu_item_tag sub_item %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>