<li class="list-group-item secondary-nav-item-pf">
  <%= link_to (menu_title + content_tag(:span, '', :class => "secondary-nav-item-pf")).html_safe, "#", :id => menu_name %>
  <div class="nav-pf-secondary-nav">
    <ul class="list-group">
        <%= content_tag(:li, _(menu_title), :class => "nav-item-pf-header") %>
    
    <% authorized_menu_actions(menu_items).each do |item| %>
      <% case item %>
      <% when Menu::Item %>
          <%= menu_item_tag item %>
      <% when Menu::Divider %>
        <%= content_tag(:li, "", :class => "divider") %>
        <%= content_tag(:li, _(item.caption), :class => "nav-item-pf-header") if item.caption %>
      <% when Menu::Toggle %>
        <%= content_tag :li, :class => "dropdown-submenu" do %>
          <%= link_to(_(item.caption), "#", :class => "dropdown-toggle", :"data-toggle" => "dropdown") %>
          <%= content_tag :ul, :class => "dropdown-menu" do %>
            <% authorized_menu_actions(item.children).each do |sub_item| %>
              <%= menu_item_tag sub_item %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    </ul>
  </div>
</li>
