<li class="list-group-item secondary-nav-item-pf visible-xs-block" data-target=<%= "#{taxonomy_type}-secondary" %>>
  <a>
    <%= content_tag(:span, '', :class => icon_name, "data-toggle" => "tooltip", :title => _(taxonomy_type.humanize)) %>
    <%= content_tag(:span, _(taxonomy_type.humanize), :class => "list-group-item-value")   %>
  </a>
  <div id=<%= "#{taxonomy_type}-secondary" %> class="nav-pf-secondary-nav">

    <div class="nav-item-pf-header">
      <a class="secondary-collapse-toggle-pf", data-toggle="collapse-secondary-nav" ></a>
      <%= content_tag :span, _(taxonomy_type.humanize) %>
    </div>
    <ul class="list-group">
      <%= taxonomies_menu({:name => "Any #{taxonomy_type.humanize}", :caption => "Any #{taxonomy_type.humanize}", :url =>  {:controller => "/#{taxonomy_type}s", :action => "clear"}})  %>
      <%= content_tag(:div, "", :class => "divider") %>
      <% taxonomy_type.humanize.constantize.send("my_#{taxonomy_type}s").each do |item| %>
        <%= taxonomies_menu({:name => item.title, :caption => item.title, :url =>  {:controller => "/#{taxonomy_type}s", :action => "select", :id => item.id}}) %>
      <% end %>
    </ul>
  </div>
</li>