<ul>
  <li><%= link_to 'Puppet Classes',     { :controller => 'puppetclasses' } %></li>
  <li><%= link_to 'Puppet Groups',      { :controller => 'hostgroups' } %></li>
  <li><%= link_to 'Domains',            { :controller => 'domains' } %></li>
  <li><%= link_to 'Operating Systems',  { :controller => 'operatingsystems' } %></li>
  <li><%= link_to 'Installation Medias',{ :controller => 'medias' } %></li>
  <li><%= link_to 'Hardware Models',    { :controller => 'models' } %></li>
  <li><%= link_to 'Environments',       { :controller => 'environments' } %></li>
  <li><%= link_to 'Architectures',      { :controller => 'architectures' } %></li>
  <li><%= link_to 'Partition Tables',   { :controller => 'ptables' } %></li>
  <li><%= link_to 'Global Parameters',  { :controller => 'common_parameters' } %></li>
  <li><%= link_to 'LDAP Authentication',{ :controller => 'auth_sources' } %></li>
  <li><%= link_to_if $settings[:ldap], 'Users',              { :controller => 'users' } %></li>
</ul>
