<ul>
  <li><%= link_to 'Authentication', { :controller => 'auth_sources' } %></li>
  <li><%= link_to 'Classes',        { :controller => 'puppetclass' } %></li>
  <li><%= link_to 'Disk',           { :controller => 'ptable' } %> </li>
  <li><%= link_to 'Models',     { :controller => 'model' } %></li>
  <li><%= link_to 'Modules',    { :controller => 'pmodule' } %></li>
  <li><%= link_to 'Network DB',   { :controller => 'netdb' } %></li>
  <li><%= link_to 'OS',       { :controller => 'operatingsystem' } %></li>
  <li><%= link_to 'Sites',      { :controller => 'domain' } %></li>
  <li><%= link_to 'Subnets',    { :controller => 'subnet' } %></li>
  <li><%= link_to 'Users',      { :controller => 'user' } %></li>
</ul>
