<ul>
  <li><%= link_to 'Puppet Classes',        { :controller => 'puppetclasses' } %></li>
  <li><%= link_to 'Puppet Groups',        { :controller => 'hostgroups' } %></li>
  <li><%= link_to 'Domains',      { :controller => 'domains' } %></li>
  <li><%= link_to 'OS',       { :controller => 'operatingsystems' } %></li>
  <li><%= link_to 'Installation Medias',      { :controller => 'medias' } %></li>
  <li><%= link_to 'Models',     { :controller => 'models' } %></li>
  <li><%= link_to 'Environments',      { :controller => 'environments' } %></li>
  <li><%= link_to 'Architectures',      { :controller => 'architectures' } %></li>
  <li><%= link_to 'Partition tables',      { :controller => 'ptables' } %></li>
  <li><%= link_to 'Global parameters',      { :controller => 'common_parameteres' } %></li>
</ul>
