<ul>
  <li><%= link_to 'Host Types',        { :controller => 'hosttypes' } %></li>
  <li><%= link_to 'Models',     { :controller => 'model' } %></li>
  <li><%= link_to 'OS',       { :controller => 'operatingsystem' } %></li>
  <li><%= link_to 'Sites',      { :controller => 'domain' } %></li>
  <li><%= link_to 'environments',      { :controller => 'environments' } %></li>
  <li><%= link_to 'Installation Medias',      { :controller => 'media' } %></li>
  <li><%= link_to 'architecture',      { :controller => 'architecture' } %></li>
</ul>
