<div id="settings">
  <ul>
    <li><%= link_to 'Puppet Classes',     puppetclasses_path %>      </li>
    <li><%= link_to 'Puppet Groups',      hostgroups_path %>         </li>
    <li><%= link_to 'Domains',            domains_path %>            </li>
    <li><%= link_to 'Operating Systems',  operatingsystems_path %>   </li>
    <li><%= link_to 'Installation Medias',medias_path %>             </li>
    <li><%= link_to 'Hardware Models',    models_path %>             </li>
    <li><%= link_to 'Environments',       environments_path %>       </li>
    <li><%= link_to 'Architectures',      architectures_path %>      </li>
    <li><%= link_to 'Partition Tables',   ptables_path %>            </li>
    <li><%= link_to 'Global Parameters',  common_parameters_path %>  </li>
    <li><%= link_to "External Variables", lookup_keys_path %>        </li>
    <li><%= link_to 'LDAP Authentication', auth_source_ldaps_path %> </li>
    <li><%= link_to_if SETTINGS[:ldap], 'Users', users_path %>       </li>
  </ul>
</div>
