<span id="image_details" class="span-24 last" >
  <%= label_tag "#{item}_use_image", "Build from img?", :class => "span-3" -%>
  <span class="span-3">
    <%= hidden_field_tag type + "[use_image]", 0 %>
    <%= check_box_tag type + "[use_image]", 1, item.use_image, :id => type + "_cb_use_image" -%>
  </span>
  <%= label_tag "#{item}_image_file", "Image filename",  :class => "span-4" -%>
  <%= image_file_entry item-%>
  <%= observe_field type + "_cb_use_image",
    :url => { :action => :use_image_selected },
    :with => "'#{type}[use_image]=' + value + '&#{type}[medium_id]=' + $('##{type}_medium_id').attr('value') + '&#{type}[operatingsystem_id]=' + $('##{type}_operatingsystem_id').attr('value') + '&#{type}[architecture_id]=' + $('##{type}_architecture_id').attr('value')"
  %>

</span>
