<%= fields_for item do |f| %>
  <span id="image_details">
    <%= checkbox_f f, :use_image, :id => type + "_cb_use_image", :label => "Build from img?" -%>
    <%= hidden_field_tag type + "[use_image]", 0 %>
    <%= image_file_entry f, item-%>
    <%= observe_field type + "_cb_use_image",
      :url => { :action => :use_image_selected },
      :with => "'#{type}[use_image]=' + value + '&#{type}[medium_id]=' + $('##{type}_medium_id').val() + '&#{type}[operatingsystem_id]=' + $('##{type}_operatingsystem_id').val() + '&#{type}[architecture_id]=' + $('##{type}_architecture_id').val() + '&#{type}[model_id]=' + $('##{type}_model_id').val()"
    %>
  </span>
<% end -%>
