<% form_for @setting do |f| %>
    <%= f.error_messages %>
    <%= f.label :value, "Value", :class => "span-3" %>
    <%= value(f) %>
    <br/>
    <%= f.label :description, "Description", :class => "span-3" %>
    <span class="span-12 last">
      <%= @setting.description %>
    </span>

<% end %>
