<% title _("Settings") %>
<% title_actions documentation_button('3.5.2ConfigurationOptions') %>

<%= react_component('SettingRecords', { settings: grouped_settings(@settings) }) %>

<ul class="nav nav-tabs" data-tabs="tabs">
  <% @settings.categories.each do |category, label| %>
    <li class="<%= 'active' if category == @settings.categories.keys.first %>">
      <a href="#<%= category %>" data-toggle="tab"><%= _(label) %></a>
    </li>
  <% end %>
</ul>
<div class="tab-content">
  <% @settings.categories.each do |category, _label| %>
    <div class="tab-pane<%= ' active' if category == @settings.categories.keys.first %>" id='<%= category %>' >
      <%= render_if_partial_exists "settings/category/#{category.downcase}", category %>

      <%= react_component('SettingsTable', { category: category }) %>

    </div>
  <% end %>
</div>

<%= react_component('SettingUpdateModal') %>
