<% title "Settings" %>
<ul class="nav nav-tabs" data-tabs="tabs">
  <% @settings.group_by(&:category).each do |category, setting| %>
    <li class='<%= category == @settings.first.category ? "active" : ""%>'>
      <a href='<%= "##{category}" %>'  data-toggle="tab"><%= "#{category}" %></a>
    </li>
  <% end %>
</ul>
<div class="tab-content">
  <% @settings.group_by(&:category).each do |category, setting| %>
      <div class="tab-pane <%= "active" if category == @settings.first.category  %>" id='<%= category %>' >
        <table class="table table-bordered table-striped">
          <tr>
            <th>Name</th>
            <th>Value</th>
            <th>Description</th>
          </tr>
          <% setting.each do |item| %>
            <tr>
              <td><%=h item.name %></td>
              <td class="setting_value"><%= value(item) %></td>
              <td><%=h item.description %></td>
            </tr>
          <% end %>
        </table>
      </div>
  <% end %>
</div>

