<table class='<%= table_css_classes %> table-fixed' data-table="inline">
  <thead>
    <tr>
      <th class="col-md-5"><%= _("Hostname") %></th>
      <th class="col-md-1"><%= _("IP Address") %></th>
      <th class="col-md-2"><%= _("MAC") %></th>
      <th class="col-md-2"><%= _("State") %></th>
      <th class="col-md-2"><%= _("Start") %></th>
      <th class="col-md-2"><%= _("End") %></th>
    </tr>
  </thead>
  <tbody>
    <% leases.each do |record| %>
      <tr>
        <td class="ellipsis"><%= record['hostname'] %></td>
        <td><%=record['ip'] %></td>
        <td><%= record['mac'] %></td>
        <td><%= _(record['state']) %></td>
        <td><%= record['starts'] %></td>
        <td><%= record['ends'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>