<table id="<%= subnet.network.parameterize %>_leases" class='<%= table_css_classes %> table-fixed' data-table="inline">
  <thead>
    <tr>
      <th class="col-md-4"><%= _("Hostname") %></th>
      <th class="col-md-2"><%= _("IP Address") %></th>
      <th class="col-md-2"><%= _("MAC") %></th>
      <th class="col-md-2"><%= _("State") %></th>
      <th class="col-md-2"><%= _("Start") %></th>
      <th class="col-md-2"><%= _("End") %></th>
    </tr>
  </thead>
  <tbody>
    <% subnet.leases.each do |record| %>
      <tr>
        <td class="ellipsis"><%= link_to_host subnet, record['hostname'], @smart_proxy %></td>
        <td><%=record['ip'] %></td>
        <td><%= record['mac'] %></td>
        <td><%= _(record['state']) %></td>
        <td><%= record['starts'] %></td>
        <td><%= record['ends'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
