<% javascript 'charts' %>
<ul id="proxy-puppet-tab" class="nav nav-tabs nav-tabs-pf">
  <li class="active"><a href="#puppet_dashboard" data-toggle="tab"><%= _("General")%></a></li>
  <li><a href="#puppet_envs" data-toggle="tab"><%= _('Environments') %></a></li>
</ul>
<div class="tab-content" id="proxy-puppet-tab-content">
  <div class="tab-pane active in dashboard" id="puppet_dashboard">
    <div class="row">
      <div class="col-md-6">
        <%= show_feature_version('puppet') %>
        <div class="row">
          <div class="col-md-4"><strong><%= _('Hosts managed:') %></strong></div>
          <div class="col-md-8">
            <%= link_to Host::Managed.where(:puppet_proxy_id => @smart_proxy.id).count, hosts_path(:search => "puppetmaster = \"#{@smart_proxy.name}\"") %>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix row container-cards-pf container-fluid" data-ajax-url="<%= puppet_dashboard_smart_proxy_path(@smart_proxy) %>" data-on-complete="refreshCharts"><%= spinner %></div>
  </div>
  <div class="tab-pane" id="puppet_envs" data-ajax-url="<%= puppet_environments_smart_proxy_path(@smart_proxy) %>">
    <%= spinner %>
  </div>
</div>
