<%= javascript "compute_resource" %>
<%= form_for @compute_resource do |f| %>
  <%= base_errors_for @compute_resource %>

  <% if show_taxonomy_tabs? %>
    <ul class="nav nav-tabs" data-tabs="tabs">
      <li class="active"><a href="#primary" data-toggle="tab">Compute Resource</a></li>
      <% if show_location_tab? %>
        <li><a href="#locations" data-toggle="tab">Locations</a></li>
      <% end %>
      <% if show_tenant_tab? %>
        <li><a href="#tenants" data-toggle="tab">Tenants</a></li>
      <% end %>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="primary">
  <% end %>
        <%= text_f f, :name %>
        <%= selectable_f f, :provider, ComputeResource::PROVIDERS, { :include_blank => "Choose a provider"},
                         {:disabled=> f.object.uuid.present?, :'data-url'=> provider_selected_compute_resources_path, :onchange => 'providerSelected(this);'} %>
        <%= textarea_f f, :description, :rows => 3 %>
        <div id='compute_connection'>
          <%= render "compute_resources/form/#{@compute_resource.provider.downcase}", :f => f unless @compute_resource.provider.empty? %>
        </div>
    <% if show_taxonomy_tabs? %>
      </div>
      <% if show_location_tab? %>
        <div class="tab-pane" id="locations">
          <%= multiple_checkboxes f, :locations, @compute_resource, Location %>
        </div>
      <% end %>

     <% if show_tenant_tab? %>
        <div class="tab-pane" id="tenants">
          <%= multiple_checkboxes f, :tenants, @compute_resource, Tenant %>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= submit_or_cancel f %>
<% end %>
