<% title _("Listing compute resources") %>
<% title_actions display_link_if_authorized(_("New Compute Resource"), hash_for_new_compute_resource_path), help_path %>

<table class="table table-bordered table-striped">
  <tr>
    <th><%= sort :name, :as => _("Name") %></th>
    <th><%= sort :type, :as => _("Type") %></th>
    <th></th>
  </tr>

<% @compute_resources.each do |compute| %>
  <tr>
    <td><%= link_to compute.name, compute %></td>
    <td><%= compute.provider_friendly_name %></td>
    <td>
      <%= action_buttons(link_to(_('Edit'), edit_compute_resource_path(compute)),
                         display_delete_if_authorized(hash_for_compute_resource_path(:id => compute), :confirm => _("Delete %s?") % compute.name)) %>
    </td>
  </tr>
<% end %>
</table>

<%= page_entries_info @compute_resources %>
<%= will_paginate @compute_resources %>
