<%= javascript "compute_resource" %>
<ul class="nav nav-tabs" data-tabs="tabs">
  <li class="active"><a href="#primary" data-toggle="tab">Primary</a></li>
  <li><a href="#vms" data-toggle="tab">Virtual Machines</a></li>
</ul>

<div class="tab-content">

  <div class="tab-pane active" id="primary">
    <table class="table table-bordered table-striped">
      <th>Details</th>
      <th></th>
    <tr>
      <td>Name</td>
      <td><%= @compute_resource.name %></td>
    </tr>

    <tr>
      <td>Provider</td>
      <td><%= @compute_resource.provider %></td>
    </tr>

    <tr>
      <td>Description</td>
      <td><%= @compute_resource.description %></td>
    </tr>

    <tr>
      <td>URL</td>
      <td><%= @compute_resource.url %></td>
    </tr>
    </table>
  </div>
  <div id="vms" class="tab-pane" data-url=<%= compute_resource_vms_path(@compute_resource) %>>
    <p id="vms_spinner">
      <%= image_tag 'spinner.gif' %>
      Loading Virtual Machines information ...
    </p>
  </div>

</div>

<%= link_to 'Edit', edit_compute_resource_path(@compute_resource), :class => "btn" %>
<%= link_to 'Back', compute_resources_path, :class => "btn" %>
