<% title "Autosign entries for #{@proxy}" %>

<% title_actions display_link_if_authorized("Certificates", hash_for_smart_proxy_puppetca_index_path(:smart_proxy_id => @proxy)),
  autosign_form %>

<table class='list'>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  <% @autosign.each do |cert| -%>
      <tr class="<%= cycle("even", "odd") -%>">
        <td><%= h cert%> </td>
        <td>
          <%= display_delete_if_authorized hash_for_smart_proxy_autosign_path(:smart_proxy_id => @proxy, :id => cert) %>
        </td>
      </tr>
  <% end -%>
</table>
<%= page_entries_info @autosign, :model => "Autosign entries" %>
<%= will_paginate @autosign %>
