<% title "Autosign entries for #{@proxy}" %>

<div class="title_action">
  <%= display_link_if_authorized "Certificates", hash_for_smart_proxy_puppetca_index_path(:smart_proxy_id => @proxy) %>
  <%= render :partial => 'form' if authorized_for "SmartProxies::Autosign", :create%>
</div>

<table class='list'>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  <% @autosign.each do |cert| -%>
      <tr class="<%= cycle("even", "odd") -%>">
        <td><%= h cert%> </td>
        <td>
          <%= display_link_if_authorized "Destroy", hash_for_smart_proxy_autosign_path(:smart_proxy_id => @proxy, :id => cert).merge(:auth_ation => :destroy), :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
  <% end -%>
</table>
<%= page_entries_info @autosign, :entry_name => "Autosign entries" %>
<%= will_paginate @autosign %>
