<%= form_for @operatingsystem do |f| %>
  <%= base_errors_for @operatingsystem %>
  <ul class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a href="#primary" data-toggle="tab">Operating System</a></li>
    <li><a href="#params" data-toggle="tab">Parameters</a></li>
    <% if SETTINGS[:unattended] -%>
      <li><a href="#templates" data-toggle="tab">Templates</a></li>
    <% end -%>
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="primary">

      <%= text_f f, :name, :help_inline => "e.g. RedHat" %>
      <%= text_f f, :major, :help_inline => "e.g. 6", :class => "input-small" %>
      <%= text_f f, :minor, :help_inline => "e.g. 2", :class => "input-small" %>
      <%= select_f f, :family, Operatingsystem.families_as_collection, :value, :name, { :include_blank => "Choose a family"},
        { :label => "OS Family", :help_inline => "The Operating System type", :onchange => 'show_release(this);'}
      %>
      <div id="release_name" <%= display?(!@operatingsystem.use_release_name?) %>>
        <%= text_f f, :release_name, :help_inline => "e.g. karmic, lucid, hw0910 etc" %>
      </div>

      <%= multiple_checkboxes f, :architectures, @operatingsystem, Architecture %>
      <%= multiple_checkboxes f, :ptables, @operatingsystem, os_habtm_family(Ptable, f.object), :label => "Partition tables" %>
      <%= multiple_checkboxes f, :media, @operatingsystem,   os_habtm_family(Medium, f.object), :label => "Installation media" %>
    </div>

    <%= render('template_defaults', :f => f) if SETTINGS[:unattended] -%>

    <div class="tab-pane" id="params">
      <%= render "common_parameters/parameters", { :f => f, :type => :os_parameters } %>
    </div>
  </div>

  <%= submit_or_cancel f %>
<% end %>
