<%= form_for @operatingsystem do |f| %>
  <%= base_errors_for @operatingsystem %>
  <ul class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a href="#primary" data-toggle="tab"><%= _("Operating System") %></a></li>
    <li><a href="#params" data-toggle="tab"><%= _("Parameters") %></a></li>
    <% if SETTINGS[:unattended] -%>
      <li><a href="#templates" data-toggle="tab"><%= _("Templates") %></a></li>
    <% end -%>
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="primary">

      <%= text_f f, :name, :label => _("Name"), :help_inline => _("e.g. RedHat") %>
      <%= text_f f, :major, :label => _("Major"), :help_inline => _("e.g. 6"), :class => "input-small" %>
      <%= text_f f, :minor, :label => _("Minor"), :help_inline => _("e.g. 2"), :class => "input-small" %>
      <%= select_f f, :family, Operatingsystem.families_as_collection, :value, :name, { :include_blank => _("Choose a family")},
        { :label => _("OS Family"), :help_inline => _("The Operating System type"), :onchange => 'show_release(this);'}
      %>
      <div id="release_name" <%= display?(!@operatingsystem.use_release_name?) %>>
        <%= text_f f, :release_name, :label => _("Release Name"), :help_inline => _("e.g. karmic, lucid, hw0910 etc") %>
      </div>

      <%= multiple_checkboxes f, :architectures, @operatingsystem, Architecture, :label => _("Architectures") %>
      <%= multiple_checkboxes f, :ptables, @operatingsystem, os_habtm_family(Ptable, f.object), :label => _("Partition tables") %>
      <%= multiple_checkboxes f, :media, @operatingsystem,   os_habtm_family(Medium, f.object), :label => _("Installation media") %>
    </div>

    <%= render('template_defaults', :f => f) if SETTINGS[:unattended] -%>

    <div class="tab-pane" id="params">
      <%= render "common_parameters/parameters", { :f => f, :type => :os_parameters } %>
    </div>
  </div>

  <%= submit_or_cancel f %>
<% end %>
