<% form_for :operatingsystem, :url => family_url(@operatingsystem), :html => {:method => family_html_method } do |f| %>
  <%= f.error_messages %>
  <p>
  <%= f.label :name %>
  <%= f.text_field :name, :size => "12" %>
  <%= f.label :major %>
  <%= f.text_field :major, :size => 8 %>
  <%= f.label :minor %>
  <%= f.text_field :minor, :size => 8 %>
  <%= f.label :family_id, "OS Family" %>
  <%= f.collection_select :family, Operatingsystem.families_as_collection, :value, :name, {:include_blank => "Choose a family"}%>
  <span id="release_name" <%= 'style="display:none;"' unless @operatingsystem.family == "Debian" -%> >
    <%= f.label :release_name, "Release name" %>
    <%= f.text_field :release_name, :size => 12%>
    <small>e.g. karmic, lucid, etch, woody</small>
  </span>
  </p>
  <p>
  <% field_set_tag("Architecture") do %>
    <%= edit_habtm @operatingsystem, Architecture %>
  <% end -%>
  </p>
  <p>
  <% field_set_tag("Partition tables") do %>
    <%= edit_habtm @operatingsystem, Ptable %>
  <% end -%>
  </p>
  <p>
  <% field_set_tag("Installation Medias") do %>
    <%= edit_habtm @operatingsystem, Media %>
  <% end -%>
  </p>

  <% unless @operatingsystem.new_record? -%>
    <p>Currently used by <%= @operatingsystem.hosts.count %> hosts</p>
  <% end -%>

  <p><%= f.submit "Submit" %></p>
<% end %>
<%= observe_field "operatingsystem_family", :function => show_release %>
