<% form_for :operatingsystem, :url => family_url(@operatingsystem), :html => {:method => family_html_method } do |f| %>
  <%= f.error_messages %>
  <table>
    <tr>
      <td> Name</td>
      <td> <%= f.text_field :name, :size => "12" %> </td>
      <td> Major</td>
      <td> <%= f.text_field :major, :size => 8 %> </td>
      <td> Minor</td>
      <td> <%= f.text_field :minor, :size => 8 %></td>
      <td> OS Family</td>
      <td> <%= f.collection_select :family, Operatingsystem.families_as_collection, :value, :name, {:include_blank => "Choose a family"}%></td>
      <td id="release_name"  colspan="3" <%= 'style="display:none;"' unless @operatingsystem.family == "Debian" -%> >
        Release name
        <%= f.text_field :release_name, :size => 12%>
        <small>e.g. karmic, lucid, etch, woody</small>
      </td>
    </tr>
  </table>
  </p>
  <p>
  <% field_set_tag("Architecture") do %>
    <%= edit_habtm @operatingsystem, Architecture %>
  <% end -%>
  </p>
  <p>
  <% field_set_tag("Partition tables") do %>
    <%= edit_habtm @operatingsystem, Ptable %>
  <% end -%>
  </p>
  <p>
  <% field_set_tag("Installation Medias") do %>
    <%= edit_habtm @operatingsystem, Media %>
  <% end -%>
  </p>

  <% unless @operatingsystem.new_record? -%>
    <p>Currently used by <%= @operatingsystem.hosts.count %> hosts</p>
  <% end -%>

  <p><%= f.submit "Submit" %></p>
<% end %>
<%= observe_field "operatingsystem_family", :function => show_release %>
