<% form_for @operatingsystem do |f| %>
  <%= base_errors_for @operatingsystem %>
  <ul class="tabs" data-tabs="tabs">
    <li class="active"><a href="#primary">Primary</a></li>
    <li><a href="#params">Parameters</a></li>
    <% if SETTINGS[:unattended] -%>
      <li><a href="#templates">Templates</a></li>
    <% end -%>
  </ul>

  <div class="tab-content">

    <div class="active" id="primary">

      <%= text_f f, :name, :help_inline => "e.g. RedHat" %>
      <%= text_f f, :major, :help_inline => "e.g. 6", :class => "small" %>
      <%= text_f f, :minor, :help_inline => "e.g. 2", :class => "small" %>
      <%= select_f f, :family, Operatingsystem.families_as_collection, :value, :name, { :include_blank => "Choose a family"},
        { :label => "OS Family", :help_inline => "The Operating System type" }
      %>
      <div id="release_name" <%= display?(!@operatingsystem.use_release_name?) %>>
        <%= text_f f, :release_name, :help_inline => "e.g. karmic, lucid, hw0910 etc" %>
      </div>
      <%= observe_field "operatingsystem_family", :function => show_release %>

      <%= multiple_checkboxes f, :architectures, @operatingsystem, Architecture %>
      <%= multiple_checkboxes f, :ptables, @operatingsystem, Ptable, :label => "Partition tables" %>
      <%= multiple_checkboxes f, :media, @operatingsystem, Medium, :label => "Installation media" %>
    </div>

    <%= render('template_defaults', :f => f) if SETTINGS[:unattended] -%>

    <div id="params">
      <%= render "common_parameters/parameters", { :f => f, :type => :os_parameters } %>
    </div>
  </div>

  <%= submit_or_cancel f %>
<% end %>
