<% form_for @operatingsystem do |f| %>
  <%= f.error_messages %>
  <div class="span-24 last">
    <%= f.label :name, nil, :class => "span-2" %>
    <%= f.text_field :name, :class => "span-3" %>
    <%= f.label :major, nil, :class => "span-2" %>
    <%= f.text_field :major, :class => "span-1" %>
    <%= f.label :minor, nil, :class => "span-2" %>
    <%= f.text_field :minor, :class => "span-1" %>
    <%= f.label :family, "OS Family", :class => "span-2" %>
    <%= f.collection_select :family, Operatingsystem.families_as_collection, :value, :name, {:include_blank => "Choose a family"}, {:class => "span-2"}%>
    <span id="release_name" <%= display?(!@operatingsystem.use_release_name?) %> title="e.g. karmic, lucid, hw0910 etc" >
      <%= f.label :release_name, nil, :class => "span-3" %>
      <%= f.text_field :release_name, :class => "span-2 last" %>
    </span>
    <%= observe_field "operatingsystem_family", :function => show_release %>
  </div>
  <br/>
  <p>
  <% field_set_tag("Architecture") do %>
    <%= authorized_edit_habtm @operatingsystem, Architecture %>
  <% end -%>
  </p>
  <p>
  <% field_set_tag("Partition tables") do %>
    <%= authorized_edit_habtm @operatingsystem, Ptable %>
  <% end -%>
  </p>
  <p>
  <% field_set_tag("Installation Media") do %>
    <%= authorized_edit_habtm @operatingsystem, Medium %>
  <% end -%>
  </p>
  <%= render('template_defaults', :f => f) unless @operatingsystem.new_record? %>

  <%= render "common_parameters/parameters", { :f => f, :type => :os_parameters } %>

  <p><%= f.submit "Submit" %></p>
<% end %>
