<div class="fields">
  <%= f.label :template_kind_id, "Type", :class => "span-3" %>
  <%= f.collection_select(:template_kind_id, TemplateKind.all, :id, :name,
                          {:include_blank => true }, { :class => "span-3",
                            :onchange => remote_function(:url => {:action => :templates_for_type},
                                                         :update => span_id(f.object),
                                                         :with => "'template_kind_id='+value+'&fid='+name+'&id=#{@operatingsystem.id}'") }) %>
  <span id="<%= span_id f.object %>">
    <%= f.label :config_template_id, "Template",:class => "span-3" %>
    <%= f.collection_select(:config_template_id, @operatingsystem.config_templates.template_kind_id_eq(f.object.template_kind), :id, :name, 
                            { :include_blank => @operatingsystem.config_templates.template_kind_id_eq(f.object.template_kind).size > 0 },
                            { :class => "span-5"} ) %>
  </span>
  <%= link_to_remove_fields("remove", f) %>
</div>
