<% title "Operating systems" %>

<table class="list">
  <tr>
    <th>Name</th>
    <th>Architectures</th>
    <th>Hosts</th>
    <th></th>
  </tr>
  <% for operatingsystem in @operatingsystems %>
    <tr class="<%= cycle("even", "odd") -%>">
      <td><%= link_to h(operatingsystem.to_label), edit_operatingsystem_path(operatingsystem) %></td>
      <td><%=h operatingsystem.architectures.to_sentence %>
      <td><%=h operatingsystem.hosts.count %>
      <td><%= link_to "Destroy", operatingsystem, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Operating system", new_operatingsystem_path %></p>
