<% title _("Operating systems") %>
<% title_actions display_link_if_authorized(_("New Operating system"), hash_for_new_operatingsystem_path) %>

<table class="table table-bordered table-striped">
  <tr>
    <th><%= sort :name, :as => _("Name") %></th>
    <th><%= _("Hosts") %></th>
    <th></th>
  </tr>
  <% for operatingsystem in @operatingsystems %>
    <tr>
      <td><%= link_to_if_authorized(os_name(operatingsystem), hash_for_edit_operatingsystem_path(:id => operatingsystem.id)) %></td>
      <td class="ra"><%= link_to @counter[operatingsystem.id] || 0, hosts_path(:search => "os = #{operatingsystem.name}") %></td>
      <td class="ra">
        <%= display_delete_if_authorized hash_for_operatingsystem_path(:id => operatingsystem), :confirm => _("Delete %s?") % operatingsystem.fullname %>
      </td>
    </tr>
  <% end %>
</table>

<%= page_entries_info @operatingsystems, :model => "operating system" %>
<%= will_paginate @operatingsystems %>
