<% title "Operating systems" %>

<table class="list">
  <tr>
    <th>Name</th>
    <th>Family</th>
    <th></th>
  </tr>
  <% for operatingsystem in @operatingsystems %>
    <tr class="<%= cycle("even", "odd") -%>">
      <td><%= link_to h(operatingsystem.to_label), edit_operatingsystem_path(operatingsystem) %></td>
      <td><%= h operatingsystem.family %></td>
      <td align="right">
        <%= link_to "Destroy", operatingsystem, :confirm => "Delete #{operatingsystem.fullname}?", :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>

<%= page_entries_info @operatingsystems %>
<%= will_paginate @operatingsystems %>

<p><%= link_to "New Operatingsystem", new_operatingsystem_path %></p>
