<% title "Operating system" %>

<p>
<strong>Name:</strong>
<%=h @operatingsystem.to_label %>
</p>
<p>
<strong>Archicture:</strong>
<%=show_habtm @operatingsystem.architectures %>
</p>
<p>
<strong>Partition tables:</strong>
<%=show_habtm @operatingsystem.ptables %>
</p>

<p>
<strong>Installation medias:</strong>
<%=show_habtm @operatingsystem.medias %>
</p>

<p>
Currently used by <%= @operatingsystem.hosts.count %> hosts
</p>

<p>
<%= link_to "Edit", edit_operatingsystem_path(@operatingsystem) %> |
<%= link_to "Destroy", @operatingsystem, :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to "View All", operatingsystems_path %>
</p>
