<div id="welcome">
  <h2>Operatingsystem configuration</h2>
  <P>
  As your installation does not appear to have any operating systems declared then you might want to configure some at this point. (If you have not already visited the <%= link_to "partition table", ptables_path -%> or
  <%= link_to "installation medium", media_path -%> pages then it would be sensible to initialise these first.)
  </p>
  <p>
  For example, if you intend to support "lucid" Ubuntu then enter "Ubuntu", "10", "04", "lucid" and select the "Debian" family of operatingsystems. The <b>Family</b> selection allows Foreman to properly understand the
  layout of the operatingsystem's installation medium.
  </p>
  <p>
  This page also provides a mechanism for selecting the target architectures that your installation will be building. You will also be prompted to provide a default disk layout for all
  machines of this type and from where you would be expecting the machine to retrieve its installation files.
  </p>
  <p>
  It is possible that some of these selections are empty, and if so, you should go to the correct settings page to setup your <%= link_to "installation media", media_path -%> and <%= link_to "disk layouts", ptables_path -%>.
  </p>

  <%= link_to "New operatingsystem", new_operatingsystem_path -%>.
  </p>
</div>

