<% form_for @domain do |f| %>
  <%= f.error_messages %>
  <p  title="The full DNS Domain name">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p title="A descriptive name">
    <%= f.label :fullname %><br />
    <%= f.text_field :fullname %>
  </p>

  <p>
    <%= f.label :dns_id %><br />
    <%= f.collection_select :dns_id, SmartProxy.all, :id, :name, :include_blank => true %>
  </p>

  <%= render :partial => "common_parameters/parameters", :locals => { :f => f, :type => :domain_parameters } %>

  <p><%= f.submit "Submit" %></p>
<% end %>
