<% title "Domains" %>

<% title_actions display_link_if_authorized("New Domain", hash_for_new_domain_path), help_path %>

<table class="list">
  <tr>
    <th><%= sort :name %></th>
    <th>Hosts</th>
    <th class="ra"></th>
  </tr>
  <% for domain in @domains %>
    <tr class="<%= cycle("even", "odd") -%>">
      <td><%= link_to_if_authorized h(domain.fullname.empty? ? domain.name : domain.fullname), hash_for_edit_domain_path(:id => domain.name)%></td>
      <td><%= link_to_if domain.hosts.any?, domain.hosts.size, hosts_path(:search => "domain = #{domain}") %>
      <td class="ra"> <%= display_link_if_authorized "Delete", hash_for_domain_path(:id => domain, :auth_action => :destroy), :confirm => "Delete #{domain.name}?", :method => :delete %></td>
    </tr>
  <% end %>
</table>
<%= page_entries_info @domains %>
<%= will_paginate     @domains %>
