<% title "Domains" %>

<table class="list">
  <tr>
    <th>Name</th>
    <th>Hosts</th>
    <th></th>
  </tr>
  <% for domain in @domains %>
    <tr class="<%= cycle("even", "odd") -%>">
      <td><%= link_to h(domain.fullname.empty? ? domain.name : domain.fullname), edit_domain_path(domain)%></td>
      <td><%= domain.hosts.size %>
      <td align="right"> <%= link_to "Destroy", domain, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<%= page_entries_info @domains %>
<%= will_paginate     @domains %>

<p><%= link_to "New Domain", new_domain_path %></p>
