<% title "Domains" %>

<div class="title_action"> <%= display_link_if_authorized "New Domain", hash_for_new_domain_path%></div>

<table class="list">
  <tr>
    <th><%= sort :name %></th>
    <th>Hosts</th>
    <th class="ra"></th>
  </tr>
  <% for domain in @domains %>
    <tr class="<%= cycle("even", "odd") -%>">
      <td><%= link_to_if_authorized h(domain.fullname.empty? ? domain.name : domain.fullname), hash_for_edit_domain_path(:id => domain.name)%></td>
      <td><%= domain.hosts.size %>
      <td class="ra"> <%= display_link_if_authorized "Destroy", hash_for_domain_path(:id => domain, :auth_action => :destroy), :confirm => "Delete #{domain.name}?", :method => :delete %></td>
    </tr>
  <% end %>
</table>
<%= page_entries_info @domains %>
<%= will_paginate     @domains %>
