<% title "Domain" %>

<p>
  <strong>Name:</strong>
  <%=h @domain.name %>
</p>
<p>
  <strong>Fullname:</strong>
  <%=h @domain.fullname %>
</p>

<%= render 'common_parameters/show_parameter', :parameter => @domain.domain_parameters.all %>
<p>
  <%= link_to "Edit", edit_domain_path(@domain) %> |
  <%= link_to "Destroy", @domain, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", domains_path %>
</p>
