<% audits.each do |audit| %>
  <div class='row'>
    <div class='span1'>&nbsp;<%= icon_text('play') if @audit && @audit.version == audit.version %></div>
    <div class='span3'><%= audited_icon audit %></div>
    <div class='span6 ra'><h6><%= audit_time audit %></h6></div>
  </div>
  <div class='row'>
    <div class='offset2 span8 audit-content'>
      <b>
        <% if audit_login? audit %>
          <%= audit_user(audit)%> <%=link_to("Logged-in", audit_path(audit))  %>
        <% else %>
          <%= audit_user(audit) %> <%= audit_remote_address audit %> <%= audit_action_name audit%> <%= audited_type audit %>: <%=link_to(audit_title(audit), audit_path(audit)) %>
        <% end %>
      </b>
      <ul>
        <% details(audit).each do |item| %>
          <% next if item.nil? or item.to_s.empty? %>
          <li><%= item %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
