<% title "Audits" %>

<table class="list">
  <tr>
    <th><%= sort :changed %></th>
    <th>Object</th>
    <th>Parent</th>
    <th><%= sort :action %></th>
    <th><%= sort :changed_at, :as => "Changed at" %></th>
    <th>Changes</th>
    <th><%= sort :user, :as => "Changed by" %></th>
    <th></th>
  </tr>
  <% for audit in @audits %>
    <tr class="<%= cycle("even", "odd") -%>">
      <td><%=h auditable_type(audit) %></td>
      <td><%=h audit_title(audit) %></td>
      <td><%=h audit_parent(audit) %></td>
      <td><%=h audit.action %></td>
      <td><%=h audit.created_at.to_s(:long) %></td>
      <td><%=h changes_column audit.changes %></td>
      <td><%=h audit.user_as_string %></td>
      <td><%= link_to "Details", audit %></td>
    </tr>
  <% end %>
</table>

<%= page_entries_info @audits %>
<%= will_paginate @audits %>
