<% form_for @ptable do |f| %>
  <%= f.error_messages %>
  <p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
  </p>
  <p>
  <%= f.label :layout %><br />
  <%= f.text_area :layout, :size => "80x10" %>
  </p>
  <p>
  <%= edit_habtm @ptable, Operatingsystem %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
