<%= form_for @ptable do |f| %>
  <%= base_errors_for @ptable %>
  <%= text_f f, :name %>
  <%= textarea_f f, :layout, :class => "xxlarge",
    :help_block => "<span class='label label-info'>Notice</span> you may use #{link_to 'a script as well', 'http://theforeman.org/projects/foreman/wiki/Dynamic_disk_partitioning', :rel => 'external'}".html_safe %>
  <%= multiple_checkboxes f, :operatingsystems, @ptable, Operatingsystem, :label => "Operating Systems" %>
  <%= submit_or_cancel f %>
<% end %>
