<% title _("Partition Tables") %>
<% title_actions display_link_if_authorized(_("New Partition Table"), hash_for_new_ptable_path), help_path %>

<table class="table table-bordered table-striped table-two-pane">
  <tr>
    <th><%= sort :name, :as => s_("Ptable|Name") %></th>
    <th><%= sort :family, :as => s_("Ptable|Os family") %></th>
    <th><%= _("Operating systems") %></th>
    <th></th>
  </tr>
  <% for ptable in @ptables %>
    <tr>
      <td><%= link_to_if_authorized trunc(ptable), hash_for_edit_ptable_path(:id => ptable.id).merge(:auth_object => ptable, :authorizer => authorizer) %></td>
      <td><%= lookup_family(ptable.os_family) %></td>
      <td><%= ptable.operatingsystems.map(&:to_label).to_sentence %></td>
      <td>
        <%= display_delete_if_authorized hash_for_ptable_path(:id => ptable).merge(:auth_object => ptable, :authorizer => authorizer), :confirm => _("Delete %s?") % ptable.name%>
      </td>
    </tr>
  <% end %>
</table>
<%= page_entries_info @ptables %>
<%= will_paginate     @ptables %>
