<% title "Partition tables" %>

<table class="list">
  <tr>
    <th>Name</th>
    <th>Operatingsystems</th>
    <th></th>
  </tr>
  <% for ptable in @ptables %>
    <tr class="<%= cycle("even", "odd") -%>">
      <td><%=link_to_if_authorized h(ptable.name), hash_for_edit_ptable_path(:id => ptable.id) %></td>
      <td><%=h ptable.operatingsystems.to_sentence %></td>
      <td align="right">
        <%= display_link_if_authorized "Destroy", hash_for_ptable_path(:id => ptable, :auth_action => :destroy), :confirm => "Delete #{ptable.name}?", :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>
<%= page_entries_info @ptables %>
<%= will_paginate     @ptables %>

<p><%= display_link_if_authorized "New Partition table layout", hash_for_new_ptable_path %></p>
