<% title @guest %>

<div class='row'>
  <div class='span16'>
    <table class="list zebra-striped">
      <tr><th colspan="2">Properties</th></tr>
      <tr>
        <td>Machine Type</td>
        <td><%= @guest.type %> / <%= @guest.machine %> / <%= @guest.arch %></td>
      </tr>

      <tr>
        <td>VCPU(s)</td>
        <td><%= @guest.vcpu %></td>
      </tr>

      <tr>
        <td>UUID</td>
        <td><%= @guest.uuid %></td>
      </tr>
      <tr>
        <td>Memory</td>
        <td><%= number_to_human_size @guest.memory*1024 %> <%= "(Allocated: #{number_to_human_size @guest.current_memory.to_i*1024})" if @guest.current_memory %></td>
      </tr>

      <% if @guest.interface -%>
          <tr>
            <td>Network</td>
            <td><%= @guest.interface.device || @guest.interface.network %></td>
          </tr>
          <tr>
            <td>NIC</td>
            <td><%= "#{@guest.interface.mac} (#{@guest.interface.model})" %></td>
          </tr>
      <% end -%>
      <tr>
        <td>Disk</td>
        <td><%= "#{@guest.volume.size}GB (#{@guest.volume.pool} storage pool)" %></td>
      </tr>

      <div>
        <td>Boot Device</td>
        <td><%= @guest.boot_device %></td>
      </div>

      <tr>
        <td>Running on</td>
        <td><%= link_to @hypervisor, hypervisor_path(@hypervisor) %></td>
      </tr>
    </table>
  </div>
</div>
<% title_actions display_link_if_authorized("Power#{state(@guest.running?)}", hash_for_power_hypervisor_guest_path(:hypervisor_id => @hypervisor, :id => @guest), :confirm => 'Are you sure?', :method => :put, :class=>'btn ' + (@guest.running? ? "danger" : "success")),
                 display_link_if_authorized("Delete", hash_for_hypervisor_guest_path(:hypervisor_id => @hypervisor, :id => @guest).merge(:auth_action => :destroy), :confirm => 'Are you sure?', :method => :delete, :class=>'btn danger'),
                 display_link_if_authorized("Other Guests on this hypervisor", hash_for_hypervisor_guests_path(:hypervisor_id => @hypervisor), :class=>'btn') %>
