<tr>
  <% unless params[:host_id] -%>
      <td>
        <% if fact.host -%>
            <%= link_to(trunc(fact.host), host_facts_path(:host_id => fact.host), :title => _("Show %{host} facts") % { :host => fact.host.name }) %>
        <% else -%>
            <%= _('N/A') %>
        <% end %>
      </td>
  <% end %>
  <td>
    <%= fact_name(fact, parent) %>
  </td>
  <td>
    <% unless fact.compose %>
        <%= link_to trunc(fact.value, 40),
                    fact_values_path("search" => "facts.#{fact.name} = \"#{fact.value}\""),
                    :title => _("Show all %{name} facts where they are equal to %{value}") % { :name => fact.name, :value => fact.value } %>
    <% end %>
  </td>
  <td><%= fact_from fact %></td>
  <td><% unless fact.compose %>
          <%= link_to_function content_tag(:button, icon_text("adjust", "", :title => _("Show distribution chart")) + _("Chart")),
                               "get_pie_chart('fact_chart-#{fact.fact_name_id}', '#{fact_path(fact.fact_name_id)}')" %>
      <% end %>
  </td>
</tr>
