<% title "Fact Values" %>

<table class="list">
  <tr>
    <th><%= sort :host %></th>
    <th><%= sort :name  %></th>
    <th><%= sort :value %></th>
    <th>Reported at</th>
  </tr>
  <% for fact_value in @fact_values %>
    <% next if fact_value.name =~ /timestamp/ -%>
    <tr class="<%= cycle("even", "odd") -%>">
      <td>
        <%= link_to(h(fact_value.host.nil? ? "N/A" : fact_value.host),
          hosts_path("search"=> "name = #{fact_value.host}"),
          :title => "Show host") %></td>
      <td>
        <%= link_to h(fact_value.fact_name.name),
          fact_values_path("search" => "name = #{fact_value.name}"),
          :title => "Show all #{fact_value.name} facts" %>
      </td>
      <td>
        <%= link_to h(truncate fact_value.value, :length => 40),
          fact_values_path("search" => "facts.#{fact_value.name} = \"#{fact_value.value}\""),
          :title => "Show all #{fact_value.name} facts where they are equal to #{fact_value.value}" %>
      </td>
      <td><%= fact_from fact_value %></td>
    </tr>
  <% end %>
</table>
<%= page_entries_info @fact_values %>
<%= will_paginate @fact_values %>
