<% title _("Fact Values") %>

<table class="table table-bordered table-striped">
  <tr>
    <% unless params[:host_id] %>
      <th><%= sort :host, :as => _("Host") %></th>
    <% end %>
    <th><%= sort :name, :as => _("Name")  %></th>
    <th><%= sort :value, :as => s_("FactValue|Value") %></th>
    <th><%= _('Reported at') %></th>
    <th></th>
  </tr>

  <%= render :partial => 'fact', :collection => @fact_values,
             :locals  => { :parent => @parent } %>

</table>
<%= page_entries_info @fact_values %>
<%= will_paginate @fact_values %>
