<div class="navbar navbar-form navbar-full-width navbar-editor">

    <div class="btn-group" data-toggle="buttons" >
      <label class="btn btn-default btn-sm active" onclick="tfm.editor.setCode()">
        <input type="radio" id="option1" ><%= _("Input") %>
      </label>
      <label class="btn btn-default btn-sm" onclick="tfm.editor.setPreview()">
        <input type="radio" id="option2" ><%= _("Diff") %>
      </label>
      <% if show_preview %>
        <label class="btn btn-default btn-sm" onclick="tfm.editor.setRender()">
          <input type="radio" id="option3" ><%= _("Preview") %>
        </label>
      <% end %>
    </div>

    <% if show_import %>
      <a class="btn btn-default btn-sm" onclick="tfm.editor.showImporter()">
        <%= _("Import") %>
      </a>
    <% end %>

    <% if show_preview %>
      <span id="preview_host_selector" style="display:none">
        <%= text_field_tag :preview_host_id, nil,
            :'data-url' => preview_host_collection_hosts_path,
            :'data-scope' => controller.send(:model_of_controller),
            :name => '',
            :onchange => 'tfm.editor.getRenderedTemplate()' %>
      </span>
    <% end %>

    <a class="btn btn-default btn-sm btn-fullscreen" href="#" onclick="tfm.editor.enterFullscreen('.editor-container');">
      <%= _('Fullscreen') %>
    </a>

    <a class="btn btn-default btn-sm btn-exit-fullscreen hidden" href="#" onclick="tfm.editor.exitFullscreen();">
      <%= _('Exit Fullscreen') %>
    </a>

    <ul class="nav navbar-nav navbar-right navbar-editor">
      <li>
        <select id="mode" class="form-control input-sm without_select2">
          <%= content_tag(:optgroup, options_for_select(['text', 'json', 'ruby', 'erb', 'sh', 'xml', 'yaml']), :label => _('Syntax Highlighting')) %>
        </select>
      </li>

      <li>
        <select id="keybinding" class="form-control input-sm without_select2">
          <%= content_tag(:optgroup, options_for_select([_('Default'), 'Vim', 'Emacs']), :label => _('Key Binding')) %>
        </select>
      </li>
    </ul>

    <% if show_import %>
      <%= file_field_tag :import_file, :class => "hidden editor_file_source", :id => 'import_file' %>
    <% end %>
</div>
