<%= javascript 'spice' %>
<% title "#{@console[:name]}" %>
<%= title_actions(
        button_group(link_to(_("Ctrl-Alt-Del"), "#", :id => "sendCtrlAltDelButton", :onclick => 'sendCtrlAltDel()', :class => "btn"),
                     if supports_spice_xpi?
                       link_to(_("New window"), "#", :id => "disconnect", :class => "btn", :onclick => 'connectXPI()', :title => _("Open Spice in a new window"))
                     end,
                     if @system
                       link_to_if_authorized(_("Back to system"), hash_for_system_path(:id => @system), :title => _("Back to system"), :class => 'btn')
                     end
        )) %>

<%= content_tag(:div, :id =>'spice-area', :data => spice_data_attributes(@console)) do %>
  <div class="console-status">
    <div id="spice-status" class="span7 label" data-system="<%= @console[:name] %>"><%= _("Connecting (unencrypted) to: %s") % @console[:name] %></div>
  </div>
  <div id="spice-screen" class="console-screen"> </div>
<% end %>
