<% title _("Puppet Reports") %>
<div id="welcome">
  <p>
  <%= _("You don't seem to have any reports, if you wish to configure Puppet to forward it reports to Foreman, please follow") %>
  <%= link_to _("setting up reporting"), "http://www.theforeman.org/manuals/#{SETTINGS[:version].short}/index.html#3.5.4PuppetReports", :rel => "external" %>
  <%= _("and") %>
  <%= link_to _("e-mail reporting"), "http://theforeman.org/projects/foreman/wiki/Mail_Notifications", :rel => "external" %>.
  </p>

  <p><%= _('This page will self destruct once a report comes in.') %></p>
</div>
