<tr>
  <td><%= _("URL") %></td>
  <td><%= @compute_resource.url %></td>
</tr>
<tr>
  <td><%= _("Display Type") %></td>
  <td><%= @compute_resource.display_type %></td>
</tr>
<tr>
  <td><%= _("Console Passwords") %></td>
  <td><%= @compute_resource.set_console_password? ? _("Enabled") : _("Disabled") %></td>
</tr>
