<tr>
  <td><%= _("URL") %></td>
  <td><%= @compute_resource.url %></td>
</tr>
<tr>
  <td><%= _("Operating systems API supported?") %></td>
  <td><%= @compute_resource.supports_operating_systems? ? icon_text("ok", "", :kind => "pficon") : icon_text("error-circle-o", "", :kind => "pficon") %></td>
</tr>
<tr>
  <td><%= _("Default Display Type") %></td>
  <td><%= @compute_resource.display_type.upcase %></td>
</tr>
<tr>
  <td><%= _("Default VNC Keyboard") %></td>
  <td><%= @compute_resource.keyboard_layout %></td>
</tr>
