<% title_actions check_all_roles_links %>

<%= form_for @role do |f| %>
  <%= base_errors_for @role %>

  <%= text_f f, :name, :class => @role.builtin? ? "disabled" : "" %>

  <ul class='nav nav-tabs' data-tabs='tabs'>
    <% letters.each_with_index do |letter, i| %>
      <li class="<%= 'active' if i==0%>"><a href="#<%= letter %>" data-toggle='tab'><%= letter %></a></li>
    <% end %>
  </ul>

  <div class="tab-content">
    <% perms_by_letter.each do |letter, permissions| %>
      <div class="tab-pane <%= 'active' if letter=='A' %>" id='<%= letter %>'>
        <% perms_by_block(permissions).each do |block, perms| %>
          <div class="control-group">
            <%= label_tag 'role[permissions]', block.to_s.humanize, :class => "control-label" %>
            <div class="controls">
              <ul class="inputs-list">
                <% perms.each do |perm| %>
                  <li>
                    <%= content_tag :div, 'role[permissions][]' do %>
                      <%= check_box_tag 'role[permissions][]', perm.name, (@role.permissions.include? perm.name), :class => "role_checkbox" %>
                      <%= perm.name %>
                      <%= hidden_field_tag 'role[permissions][]' %>
                    <% end -%>
                  </li>
                <% end %>
              </ul>
            </div>

          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= submit_or_cancel f %>
<% end -%>
