<table class="table table-bordered table-striped">
  <tr>
    <thead>
      <th>Name</th>
      <th>DNS</th>
      <th>Type</th>
      <th>State</th>
      <th></th>
    </thead>
  </tr>
  <% @compute_resource.vms.each do |vm| -%>
    <tr>
      <td><%= vm.tags["Name"] %></td>
      <td><%= vm.dns_name %></td>
      <td><%= vm.flavor_id %></td>
      <td <%= vm_power_class(vm.ready?)%>> <%= vm_state(!vm.ready?) %> </td>
      <td>
        <%= vm_power_action vm %>
        <%= display_link_if_authorized "Delete", hash_for_compute_resource_vm_path(:compute_resource_id => @compute_resource, :id => vm.id).merge(:auth_action => :destroy), :confirm => 'Are you sure?', :method => :delete, :class => "label label-important" %>
      </td>
    </tr>
  <% end -%>
</table>
