<table class="table table-bordered">
  <tr>
    <thead>
      <th> Name </th>
      <th> CPUs </th>
      <th> Memory </th>
      <th> Power </th>
      <th></th>
    </thead>
  </tr>
  <% @compute_resource.vms.each do |vm| -%>
    <tr>
      <td><%= link_to vm.name, hash_for_compute_resource_vm_path(:compute_resource_id => @compute_resource, :id => vm.uuid) %></td>
      <td><%= vm.cpus %></td>
      <td> <%= number_to_human_size vm.memory_size*1024 %> </td>
      <td <%= vm_power_class(vm.ready?)%>> <%= vm_state(!vm.ready?) %> </td>
      <td>
        <%= action_buttons(vm_power_action(vm),
            display_delete_if_authorized(hash_for_compute_resource_vm_path(:compute_resource_id => @compute_resource, :id => vm.uuid))) %>
      </td>
    </tr>
  <% end -%>
</table>
