<table class="list">
  <tr>
    <thead>
    <th>Name</th>
    <th> CPUs</th>
    <th> Memory</th>
    <th> Power</th>
    <th></th>
    </thead>
  </tr>
  <% @compute_resource.vms.each do |vm| -%>
    <tr>
      <td><%= vm.name %></td>
      <td><%= vm.cpus %></td>
      <td> <%= number_to_human_size vm.memory %></td>
      <td <%= vm_power_class(vm.ready?) %>> <%= vm_state(!vm.ready?) %> </td>
      <td>
        <%= vm_power_action vm %>
        <%= display_link_if_authorized "Console", hash_for_console_compute_resource_vm_path(:compute_resource_id => @compute_resource, :id => vm.id), :class => "label notice" %>
        <%= display_link_if_authorized "Delete", hash_for_compute_resource_vm_path(:compute_resource_id => @compute_resource, :id => vm.id).merge(:auth_action => :destroy), :confirm => 'Are you sure?', :method => :delete, :class => "label important" %>
      </td>

    </tr>
  <% end -%>
</table>
