<% title "Installation Media" %>

<% title_actions display_link_if_authorized("New Medium", hash_for_new_medium_path), help_path %>

<table class="table table-bordered table-striped">
  <tr>
    <th><%= sort :name %></th>
    <th><%= sort :path %></th>
    <th>Operating systems</th>
    <th></th>
  </tr>
  <% for medium in @media %>
    <tr class="<%= cycle("even", "odd") -%>">
      <td><%= link_to_if_authorized h(medium), hash_for_edit_medium_path(:id => medium.id) %></td>
      <td><%=h medium.path %></td>
      <td><%=h medium.operatingsystems.to_sentence %></td>
      <td>
        <%= display_delete_if_authorized hash_for_medium_path(:id => medium), :confirm => "Delete #{medium.name}?" %>
      </td>
    </tr>
  <% end %>
</table>
<%= page_entries_info @media %>
<%= will_paginate     @media %>
