<% title _("Installation Media") %>

<% title_actions display_link_if_authorized(_("New Medium"), hash_for_new_medium_path), help_path %>

<table class="table table-bordered table-striped">
  <tr>
    <th><%= sort :name, :as => _("Name") %></th>
    <th><%= sort :path, :as => _("Path") %></th>
    <th><%= _("Family") %></th>
    <th><%= _("Operating Systems") %></th>
    <th></th>
  </tr>
  <% for medium in @media %>
    <tr>
      <td><%= link_to_if_authorized medium, hash_for_edit_medium_path(:id => medium.id) %></td>
      <td><%= medium.path %></td>
      <td><%= medium.os_family %></td>
      <td><%= medium.operatingsystems.to_sentence %></td>
      <td>
        <%= display_delete_if_authorized hash_for_medium_path(:id => medium), :confirm => _("Delete %s?") % medium.name %>
      </td>
    </tr>
  <% end %>
</table>
<%= page_entries_info @media %>
<%= will_paginate     @media %>
