<% form_for @hypervisor do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name, nil, :class => "span-3" %>
    <%= f.text_field :name, :class => "last" %>
  </p>
  <p>
    <%= f.label :uri, "URI", :class => "span-3" %>
    <%= f.text_field :uri, :size => 50, :class => "last" %>
  </p>
  <p>
    <%= f.label :kind, nil, :class => "span-3" %>
    <%= f.select :kind, Hypervisor::KINDS , {}, {:class => "last"} %>
  </p>

  <p><%= f.submit %></p>
<% end %>
