<% title "Hypervisors" %>

<div class="title_action"><%= link_to "New Hypervisor", new_hypervisor_path %></div>

<table class="list">
  <tr>
    <th>Name</th>
    <th>Uri</th>
    <th>Kind</th>
    <th></th>
  </tr>
  <% for hypervisor in @hypervisors %>
    <tr class="<%= cycle("even", "odd") -%>">
      <td><%=link_to hypervisor, hypervisor_path(hypervisor) %></td>
      <td><%=h hypervisor.uri %></td>
      <td><%=h hypervisor.kind %></td>
      <td>
        <%=link_to "Edit", edit_hypervisor_path(hypervisor) %>
        <%= link_to "Destroy", hypervisor, :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>
<%= page_entries_info @hypervisors %>
<%= will_paginate     @hypervisor %>
