<% title "Hypervisors" %>

<% title_actions display_link_if_authorized("New Hypervisor", hash_for_new_hypervisor_path) %>

<%= alert(:text => "Hypervisors are now <b>depreciated</b> in favour of #{link_to "Compute Resources", compute_resources_path}, please don't use it unless you have to", :class => 'alert-block')%>

<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>Uri</th>
    <th>Kind</th>
    <th></th>
  </tr>
  <% for hypervisor in @hypervisors %>
    <tr>
      <td><%=link_to_if_authorized h(hypervisor), hash_for_hypervisor_path(:id => hypervisor.name) %></td>
      <td><%=h hypervisor.uri %></td>
      <td><%=h hypervisor.kind %></td>
      <td>
        <%= action_buttons(
                    display_link_if_authorized("Guests", hash_for_hypervisor_guests_path(:hypervisor_id => hypervisor.name), :class=>"btn btn-small"),
                    display_link_if_authorized("Edit",   hash_for_edit_hypervisor_path(:id => hypervisor.name)),
                    display_delete_if_authorized(hash_for_hypervisor_path(:id => hypervisor.name), :confirm => "Delete #{hypervisor.name}?"))%>
      </td>
    </tr>
  <% end %>
</table>
<%= page_entries_info @hypervisors %>
<%= will_paginate     @hypervisors %>
