<% title "Hypervisors" %>

<% title_actions display_link_if_authorized("New Hypervisor", hash_for_new_hypervisor_path) %>

<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>Uri</th>
    <th>Kind</th>
    <th></th>
  </tr>
  <% for hypervisor in @hypervisors %>
    <tr>
      <td><%=link_to_if_authorized h(hypervisor), hash_for_hypervisor_path(:id => hypervisor.name) %></td>
      <td><%=h hypervisor.uri %></td>
      <td><%=h hypervisor.kind %></td>
      <td>
        <%= action_buttons(display_link_if_authorized("Guests", hash_for_hypervisor_guests_path(:hypervisor_id => hypervisor.name), :class=>"btn btn-small"),
                           display_link_if_authorized("Edit",   hash_for_edit_hypervisor_path(:id => hypervisor.name)),
                           display_link_if_authorized("Delete", hash_for_hypervisor_path(:id => hypervisor.name, :auth_action => :destroy), :confirm => "Delete #{hypervisor.name}?", :method => :delete))%>
      </td>
    </tr>
  <% end %>
</table>
<%= page_entries_info @hypervisors %>
<%= will_paginate     @hypervisors %>
