<% title "Hypervisor #{@hypervisor} details" %>

<% fields = %w{cores cpus memory mhz model nodes sockets threads} -%>
<div class='row'>
  <div class='span16'>
<table class="list zebra-striped">
  <tr><th colspan="2">Properties</th></tr>
  <% fields.each do |key| -%>
    <tr>
      <td> <%= key.titleize %></td>
      <td> <%= @host.connection.node_get_info.send(key.to_sym) rescue "N/A"%></td>
    </tr>
  <% end -%>
  <tr>
    <td> Available memory</td>
    <td> <%= number_to_human_size @host.connection.node_free_memory rescue "N/A" %> </td>
  </tr>
</table>
  </div>
</div>
<br>

<%= link_to "Guests", hypervisor_guests_path(@hypervisor), :class => "btn primary" %>
<%= link_to "Back", hypervisors_path, :class => "btn" %>
