<% title "Hypervisor #{@hypervisor} details" %>
<% fields = %w{cores cpus memory mhz model nodes sockets threads} -%>

<% fields.each do |key| -%>
    <div class="row">
      <strong class="span4"> <%= key.titleize %></strong>
      <%= @host.connection.node_get_info.send(key.to_sym) %>
    </div>
<% end -%>

<div class="row">
  <strong class="span4"> Available memory</strong>
  <%= number_to_human_size @host.connection.node_free_memory rescue "N/A" %>
</div>
<br>

<%= link_to "Guests", hypervisor_guests_path(@hypervisor), :class => "btn primary" %>
<%= link_to "Back", hypervisors_path, :class => "btn" %>
