<%= fields_for "#{type}[compute_attributes]", @system ? @system.compute_object : compute_resource.new_vm do |compute| %>
  <% if compute.object %>
    <div id='update_not_supported' class='alert hide'><%= _("VM editing is not implemented for this provider") %></div>
    <%= render :partial => "compute_resources_vms/form/#{compute_resource.provider.downcase}",
               :locals => { :f => compute, :compute_resource => compute_resource}.merge(args_for_compute_resource_partial(@system)) %>
  <% else %>
    <div class="alert alert-message alert-block alert-error base in fade">
      <% if @system %>
        <h4><%= _("'%{system}' not found on '%{resource}'") % { :system => @system.name, :resource => compute_resource } %></h4>
        <p><%= _("'%{system}' could be deleted or '%{resource}' is not responding.") % {:system => @system.name, :resource => compute_resource} %></p>
      <% else %>
        <h4><%= _("Failed connecting to %s") % compute_resource %></h4>
        <p><%= _("Errors: %s") % compute_resource.errors.full_messages.to_sentence %></p>
      <% end %>
    </div>
  <% end%>
  <%= hidden_field_tag 'capabilities', compute_resource.capabilities %>
  <%= content_tag(:div,'', :id => :'supports_update', :data=>{:'supports-update'=> compute_resource.supports_update? || (@system && @system.new_record?)}) %>
<% end if compute_resource %>
