<%= javascript "jquery.cookie", "system_checkbox" %>
<% title header ||= "" %>
<table class="table table-bordered table-striped table-condensed" >
  <tr>
    <th class="ca"><%= check_box_tag "check_all", "", false, { :onclick => "toggleCheck()", :'check-title' => _("Select all items in this page"), :'uncheck-title'=> _("items selected. Uncheck to Clear") } %></th>
    <th class=''><%= sort :name, :as => _('Name') %></th>
    <th class="hidden-phone"><%= sort :os, :as => _("Operating system") %></th>
    <th class="hidden-phone"><%= sort :environment, :as => _('Environment') %></th>
    <th class="hidden-tablet hidden-phone"><%= sort :model, :as => _('Model') %></th>
    <th class="hidden-tablet hidden-phone"><%= sort :system_group, :as => _("System group") %></th>
    <th class="hidden-tablet hidden-phone"><%= sort :last_report, :as => _('Last report') %></th>
    <th></th>
  </tr>
  <% systems.each do |system| %>
    <tr>
      <td class="ca">
        <%= check_box_tag "system_ids[]", nil, false, :id => "system_ids_#{system.id}", :disabled => !authorized?, :class => 'system_select_boxes', :onclick => 'systemChecked(this)' %>
      </td>
      <td class='ellipsis'><%= name_column(system) %> </td>
      <td class="hidden-phone"><%= (icon(system.os, :size => "18x18") + trunc(" #{system.os}",14)).html_safe if system.os %></td>
      <td class="hidden-phone"><%= trunc(system.try(:environment), 14) %></td>
      <td class="hidden-tablet hidden-phone ellipsis"><%= model_name system %></td>
      <td class="hidden-tablet hidden-phone ellipsis"><%= system_group_name system.system_group, 26 %></td>
      <td class="hidden-tablet hidden-phone"><%= last_report_column(system) %></td>
      <td>
        <%= action_buttons(
                    display_link_if_authorized(_("Edit"), hash_for_edit_system_path(:id => system)),
                    display_link_if_authorized(_("Clone"), hash_for_clone_system_path(:id => system)),
                    display_delete_if_authorized(hash_for_system_path(:id => system), :confirm => _("Delete %s?") % system.name, :action => :destroy))%>
      </td>
    </tr>
  <% end %>
</table>
<div id="confirmation-modal" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close" data-dismiss="modal">×</a>
    <h3><%= _('Please Confirm') %></h3>
  </div>
  <div class="modal-body"></div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary"><%= _('Submit') %></a>
    <a href="#" class="btn secondary"><%= _('Cancel') %></a>
  </div>
</div>

<%= page_entries_info systems, :more => " - "+_("<b class='select_count'>0</b> selected") %>
<%= will_paginate systems %>
