<div class="row">
  <div class="span8">

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th> Name </th>
          <th> SystemGroup </th>
          <th> Environment </th>
          <%= raw("<th>" + _("Location") + "</th>") if SETTINGS[:locations_enabled]%>
          <%= raw("<th>" + _("Organization") + "</th>") if SETTINGS[:organizations_enabled]%>
        </tr>
      </thead>
      <tbody>
        <% systems.each do |system| %>
          <tr>
            <td><%=h system %> </td>
            <td><%=h system.try(:system_group) %></td>
            <td><%=h system.try(:environment) %></td>
            <% if SETTINGS[:locations_enabled]%>
            <td><%=h system.try(:location) %></td>
            <% end %>
            <% if SETTINGS[:organizations_enabled]%>
            <td><%=h system.try(:organization) %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
