<% javascript 'charts' %>
<% title @system.to_label, icon(@system.os) + @system.to_label %>

<% @vm = @system.compute_resource.find_vm_by_uuid(@system.uuid) rescue nil %>
<%= system_title_actions(@system, @vm) %>
<% content_for(:search_bar) {reports_show} %>

<div id="system-show" class="row-fluid">
  <div class="span4">
    <ul id="myTab" class="nav nav-tabs">
      <li class="active"><a href="#properties" data-toggle="tab"><%= _('Properties') %></a></li>
      <li><a href="#metrics" data-toggle="tab"><%= _('Metrics') %></a></li>
      <% if SETTINGS[:unattended] %>
        <li><a href="#template" data-toggle="tab"><%= _('Templates') %></a></li>
      <% end %>
      <%  if @vm %>
        <li><a href="#vm" data-toggle="tab"><%= _('VM') %></a></li>
      <% end %>
      <% if @system.bmc_available? %>
        <li><a href="#bmc" data-toggle="tab"><%= _('BMC') %></a></li>
      <% end %>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active in" id="properties">
        <%= render :partial => "systems/overview", :locals => { :system => @system } %>
      </div>
      <div class="tab-pane" id="metrics">
        <% if @report_summary.size == 0 %>
            <p><%= _('No puppet activity for this system in the last %s days') % @range %></p>
        <% else %>
            <%= render :partial => "systems/metrics", :locals => { :report_summary => @report_summary[@system.name][:metrics] } %>
        <% end %>
      </div>
      <div class="tab-pane" id="template">
        <%= show_templates %>
      </div>
      <div class="tab-pane" id="vm">
        <%  if @vm %>
          <% @compute_resource = @system.compute_resource %>
          <%= render("compute_resources_vms/show/#{@system.compute_resource.provider.downcase}") rescue nil %>
        <% end %>
      </div>
      <% if @system.bmc_available? %>
        <div id="bmc" class="tab-pane" data-ajax-url=<%= bmc_system_path(@system) %>>
          <p id="spinner">
            <%= image_tag '/assets/spinner.gif' %>
            <%= _('Loading BMC information ...') %>
          </p>
        </div>

      <% end %>

    </div>
  </div>
  <div class="span8">
    <div class="stats-well">
      <h4 class="ca"><%= _("Runtime") %></h4>
      <h6 class="ca"><%= n_("last %s day", "last %s days", @range) % @range %></h6>
      <%= flot_chart 'runtime_graph','', _('Time in Seconds'), runtime_chart(@range.days.ago), :class=>"statistics-chart stack" %>
    </div>
    <div class="stats-well">
      <h4 class="ca"><%= _("Resources") %></h4>
      <h6 class="ca"><%= n_("last %s day", "last %s days", @range) % @range %></h6>
      <%= flot_chart 'resource_graph', '', _("Number of Events"), resources_chart(@range.days.ago) %>
    </div>
  </div>
</div>
