<h3><%= _('The following systems were updated') %></h3>
<ul>
  <% for system in @systems %>
    <li>
    <%= link_to h(system.name), system_path(system) %>
    <% unless @skipped_parameters[system.name].empty? %>
      <br/>
      <%= _('The following parameters were skipped as they did not exists on this system:') %>
      <ul>
        <% for parm in @skipped_parameters[system.name] %>
          <li><%= h parm %></li>
        <% end %>
      </ul>
    <% end %>
    </li>
  <% end %>
</ul>
<%= link_to _("Back to system list"), systems_path %>
