<% title _("About") %>
<%= javascript 'proxy_status', 'charts', 'about' %>

<div class="row" id="about">
  <div class="col-md-7">

    <div class="stats-well">
      <h4><%=_("System Status")%></h4>
      <ul class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#smart_proxies" data-toggle="tab"><%= _('Smart Proxies') %></a></li>
        <% if SETTINGS[:unattended] %>
          <li><a href="#available_providers" data-toggle="tab"><%= _('Available Providers') %></a></li>
          <li><a href="#compute_resources" data-toggle="tab"><%= _('Compute Resources') %></a></li>
        <% end %>
        <li><a href="#plugins" data-toggle="tab"><%= _('Plugins') %></a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="smart_proxies">
          <% if @smart_proxies.empty? %>
            <p class="ca"><%= _("No smart proxies to show") %></p>
          <% else %>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th><%= _("Name") %></th>
                  <th><%= _("Features") %></th>
                  <th><%= _("Status") %></th>
                  <th><%= _("Version") %></th>
                </tr>
              </thead>
              <tbody>
              <% @smart_proxies.each do |proxy| %>
                <tr class="proxy-show"  data-url="<%= ping_smart_proxy_path(proxy) %>">
                  <td><%= link_to_if_authorized proxy.name, hash_for_smart_proxy_path(proxy) %></td>
                  <td><%=h proxy.features.map(&:name).to_sentence %></td>
                  <td><div class="proxy-show-status"><%= spinner %></div></td>
                  <td><div class="proxy-version"><%= spinner %></div></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
        <% if SETTINGS[:unattended] %>
          <div class="tab-pane" id="available_providers">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th><%= _("Provider") %></th>
                  <th><%= _("Status") %></th>
                </tr>
              </thead>
              <tbody>
              <% @providers.sort_by { |prov| prov[:friendly_name].downcase }.each do |provider| %>
                <tr>
                  <td><%= provider[:friendly_name] %></td>
                  <% if provider[:status] == :installed %>
                    <td><div class="label label-success"><%= _('Installed') %></div></td>
                  <% else %>
                    <td><div class="label label-default"><%= _('Not Installed') %></div></td>
                  <% end %>
                </tr>
              <% end %>
              </tbody>
            </table>
            <%= _('To enable a provider, either install the OS package (e.g. foreman-libvirt) or enable the bundler group for development setup (e.g. ovirt).') %>
          </div>
          <div class="tab-pane" id="compute_resources">
            <% if @compute_resources.empty? %>
              <p class="ca"><%= _("No compute resource to show") %></p>
            <% else %>
              <table class="table table-striped table-fixed">
                <thead>
                  <tr>
                    <th class="col-md-4"><%= _("Name") %></th>
                    <th class="col-md-4"><%= _("Type") %></th>
                    <th class="col-md-4"><%= _("Status") %></th>
                  </tr>
                </thead>
                <tbody>
                <% @compute_resources.each do |compute| %>
                  <tr>
                    <td class="ellipsis"><%= link_to(compute.name, compute) %></td>
                    <td><%= compute.provider_friendly_name %></td>
                    <td><div class="compute-status" data-url=<%= ping_compute_resource_path(compute) %>><%= spinner %></div></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            <% end %>
          </div>
        <% end %>
        <div class="tab-pane" id="plugins">
          <% if @plugins.empty? %>
            <p class="ca"><%= _("No plugins found") %></p>
          <% else %>
            <table class="table table-striped table-fixed">
              <thead>
                <tr>
                  <th class="col-md-4"><%= _("Name") %></th>
                  <th class="col-md-6"><%= _("Description") %></th>
                  <th class="col-md-2"><%= _("Author") %></th>
                  <th class="col-md-2"><%= _("Version") %></th>
                </tr>
              </thead>
              <tbody>
              <% @plugins.each do |plugin| %>
                <tr>
                  <td><%= plugin.url.blank? ? plugin.name : link_to(plugin.name, plugin.url, :rel=>'external')%></td>
                  <td class="ellipsis"><%= _(plugin.description) %></td>
                  <td class="ellipsis"><%= plugin.author_url.blank? ? plugin.author : link_to(plugin.author, plugin.author_url)%></td>
                  <td><%= plugin.version %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="stats-well" id="support">
      <h4><%= _("Support") %></h4>
      <h6><%= _("Documentation") %></h6>
      <ul>
        <li><%= link_to _('API Resources'), apipie_apipie_path, :title => _('Automate Foreman via a simple and powerful API') %></li>
        <li><%= link_to _('Templates DSL'), apipie_dsl_apipie_dsl_path, :title => _('Get DSL reference for templates writing') %></li>
        <li><%= link_to _('Manual'), documentation_url, :rel => "external" %></li>
        <li><%= link_to _('Wiki'), external_link_path(type: 'wiki'), :rel => "external" %></li>
      </ul>
      <h6><%= _("IRC") %></h6>
      <p><%= (_("You can find The Foreman on the %{liberachat} (irc.libera.chat) network.  For general support, please visit #theforeman and for development specific related chat, please visit #theforeman-dev.") % {:liberachat => link_to("Libera.Chat", external_link_path(type: 'chat'), :rel => "external")}).html_safe  %></p>
      <h6><%= _("Forums") %></h6>
      <p><%= (_("You can use the %{community_forums} to ask for help or advice, participate in discussions around challenges or ideas you have with Foreman.") % {:community_forums => link_to( _('community forums'), external_link_path(type: 'forums'), :rel => "external")}).html_safe %></p>
      <h6><%= _("Issue tracker") %></h6>
      <p><%= _("We use Redmine to report and track bugs and feature requests, which can be found here:") %> <%= link_to _("issue tracker"), external_link_path(type: 'issues'), :rel => "external" %></p>
    </div>
    <div class="stats-well" id="copyright-div">
      <h4><%= _("System Information") %> </h4>
      <p id="copyright-p"><%= (_("Version %{version}  %{copyright} 2009-%{year} Paul Kelly and %{author}") % {:version => SETTINGS[:version], :copyright => "&copy;", :year=>DateTime.now.year, :author=>mail_to("ohadlevy@gmail.com", "Ohad Levy" )}).html_safe %></p>
      <p id="instance-id-p"><%= _("Instance %{uuid}") % {:uuid => Foreman.instance_id} %></p>
    </div>
  </div>
  <%= slot('aboutFooterSlot', true) %>
</div>
