<% title "Organizations" %>

<% title_actions display_link_if_authorized("New Organization", hash_for_new_organization_path), help_path %>

<table class="table table-bordered table-striped">
  <tr>
    <th><%= sort :name %></th>
    <th></th>
  </tr>
  <% @organizations.each do |organization| %>
    <tr class="<%= cycle("even", "odd") -%>">
      <td><%= link_to organization.to_label, edit_organization_path(organization) %></td>
      <td>
        <%= action_buttons(
          display_link_if_authorized('Edit', hash_for_edit_organizaton_path(:id => organization), :class => "btn btn-small"),
          display_delete_if_authorized(hash_for_organization_path(:id => organization), :confirm => "Delete #{organization.name}?")
        ) %>
      </td>
    </tr>
  <% end %>
</table>
<%= page_entries_info @organizations %>
<%= will_paginate     @organizations %>
