<% title "Organizations" %>

<% title_actions display_link_if_authorized("New Organization", hash_for_new_organization_path), help_path %>

<table class="table table-bordered table-striped">
  <tr>
    <th><%= sort :name %></th>
    <th></th>
  </tr>
  <% @organizations.each do |org| %>
    <tr class="<%= cycle("even", "odd") -%>">
      <td><%= link_to_if_authorized org.name, hash_for_edit_organization_path(:id => org)%></td>
      <td class="buttons"><%= display_delete_if_authorized hash_for_organization_path(:id => org), :confirm => "Delete #{org.name}?" %></td>
    </tr>
  <% end %>
</table>
<%= page_entries_info @organizations %>
<%= will_paginate     @organizations %>
