<%= javascript_tag("$(document).on('ContentLoad', tfm.numFields.initAll)"); %>

<%= text_f f, :name, :label => _('Name'), :label_size => "col-md-3" if show_vm_name? %>
<% clusters = compute_resource.clusters %>
<%= select_f f, :cluster, clusters, :id, :name, { },
             { :disabled    => !new_vm, :'data-url' => cluster_selected_compute_resource_path(compute_resource),
               :onchange    => 'tfm.computeResource.ovirt.clusterSelected(this);',
               :help_inline => :indicator,
               :label      => _('Cluster'), :label_size => "col-md-2" } %>
<%= f.hidden_field :cluster if !new_vm %>

<%= select_f f, :template, compute_resource.templates, :id, :full_name, {:include_blank => _("Blank template")},
             { :disabled    => !new_vm, :'data-url' => template_selected_compute_resource_path(compute_resource),
               :onchange    => 'tfm.computeResource.ovirt.templateSelected(this);',
               :help_inline => :indicator,
               :help_block  => _("oVirt/RHEV template to use"),
               :label       => _('Template'), :label_size => "col-md-2" } %>
<%= f.hidden_field :template if !new_vm %>

<%= select_f f, :instance_type, compute_resource.instance_types, :id, :name, {:include_blank => _("Custom instance type")},
             { :disabled    => !new_vm, :'data-url' => instance_type_selected_compute_resource_path(compute_resource),
               :onchange    => 'tfm.computeResource.ovirt.instanceTypeSelected(this);',
               :help_inline => :indicator,
               :help_block  => _("oVirt/RHEV instance type"),
               :label       => _('Instance type'), :label_size => "col-md-2" } %>
<%= f.hidden_field :instance_type if !new_vm %>

<% selected_cluster ||= params[:host] && params[:host][:compute_attributes] && params[:host][:compute_attributes][:cluster] %>

<%= counter_f f, :cores, :disabled => !new_vm, :label => _('Cores per socket'), :label_size => 'col-md-2', :'data-soft-max' => compute_resource.max_cpu_count %>

<%= counter_f f, :sockets, :disabled => !new_vm, :label => _('Sockets'), :label_size => 'col-md-2', :'data-soft-max' => compute_resource.max_socket_count %>

<%= byte_size_f f, :memory, :disabled => !new_vm, :label => _('Memory'), :label_size => "col-md-2", :'data-soft-max' => compute_resource.max_memory %>

<% checked = params[:host] && params[:host][:compute_attributes] && params[:host][:compute_attributes][:start] || '1' %>
<%= checkbox_f f, :ha, { :checked => f.object.ha.present? , :label => _('Highly Available'), :label_size => "col-md-2" }  %>
<%= checkbox_f f, :start, { :checked => (checked == '1'), :help_inline => _("Power ON this machine"), :label => _('Start'), :label_size => "col-md-2" } if new_vm && controller_name != "compute_attributes" %>

<% unless local_assigns[:hide_image] %>
  <%
     arch ||= nil ; os ||= nil
     images = possible_images(compute_resource, arch, os)
  -%>

  <div id='image_selection'>
    <%= select_f f, :image_id, images, :uuid, :name,{:include_blank => (images.empty? || images.size == 1) ? false : _('Please select an image')},
               { :disabled    => true, :'data-url' => template_selected_compute_resource_path(compute_resource),
                 :onchange    => 'tfm.computeResource.ovirt.templateSelected(this);',
                 :help_inline => :indicator,
                 :help_block  => _("Image to use"),
                 :label => _('Image'), :label_size => "col-md-2"} %>
  </div>
<% end %>

<%= compute_specific_js(compute_resource, "nic_info") %>
