<%= javascript_tag("$(document).on('ContentLoad', tfm.numFields.initAll)"); %>

<% javascript 'compute_resource' %>
<%= text_f f, :name, :label => _('Name'), :label_size => "col-md-3" if show_vm_name? %>
<% clusters = compute_resource.clusters %>
<%= select_f f, :cluster, clusters, :id, :name, { },
             { :disabled    => !new_host, :'data-url' => cluster_selected_compute_resource_path(compute_resource),
               :onchange    => 'ovirt_clusterSelected(this);',
               :help_inline => :indicator,
               :label      => _('Cluster'), :label_size => "col-md-2" } %>
<%= f.hidden_field :cluster if !new_host %>
<%= select_f f, :template, compute_resource.templates, :id, :full_name, {:include_blank => _("Select template")},
             { :disabled    => !new_host, :'data-url' => template_selected_compute_resource_path(compute_resource),
               :onchange    => 'ovirt_templateSelected(this);',
               :help_inline => :indicator,
               :help_block  => _("oVirt/RHEV template to use"),
               :label       => _('Template'), :label_size => "col-md-2" } %>
<%= f.hidden_field :template if !new_host %>

<% selected_cluster ||= params[:host] && params[:host][:compute_attributes] && params[:host][:compute_attributes][:cluster] %>

<%= counter_f f, :cores, :disabled => !new_host, :label => _('Cores'), :label_size => 'col-md-2', :'data-soft-max' => compute_resource.max_cpu_count %>
<%= byte_size_f f, :memory, :disabled => !new_host, :label => _('Memory'), :label_size => "col-md-2", :'data-soft-max' => compute_resource.max_memory %>

<% checked = params[:host] && params[:host][:compute_attributes] && params[:host][:compute_attributes][:start] || '1' %>
<%= checkbox_f f, :start, { :checked => (checked == '1'), :help_inline => _("Power ON this machine"), :label => _('Start'), :label_size => "col-md-2" } if new_host && controller_name != "compute_attributes" %>

<%
   arch ||= nil ; os ||= nil
   images = possible_images(compute_resource, arch, os)
-%>

<div id='image_selection'>
  <%= select_f f, :image_id, images, :uuid, :name,{:include_blank => (images.empty? || images.size == 1) ? false : _('Please select an image')},
             { :disabled    => true, :'data-url' => template_selected_compute_resource_path(compute_resource),
               :onchange    => 'ovirt_templateSelected(this);',
               :help_inline => :indicator,
               :help_block  => _("Image to use"),
               :label => _('Image'), :label_size => "col-md-2"} %>
</div>

<%= compute_specific_js(compute_resource, "nic_info") %>
