<div class="fields">
  <div class="control-group">
  <% if f.object._delete != '1' -%>
    <% disabled = !f.object.id.blank? %>
    <%= text_f f,:size_gb, :label => 'Size GB', :disabled => disabled, :class => "span2" %>
    <%= f.hidden_field :size_gb if disabled %>
    <%= select_f f, :storage_domain, compute_resource.storage_domains, :id, :name,
                 { }, :label => 'Storage Domain', :disabled => disabled, :class => "span2",
                 :help_inline=> remove_child_link("X", f, { :method => :'_delete', :title => 'remove volume', :class => 'label label-important' }) %>
    <%= f.hidden_field :storage_domain if disabled %>
    <%= f.hidden_field :id %>
    <%= field(f, :bootable, :label => 'Bootable') do
        radio_button_f f, :bootable, {:disabled => disabled, :value=>'true', :checked => (f.object.bootable == 'true'), :onclick => 'bootable_radio(this)',
        :text => 'Only one volume can be Bootable'}
    end %>
  <% end -%>
  </div>
</div>