<% javascript 'filters' %>

<%= form_for @filter do |f| %>
    <%= base_errors_for f.object %>
    <ul class="nav nav-tabs" data-tabs="tabs">
      <li class="active"><a href="#primary" data-toggle="tab"><%= _("Filter") %></a></li>
      <% if show_location_tab? %>
          <li><a href="#locations" data-toggle="tab"><%= _("Locations") %></a></li>
      <% end %>
      <% if show_organization_tab? %>
          <li><a href="#organizations" data-toggle="tab"><%= _("Organizations") %></a></li>
      <% end %>
    </ul>

    <div class="tab-content">

      <div class="tab-pane active" id="primary">
        <% if @role.present? %>
            <h5><%= _("Selected role: %s" % @role.name) %></h5>
            <%= f.hidden_field :role_id, :value => f.object.role_id || @role.id %>
        <% else %>
            <%= select_f(f, :role_id, Role.scoped, :id, :name) %>
        <% end %>

        <%= select_f(f, :resource_type, Permission.resources, :to_s, :to_s, { :include_blank => true },
                     { :'data-url' => permissions_path }) %>

        <%= multiple_selects f, :permissions, Permission.where(:resource_type => f.object.resource_type),
                             f.object.permissions.map(&:id), :label => _("Permission") %>

        <%= hidden_field_tag :role_id, @role.try(:id) %>

        <%= checkbox_f f, :unlimited?,
                       :help_inline => _("By unchecking this you can configure filter using scoped_search syntax") %>
        <%= text_f f, :search, :disabled => f.object.unlimited? %>
      </div>

      <% if show_location_tab? %>
          <div class="tab-pane" id="locations">
            <% collection = User.current.locations.empty? ? Location : User.current.locations %>
            <%= multiple_checkboxes f, :locations, f.object, collection, :label => _("Locations") %>
          </div>
      <% end %>

      <% if show_organization_tab? %>
          <div class="tab-pane" id="organizations">
            <% collection = User.current.organizations.empty? ? Organization : User.current.organizations %>
            <%= multiple_checkboxes f, :organizations, f.object, collection, {},
                                    { :label => _("Organizations") } %>
          </div>
      <% end %>
    </div>

    <%= submit_or_cancel f, false, :cancel_path => :back %>
<% end %>
