<div class="col-md-3">
  <div class="card-pf  card-pf-accented card-pf-aggregate-status card-pf-with-action">
    <h2 class="card-pf-title">
      <a href="#certificates" onclick="$('#puppetca-filter').val('').trigger('change')">
        <%= icon_text('lock', '', :kind => 'fa') %><span class="card-pf-aggregate-status-count"><%= @certificates.length.to_s %></span> <%= _("Certificates") %>
      </a>
    </h2>
    <div class="card-pf-body">
      <p class="card-pf-aggregate-status-notifications">
      <% PuppetcaHelper::STATES.each do |state|%>
        <span class="card-pf-aggregate-status-notification">
          <a href="#certificates" title="<%= _(state) %>" onclick="$('#puppetca-filter').val('<%= _(state) %>').trigger('change')"><span class="<%= PuppetcaHelper::CA_ICONS[state] %>"></span><%= @certificates.count{|c| c.state == state}.to_s %></a>
        </span>
      <% end %>
      </p>
    </div>
  </div>
</div>
