<%= javascript_tag("$(document).on('ContentLoad', tfm.advancedFields.initAdvancedFields)"); %>

<% title _("Generate a Report") %>

<div id="template_generator"></div>
<%= mount_react_component('TemplateGenerator', '#template_generator', {'templateName' => @template.name}.to_json) %>

<div class="schedule-report">
  <%= form_for :report_template_report, url: schedule_report_report_template_path(@template) do |f| %>

    <%= f.fields_for :input_values do |input_values_fields| %>
      <% inputs = @template.template_inputs.select {|input| input.input_type == 'user'} %>

      <% inputs.select(&:basic?).each do |input| %>
        <%= render :partial => 'template_inputs/invocation_form', :locals => {:input_values_fields => input_values_fields, :composer => @composer, :input => input} %>
      <% end %>

      <% if inputs.any?(&:advanced?) %>
        <%= advanced_switch_f _('Display advanced fields'), _('Hide advanced fields') %>

        <div class="advanced hidden">
          <% inputs.select(&:advanced).each do |input| %>
            <%= render :partial => 'template_inputs/invocation_form', :locals => {:input_values_fields => input_values_fields, :composer => @composer, :input => input} %>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <%= submit_or_cancel f, false, { data: { disable_with: false } } %>
  <% end %>
</div>

<script type="text/javascript">
  tfm.templateInputs.initScheduleFormSubmit(
    '<%= schedule_report_api_report_template_path(@template) %>'
  );
</script>

