<% javascript 'taxonomy' %>
<%= form_for taxonomy do |f| %>
    <%= base_errors_for taxonomy %>
    <ul class="nav nav-tabs" data-tabs="tabs">
      <li class="active"><a href="#primary" data-toggle="tab"><%= taxonomy.class.name %></a></li>
      <li><a href="#users" data-toggle="tab"><%= _("Users") %></a></li>
      <li><a href="#smart_proxies" data-toggle="tab"><%= _("Smart Proxies") %></a></li>
      <% if SETTINGS[:unattended] %>
        <li><a href="#subnets" data-toggle="tab"><%= _("Subnets") %></a></li>
        <li><a href="#compute_resources" data-toggle="tab"><%= _("Compute Resources") %></a></li>
        <li><a href="#media" data-toggle="tab"><%= _("Media") %></a></li>
        <li><a href="#template" data-toggle="tab"><%= _("Templates") %></a></li>
        <li><a href="#domains" data-toggle="tab"><%= _("Domains") %></a></li>
      <% end -%>
      <li><a href="#environments" data-toggle="tab"><%= _("Environments") %></a></li>
      <li><a href="#hostgroups" data-toggle="tab"><%= _("Host Groups") %></a></li>
      <% if (taxonomy.is_a?(Organization) && SETTINGS[:locations_enabled]) %>
        <li><a href="#locations" data-toggle="tab">Locations</a></li>
      <% elsif SETTINGS[:organizations_enabled] %>
        <li><a href="#organizations" data-toggle="tab"><%= _("Organizations") %></a></li>
    <% end %>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="primary">
        <%= text_f f, :name, :class => "input-xlarge", :label => _("Name") %>
        <%#= render :partial => 'taxonomy/hosts', :locals => {:hosts => @hosts, :f => f} %>
      </div>

      <div class="tab-pane" id="users">
        <%= checkbox_f(f, :ignore_types, {:label => "", :help_inline => _("All Users"), :multiple => true, :onchange => 'ignore_checked(this)'}, _("User")) %>
        <%= multiple_selects f, :users, User.except_admin, taxonomy.selected_ids[:user_ids],
           {:disabled => taxonomy.used_and_selected_ids[:user_ids]},
           {'data-mismatches' => taxonomy.need_to_be_selected_ids[:user_ids].to_json} %>
      </div>

      <div class="tab-pane" id="smart_proxies">
        <%= checkbox_f(f, :ignore_types, {:label => "", :help_inline => _("All Smart Proxies"), :multiple => true, :onchange => 'ignore_checked(this)'}, _("SmartProxy")) %>
        <%= multiple_selects f, :smart_proxies, SmartProxy, taxonomy.selected_ids[:smart_proxy_ids],
           {:disabled => taxonomy.used_and_selected_ids[:smart_proxy_ids]},
           {'data-mismatches' => taxonomy.need_to_be_selected_ids[:smart_proxy_ids].to_json} %>
      </div>

      <% if SETTINGS[:unattended] %>
        <div class="tab-pane" id="subnets">
          <%= checkbox_f(f, :ignore_types, {:label => "", :help_inline => _("All Subnets"), :multiple => true, :onchange => 'ignore_checked(this)'}, _("Subnet")) %>
          <%= multiple_selects f, :subnets, Subnet, taxonomy.selected_ids[:subnet_ids],
                               {:disabled => taxonomy.used_and_selected_ids[:subnet_ids]},
                               {'data-mismatches' => taxonomy.need_to_be_selected_ids[:subnet_ids].to_json} %>
        </div>

        <div class="tab-pane" id="compute_resources">
          <%= checkbox_f(f, :ignore_types, {:label => "", :help_inline => _("All Compute Resources"), :multiple => true, :onchange => 'ignore_checked(this)'}, _("ComputeResource")) %>
          <%= multiple_selects f, :compute_resources, ComputeResource, taxonomy.selected_ids[:compute_resource_ids],
                               {:disabled => taxonomy.used_and_selected_ids[:compute_resource_ids]},
                               {'data-mismatches' => taxonomy.need_to_be_selected_ids[:compute_resource_ids].to_json} %>
        </div>

        <div class="tab-pane" id="media">
          <%= checkbox_f(f, :ignore_types, {:label => "", :help_inline => _("All Media"), :multiple => true, :onchange => 'ignore_checked(this)'}, _("Medium")) %>
          <%= multiple_selects f, :media, Medium, taxonomy.selected_ids[:medium_ids],
                               {:disabled => taxonomy.used_and_selected_ids[:medium_ids]},
                               {'data-mismatches' => taxonomy.need_to_be_selected_ids[:medium_ids].to_json} %>
        </div>

        <div class="tab-pane" id="template">
          <%= checkbox_f(f, :ignore_types, {:label => "", :help_inline => _("All Templates"), :multiple => true, :onchange => 'ignore_checked(this)'}, _("ConfigTemplate")) %>
          <%= multiple_selects f, :config_templates, ConfigTemplate, taxonomy.selected_ids[:config_template_ids],
                               {:disabled => taxonomy.used_and_selected_ids[:config_template_ids]},
                               {'data-mismatches' => taxonomy.need_to_be_selected_ids[:config_template_ids].to_json} %>
        </div>

        <div class="tab-pane" id="domains">
          <%= checkbox_f(f, :ignore_types, {:label => "", :help_inline => _("All Domains"), :multiple => true, :onchange => 'ignore_checked(this)'}, _("Domain")) %>
          <%= multiple_selects f, :domains, Domain, taxonomy.selected_ids[:domain_ids],
                               {:disabled => taxonomy.used_and_selected_ids[:domain_ids]},
                               {'data-mismatches' => taxonomy.need_to_be_selected_ids[:domain_ids].to_json} %>
        </div>
      <% end %>

      <div class="tab-pane" id="environments">
        <%= checkbox_f(f, :ignore_types, {:label => "", :help_inline => _("All Environments"), :multiple => true, :onchange => 'ignore_checked(this)'}, _("Environment")) %>
        <%= multiple_selects f, :environments, Environment, taxonomy.selected_ids[:environment_ids],
            {:disabled => taxonomy.used_and_selected_ids[:environment_ids]},
            {'data-mismatches' => taxonomy.need_to_be_selected_ids[:environment_ids].to_json} %>
      </div>

      <div class="tab-pane" id="hostgroups">
        <%= checkbox_f(f, :ignore_types, {:label => "", :help_inline => _("All Hostgroups"), :multiple => true, :onchange => 'ignore_checked(this)'}, _("Hostgroup")) %>
        <%= multiple_selects f, :hostgroups, Hostgroup, taxonomy.selected_ids[:hostgroup_ids],
            {:disabled => taxonomy.used_and_selected_ids[:hostgroup_ids]},
            {'data-mismatches' => taxonomy.need_to_be_selected_ids[:hostgroup_ids].to_json} %>
     </div>

      <% if taxonomy.is_a?(Location) && SETTINGS[:locations_enabled] %>
        <div class="tab-pane" id="organizations">
          <%= multiple_selects f, :organizations, Organization, taxonomy.selected_ids[:organization_ids],
            {:disabled => taxonomy.used_and_selected_ids[:organization_ids]},
            {'data-mismatches' => taxonomy.need_to_be_selected_ids[:organization_ids].to_json} %>
        </div>
      <% elsif taxonomy.is_a?(Organization) && SETTINGS[:organizations_enabled] %>
        <div class="tab-pane" id="locations">
          <%= multiple_selects f, :locations, Location, taxonomy.selected_ids[:location_ids],
            {:disabled => taxonomy.used_and_selected_ids[:location_ids]},
            {'data-mismatches' => taxonomy.need_to_be_selected_ids[:location_ids].to_json} %>
        </div>
      <% end %>

      <%= submit_or_cancel f %>
    </div>
<% end %>
