<% title _(taxonomy_upcase.pluralize) %>

<% title_actions display_link_if_authorized((_("New %s") % _(taxonomy_upcase)), hash_for_new_taxonomy_path), link_to(_("Mismatches Report"), mismatches_taxonomies_path, :class => 'btn'), help_path %>

<% if @count_nil_hosts > 0 %>
<div class="alert alert-message alert-block alert">
    <strong><%= _("Notice:") %></strong>
    There are <%= link_to _("%{count} hosts with no %{taxonomy_single} assigned") % {:count => @count_nil_hosts , :taxonomy_single => taxonomy_single }, hosts_path(:search => _("not has %s") % taxonomy_single)  %>
</div>
<% end %>

<table class="table table-bordered table-striped">
  <tr>
    <th><%= sort :name %></th>
    <th><%= _("Hosts") %></th>
    <th></th>
  </tr>

  <% @taxonomies.each do |taxonomy| %>
    <tr class="<%= cycle("even", "odd") -%>">
      <td><%= link_to taxonomy.to_label, edit_taxonomy_path(taxonomy) %></td>
      <td><%= link_to @counter[taxonomy.id] || 0, hosts_path(:search => "#{taxonomy_single} = #{taxonomy}") %></td>
      <td>
        <%= action_buttons(
          display_link_if_authorized(_("Edit"), hash_for_edit_taxonomy_path(taxonomy) ),
          display_link_if_authorized(_("Clone"), hash_for_clone_taxonomy_path(taxonomy) ),
          display_delete_if_authorized(hash_for_taxonomy_path(taxonomy), :confirm => _("Delete %s?") % taxonomy.name, :action => :destroy),
          (link_to((_("Select Hosts to Assign to %s") % taxonomy.name), assign_hosts_taxonomy_path(taxonomy)) if @count_nil_hosts > 0),
          (link_to(_("Assign All %{count} Hosts with No %{taxonomy_upcase} to %{taxonomy_name}") % {:count =>@count_nil_hosts, :taxonomy_upcase => taxonomy_upcase, :taxonomy_name => taxonomy.name}  ,
              assign_all_hosts_taxonomy_path(taxonomy),
              :method => :post) if @count_nil_hosts > 0)
          )%>
      </td>
    </tr>
  <% end %>
</table>
<%= page_entries_info @taxonomies %>
<%= will_paginate     @taxonomies %>
