<% content_for(:title, _("Permission denied")) %>
<div class="blank-slate-pf">
  <div class="blank-slate-pf-icon">
    <%= icon_text("lock", "", :kind => "fa") %>
  </div>
  <h1><%= _("Permission denied") %></h1>
  <p>
    <%= _("You are not authorized to perform this action.") %></br>
    <%= _("Please request one of the required permissions listed below from a Foreman administrator:") %></br>
    <ul class="list-unstyled">
      <% @missing_permissions.each do |permission| %>
        <li><strong><%= permission.name %></strong></li>
      <% end %>
    </ul>
  </p>
  <p><%= link_to(_('Back'), main_app.root_path, :class => 'btn btn-default') %></p>
</div>
