<% title _("Oops, we're sorry but something went wrong") %>

<div class="alert alert-message alert-block alert-error base in fade">
  <a class="close" href="#" data-dismiss="alert">x</a>
    <%= h exception.message %>
</div>

<p>
  <%= _("If you feel this is an error with Foreman itself, please open a new issue with") %> <%= link_to _("Foreman ticketing system"), "http://theforeman.org/projects/foreman/issues", :rel => "external" %>,
  <%= _("You would probably need to attach the") %>
  <%= link_to _("Full trace"), "#", :onclick => "toggle_backtrace()" %> <%= _("and relevant log entries.") %>
</p>

<div id="backtrace" class="alert alert-message alert-block alert-error base in fade hide">
  <em><%= exception.class %></em><br>
  <strong><%= exception.message %></strong><br>
  <%= Rails.backtrace_cleaner.clean(exception.backtrace).join("<br>").html_safe %>
</div>
<p><%= link_to _("Back"), root_path %></p>
