<% title _("Oops, we're sorry but something went wrong") %>


<%= alert :class => 'alert-block alert-danger base in fade', :text => h(exception.message) %>

<p>
  <%= _("If you feel this is an error with %s itself, please open a new issue with") % SETTINGS[:name] %> <%= link_to _("Foreman ticketing system"), "http://theforeman.org/projects/foreman/issues", :rel => "external" %>,
  <%= _("You would probably need to attach the") %>
  <%= link_to_function(_("Full trace"), "$('#backtrace').toggle()")%> <%= _("and relevant log entries.") %>
</p>

<div id="backtrace" class="alert alert-block alert-danger base in fade hide">
  <em><%= exception.class %></em><br>
  <strong><%= exception.message %></strong><br>
  <%= Rails.backtrace_cleaner.clean(exception.backtrace).join("<br>").html_safe %>
</div>
<p><%= link_to _("Back"), main_app.root_path %></p>
