<ul class="inputs-list">
  <% if associations.empty? -%>
    <strong>None Found</strong>
  <% else -%>
     <%= link_to_function(icon_text("check", ""), "toggleCheckboxesBySelector(\"[id$='#{ActiveModel::Naming.singular(associations.first)}_ids_']\")",
                                         :title => "Select all") %>
    <% associations.sort{|a,b| a.to_s <=> b.to_s}.each do |association| -%>
      <li>
      <%= content_tag_for :label, association do %>
        <%= check_box_tag(
          "#{prefix || klass.class.model_name.downcase}[#{ActiveModel::Naming.singular(association)}_ids][]",
          association.id, klass.send(ActiveModel::Naming.plural(association)).map(&:id).include?(association.id))
        %>
        <%= contract association %>
        <%= hidden_field_tag "#{prefix || klass.class.model_name.downcase}[#{ActiveModel::Naming.singular(association)}_ids][]" %>
      <% end -%>
      </li>
    <% end -%>
  <% end -%>
</ul>
