<span id=fact_search>
  <%= label_tag "Fact Name" %>
  <%= collection_select :search, :fact_values_fact_name_id_eq,
    Puppet::Rails::FactName.all(:select => "id, name", :order => "name ASC"),
    :id, :name, :selected => @fact_name_id, :include_blank => "Select a fact"
  %>
  <% if @fact_values -%>
    <%= label :fact_values_value_eq, "Value" %>
    <%= collection_select :search, :fact_values_value_eq, @fact_values, :value, :value %>
  <% end -%>
</span>

<%= observe_field(:search_fact_values_fact_name_id_eq,
                  :url => { :action => :fact_selected },
                  :update => :fact_search,
                  :with => :search_fact_values_fact_name_id_eq) %>
