<%= hidden_field_tag :via, @via %>
<span id=fact_search>
  <%= label_tag :search_fact_name_id, "Fact Name"  %>
  <%= collection_select :search, "#{@via}fact_name_id_eq".to_sym,
    Puppet::Rails::FactName.all(:select => "id, name", :order => "name ASC"),
    :id, :name, {:selected => fact_name_select, :include_blank => "Select a fact"},
    {:id => :search_fact_name_id}
  %>
  <% if @values -%>
    <%= label "search_#{@via}value_eq", "Value" %>
    <%= collection_select :search, "#{@via}value_eq".to_sym, @values, :value, :value %>
  <% end -%>
</span>

<%= observe_field(:search_fact_name_id,
                  :url => { :action => :fact_selected },
                  :update => :fact_search,
                  :with => "'search_fact_name_id=' + value + '&via=' + $F(\'via\')")
%>
