<form
  class='content-view-pf-pagination table-view-pf-pagination paginate' id='pagination'
  data-count=<%= collection.total_entries %> data-per-page=<%= per_page(collection) %>
  onsubmit='return tfm.tools.updateTable(this);'>
  <div class='form-group'>
    <%= select_tag('per_page',
                   options_for_select(per_page_options,
                                      params[:per_page] || Setting[:entries_per_page]),
                   label: _('per page'),
                   onChange: 'tfm.tools.updateTable(this)',
                   class: 'pagination-pf-pagesize without_select2 per-page') %>
    <span><%= _('per page') %></span>
  </div>

  <div class='form-group'>
    <span>
      <span class='pagination-pf-items-current'>
        <%= collection.offset + 1 %>-<%= collection.offset + collection.length %>
      </span>
      <%= _('of') %>
      <span class='pagination-pf-items-total'>
        <%= collection.total_entries %>
      </span>
    </span>
    <%= will_paginate(collection, options) %>
  </div>
</form>
