<% title _("Changed environments and puppet classes") -%>
<%= form_tag "/#{controller_path}/obsolete_and_new" do -%>
  <fieldset>
    <legend><%= _("Accept these environment changes found in puppet?") %> </legend>
      <table class="table table-striped">
        <th><%= _("Environment") %></th><th><%= _("Operation") %></th><th><%= _("Puppet Modules") %></th>
        <% for kind in ["new", "obsolete", "updated"] -%>
          <% unless (envs = @changed[kind]).empty? -%>
            <% for env in envs.keys.sort -%>
              <tr>
                <td>
                  <%= check_box_tag "changed[#{kind}][#{env}]", @changed[kind][env].to_json, true %>
                  <%= env -%>
                </td>
                <td>
                  <%= {"new" => _("Add:"), "obsolete" => _("Remove:"), "updated" => _("Update:")}[kind] -%>
                </td>
                <td>
                  <% pcs = @changed[kind][env] -%>
                  <%= class_update_text pcs, env %>
                </td>
              </tr>
            <% end -%>
          <% end -%>
        <% end -%>
    </table>
  </fieldset>
  <div>
    <%= link_to _("Cancel"),"/" + controller_path, :class => "btn" %>
    <%= submit_tag _("Update"), :class => "btn btn-primary" %>
  </div>
<% end -%>
