<% title "Changed environments and puppet classes" %>

<% form_tag '/environments/obsolete_and_new' do -%>
  <% for kind in [:new, :obsolete ] do %>
    <fieldset>
      <legend><%= kind.to_s.capitalize -%> puppetclasses</legend>
      <% unless (pcs = @changed.send(:[], kind)[:puppetclasses]).empty? -%>
      <table>
      <% pcs.in_groups_of(@grouping) do |group| -%>
        <tr>
          <% for i in  0...@grouping do %>
           <% if group[i] -%>
              <td>
                <%= check_box_tag "changed[#{kind.to_s}][puppetclasses][]", group[i], true %>
                <%= group[i] -%>
              </td>
            <% end -%>
          <% end -%>
        </tr>
      <% end -%>
      </table>
      <% end -%>
    </fieldset>

    <fieldset>
      <legend><%= kind.to_s.capitalize -%>  environments</legend>
      <% unless (envs = @changed.send(:[], kind)[:environments]).empty? -%>
      <table>
      <% envs.in_groups_of(@grouping) do |group| -%>
        <tr>
          <% for i in 0...@grouping do %>
           <% if group[i] -%>
              <td>
                <%= check_box_tag "changed[#{kind.to_s}][environments][]", group[i], true %>
                <%= group[i] -%>
              </td>
            <% end -%>
          <% end -%>
        </tr>
      <% end -%>
      </table>
      <% end -%>
    </fieldset>
  <% end -%>
  <div>
    <%= submit_tag "Update" -%> <%= submit_tag "Cancel" -%>
  </div>
<% end -%>