<div id="searchbar" style="clear:both;">
  <div id="tabs" class="odd">
    <ul>
      <li><%= link_to_function "Search", toggle_searchbar %></li>
      <% for tab in @tabs.keys.sort -%>
        <%= searchtab tab, @tabs[tab], :selected => (@active_tab == tab) %>
      <% end -%>
      <%= searchtab "Reset", {}, :selected => false, :no_close_button => true %>
    </ul>
  </div>
  <div id="search" style="display:none">
    <ul>
      <li><%= link_to_function "Search", toggle_searchbar  %></li>
      <li>
        <%= render :partial => 'search_line' %>
      </li>
    </ul>
  </div>
</div>
