<% if @search -%>
  <div id="searchbar" style="clear:both;">
    <div id="tabs" class="even">
      <ul>
        <li><%= link_to_function "Search", toggle_searchbar %><li>
        <% for tab in @tabs.keys.sort -%>
          <%= searchtab tab, @tabs[tab], :selected => (@active_tab == tab) %>
        <% end -%>
        <%= searchtab "Reset", "/", :selected => false, :no_close_button => true %>
      </ul>
    </div>
    <div id="search" style="display:none">
      <ul>
        <li><%= link_to_function "Search", toggle_searchbar  %></li>
        <li>
        <% form_for @search do |f|-%>
          <span title="A substring match">
            <%= f.label :name_like, "Name" %>
            <%= f.text_field :name_like, :size => 10 %>
          </span>
          <%= f.label :hostgroup, "Role" %>
          <%= f.collection_select :hostgroup_id_eq, Hostgroup.all, :id, :name, :include_blank => true %>
          <%= render :partial => 'common/fact_selected' %>
          <%= f.submit "Go" %> Save as tab: <%= text_field_tag :tab_name, "" %>
        <% end %>
        </li>
      </ul>
    </div>
  </div>
<% end -%>
