<table class="list">
  <tr>
    <% unless defined? @host -%>
      <th><%= order @search, :by => :host_name, :as => "Host" %></th>
    <% end -%>
    <th><%= order @search, :by => :reported_at, :as => "Last report" %></th>
    <th>Applied</th>
    <th>Restarted</th>
    <th>Failed</th>
    <th>Failed restarts</th>
    <th>Skipped</th>
    <th>Config retrieval</th>
    <th>Runtime</th>
    <th></th>
  </tr>
  <% for report in @reports %>
    <tr class="<%= cycle("even", "odd") -%>">
      <% unless defined? @host -%>
        <td><%= link_to h(report.host.shortname), reports_host_path(report.host) + "?search[interesting]=1" %></td>
      <% end -%>
      <td><%= reported_at_column(report) %></td>
      <td><%= h report.applied %></td>
      <td><%= h report.restarted %></td>
      <td><%= h report.failed %></td>
      <td><%= h report.failed_restarts %></td>
      <td><%= h report.skipped %></td>
      <td><%= h report.config_retrieval %></td>
      <td><%= h report.runtime %></td>
      <td align="right">
        <%= link_to "Details", report %>
        <%= display_link_if_authorized "Destroy", hash_for_report_path(:id => report.id, :auth_action => :destroy), :confirm => "Delete report for #{report.host.name}?", :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>
<%= page_entries_info @reports %>
<%= will_paginate @reports %>
