<table class="list zebra-striped">
  <tr>
    <% unless params[:host_id] -%>
      <th><%= sort :host %></th>
    <% end -%>
    <th><%= sort :reported, :as => "Last report" %></th>
    <th class="small"><%= sort :applied %></th>
    <th class="small"><%= sort :restarted %></th>
    <th class="small"><%= sort :failed %></th>
    <th class="small"><%= sort :failed_restarts, :as => "Restart<br>Failures" %></th>
    <th class="small"><%= sort :skipped %></th>
    <th class="small"></th>
  </tr>
  <% for report in @reports %>
    <tr>
      <% unless params[:host_id] -%>
        <td><%= link_to h(report.host), host_reports_path(report.host) %></td>
      <% end -%>
      <td><%= reported_at_column(report) %></td>
      <td><%= report_event_column(report.applied, "notice") %></td>
      <td><%= report_event_column(report.restarted, "notice") %></td>
      <td><%= report_event_column(report.failed, "important") %></td>
      <td><%= report_event_column(report.failed_restarts, "warning") %></td>
      <td><%= report_event_column(report.skipped, "notice") %></td>
      <td align="right">
        <%= display_link_if_authorized "Delete", hash_for_report_path(:id => report.id, :auth_action => :destroy), :confirm => "Delete report for #{report.host.name}?", :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>
<%= page_entries_info @reports %>
<%= will_paginate @reports %>
