<table class="list">
  <tr>
    <% unless defined? @host -%>
      <th><%= sort :host %></th>
    <% end -%>
    <th><%= sort :reported, :as => "Last report" %></th>
    <th><%= sort :applied %></th>
    <th><%= sort :restarted %></th>
    <th><%= sort :failed %></th>
    <th><%= sort :failed_restarts, :as => "Restart Failures" %></th>
    <th><%= sort :skipped %></th>
    <th>Config retrieval</th>
    <th>Runtime</th>
    <th></th>
  </tr>
  <% for report in @reports %>
    <tr class="<%= cycle("even", "odd") -%>">
      <% unless defined? @host -%>
        <td><%= link_to h(report.host), host_path(report.host) %></td>
      <% end -%>
      <td><%= reported_at_column(report) %></td>
      <td><%= h report.applied %></td>
      <td><%= h report.restarted %></td>
      <td><%= h report.failed %></td>
      <td><%= h report.failed_restarts %></td>
      <td><%= h report.skipped %></td>
      <td><%= h report.config_retrieval %></td>
      <td><%= h report.runtime %></td>
      <td align="right">
        <%= link_to "Details", report %>
        <%= display_link_if_authorized "Destroy", hash_for_report_path(:id => report.id, :auth_action => :destroy), :confirm => "Delete report for #{report.host.name}?", :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>
<%= page_entries_info @reports %>
<%= will_paginate @reports %>
