<% @totaltime = metrics.delete('total') %>
<% metrics.delete_if{ |k,v| v < 0.001 } %>
<div class="row">
  <%= pie_chart("metrics" ,_("Report Metrics"), metrics, :class => "statistics_pie span4")%>
  <%= bar_chart("status" ,_("Report Status"),' ' + _("Number of Events"), status.keys, status.values, :class => "statistics_bar span4")%>
  <div class="span4">
    <table class='table table-bordered table-striped' style="height: 398px;">
      <% metrics.sort.each do |title, value|-%>
        <tr>
          <td> <%= title %> </td>
          <td> <%= metric value %> </td>
        </tr>
        <% end %>
      <tr><th><%= _("Total") %></th><th><%= metric (@totaltime || @report.runtime) %></th></tr>
    </table>
  </div>
</div>
