<% form_for @search do |f| -%>
  <% unless defined? @host %>
    <div title="A substring match">
      <%= f.label      :host_name_like, "Host" %>
      <%= f.text_field :host_name_like, :size => 8 %>
    </div>
  <% end -%>
  <span>
    <%= f.label      :sources_value_like, "Resource" %>
    <%= f.text_field :sources_value_like, :size => 8 %>
    <%= f.label      :messages_value_like, "Log" %>
    <%= f.text_field :messages_value_like, :size => 8 %>
  </span>
  <div title="Time period">
    <%= reports_since f %>
  </div>
  <div> |
    <span title="Reports that contain some activity">
      <%= f.check_box :interesting , {}, true, false  %>
      <small>Interesting</small>
    </span>
    <% for status in Report::METRIC -%>
      <%= check_box_tag status, "1", params[status] %>
      <small><%= status.capitalize %></small> |
    <% end -%>
    <%= f.submit "Go" %> Save as tab: <%= text_field_tag :tab_name, "", :size => 8 %>
  </div>
<% end %>
