<% form_for @search do |f|-%>
  <span title="A substring match">
    <%= f.label      :host_name_like, "Host" %>
    <%= f.text_field :host_name_like, :size => 10 %>
  </span>
  <span title="Time period">
    <%= reports_since f  %>
  </span> |
  <% for status in Report::METRIC -%>
    <%= check_box_tag status, "1", params[status] %>
    <small><%= status.capitalize %></small> |
  <% end -%>
  <%= f.submit "Go" %> Save as tab: <%= text_field_tag :tab_name, "", :size => 10 %>
<% end %>
