<% title "Locations" %>

<% title_actions display_link_if_authorized("New Location", hash_for_new_location_path), help_path %>

<table class="table table-bordered table-striped">
  <tr>
    <th><%= sort :name %></th>
    <th></th>
  </tr>

  <% @locations.each do |location| %>
    <tr class="<%= cycle("even", "odd") -%>">
      <td><%= link_to location.to_label, edit_location_path(location) %></td>
      <td>
        <%= action_buttons(link_to('Edit', edit_location_path(location), :class => "btn btn-small"),
                                           link_to('Delete', :method => :destroy, :class => "btn btn-danger")) %>
      </td>
    </tr>
  <% end %>
</table>
<%= page_entries_info @locations %>
<%= will_paginate     @locations %>
