<div class="blank-slate-pf">
  <div class="blank-slate-pf-icon">
    <%= icon_text("globe", "", :kind => "fa") %>
  </div>
  <h1><%= _('Locations') %></h1>
  <p>
    <%= _("You must create a location before continuing.") %>
  </p>
  <p>
    <%= _("Locations are used to manage and differentiate the physical place where a system managed via Foreman is housed. For example, there might be a data center in London and one in Virginia; these are locations.") %>
  </p>
  <p>
    <%= (_('Locations also work nicely when used in tandem with %{organizations}.') % {:organizations => link_to(_("organizations"), :controller => "organizations", :action => "index")}).html_safe %>
  </p>
  <div class="blank-slate-pf-main-action">
      <%= new_link(_("Create Location"), {} , { :class => "btn-lg" }) %>
  </div>
</div>
