<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title> <%= h(yield(:title) || "Foreman") %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
    <%= javascript_tag "var URL_PREFIX = '#{request.script_name}';" %>
    <%= javascript_tag "var I18N_MARK = true;" if SETTINGS[:mark_translated] and not Rails.env.test? %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <%= favicon_link_tag "favicon.ico"%>
    <%= yield(:head) %>
  </head>

  <body>
    <div id="wrap">
      <% if User.current %>
        <div class="navbar navbar-default navbar-outer">
          <div class="navbar-header">
            <div class="container">
              <div class="navbar-brand">
                <!--[if IE]><div class='logo-small'> <![endif]-->
                <%= image_tag("foreman.png") %>
                  <!--[if IE]></div> <![endif]-->
                  <%= link_to "Foreman", root_path %>
              </div>

              <%= render 'home/user_dropdown' if SETTINGS[:login] && User.current %>
            </div>
          </div>
        </div>

        <div class="navbar navbar-default navbar-inner navbar-fixed-top persist-header">

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-admin">
            <span class="glyphicon glyphicon-cog"></span>
          </button>

          <div class="container">
            <%= render 'home/topbar' %>
          </div>
        </div>
      <% end %>

      <div id="main">
        <%= content_tag('div', flash[:error],   :class => 'flash hide error')   if flash[:error] %>
        <%= content_tag('div', flash[:warning], :class => 'flash hide warning') if flash[:warning] %>
        <%= content_tag('div', flash[:notice],  :class => 'flash hide notice')  if flash[:notice] %>
        <%= render 'common/notice' unless @notices.empty? %>
        <div id="content" class="container">
          <% unless @page_header.blank? %>
            <div class="row  form-group">
              <h1 class="col-md-8"><%=h @page_header %></h1>
            </div>
          <% end %>
          <div class="row">
            <div class="title_filter <%= searchable? ? "col-md-6" : "col-md-4" %>">
              <%= render "common/searchbar" if searchable? %>
              <%= yield(:search_bar) %>&nbsp;
            </div>
            <div id="title_action" class="<%= searchable? ? "col-md-6" : "col-md-8" %>">
              <div class="btn-toolbar pull-right"><%=h yield(:title_actions) %></div>
            </div>
          </div>

          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
