<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <%= stylesheet_link_tag "unimported/email" %>
    <%= yield :head %>
  </head>
  <body>
    <%= yield %>
  </body>
  <div class="footer">
    <%= email_footer %>
    <%= yield :footer %>
  </div>
</html>
