<!DOCTYPE html>
<html lang="<%= I18n.locale %>" data-timezone="<%= iana_timezone %>" class="<%= User.current ? "layout-pf layout-pf-fixed" : "no-js"%>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= h(yield(:title) || "Foreman") %></title>
    <meta name="description" content="">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <%= yield(:meta) %>

    <%= favicon_link_tag "favicon.ico"%>

    <%= stylesheet_link_tag *webpack_asset_paths('foreman-vendor', :extension => 'css') %>
    <%= stylesheet_link_tag *webpack_asset_paths('bundle', :extension => 'css') %>
    <%= stylesheet_link_tag 'application' %>
    <%= yield(:stylesheets) %>

    <%= csrf_meta_tags %>

    <script type="text/javascript">
      var URL_PREFIX = '<%= controller.relative_url_root %>';

      <% if protect_against_forgery? %>
        var AUTH_TOKEN = '<%= form_authenticity_token %>';
      <% else %>
        var AUTH_TOKEN = null
      <% end %>

      <% if SETTINGS[:mark_translated] && !Rails.env.test? %>
        var I18N_MARK = true;
      <% end %>
    </script>
    <%= javascript_include_tag "locale/#{FastGettext.locale}/app" %>
    <%= javascript_include_tag *webpack_asset_paths('foreman-vendor', :extension => 'js') %>
    <%= javascript_include_tag *webpack_asset_paths('vendor', :extension => 'js') %>
    <%= javascript_include_tag *webpack_asset_paths('bundle', :extension => 'js') %>
    <%= javascript_include_tag 'application' %>
    <%= webpacked_plugins_with_global_js %>
    <%= webpack_dev_server %>
    <%= yield(:javascripts) %>

    <script type="text/javascript">
      <%= yield(:inline_javascripts) %>
    </script>

    <%= yield(:head) %>
  </head>

  <body>
    <!--[if lte IE 9]>
      <%= _('You are using an unsupported browser.') %>
    <![endif]-->
    <% if User.current %>
      <div id="react-app-root"></div>
      <div
        id="rails-app-content"
        class="container-fluid container-pf-nav-pf-vertical nav-pf-persistent-secondary"
      >
      <%# mounting layout after the container to change its width if the navbar is collapsed %>
      <% cache(TopbarSweeper.fragment_name, :skip_digest => true) do %>
        <%= mount_react_app %>
      <% end %>
      <%= yield(:content) %>
      </div>
    <% else %>
      <%= yield(:content) %>
    <% end %>
  </body>
</html>
