<%= alert :header => '', :class => 'alert-warning', :close => false,
          :text => extraction_warning_puppet_enc %>
<table class="table table-fixed" id="inherited_puppetclasses_parameters">
  <thead class="white-header">
    <tr>
      <th class='col-md-3'><%= _('Puppet Class') %></th>
      <th class='col-md-3'><%= _('Name') %></th>
      <th class='col-md-5'><%= _('Value') %></th>
      <th class='col-md-1 ca'><%= _("Omit") %>&nbsp;<%= omit_help %></th>
    </tr>
  </thead>
  <tbody>
  <%= render :partial => "puppetclasses/class_parameters",
    :collection => interesting_puppetclasses(obj),
    :as => :puppetclass,
    :locals => { :obj => obj } %>
  </tbody>
</table>
