<table class="table table-condensed" id="inherited_puppetclasses_parameters">
  <thead>
    <tr>
      <th class='col-md-3'><%= _('Puppet class') %></th>
      <th class='col-md-2'><%= _('Name') %></th>
      <th class='col-md-6'><%= _('Value') %></th>
      <th><%= _('Actions') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "puppetclasses/class_parameters", :collection => interesting_klasses(obj), :as => :puppetclass,
             :locals => { :obj => obj } %>
  </tbody>
</table>
