<table class="table table-condensed table-fixed" id="inherited_puppetclasses_parameters">
  <thead>
    <tr>
      <th class='col-md-3'><%= _('Puppet class') %></th>
      <th class='col-md-2'><%= _('Name') %></th>
      <th class='col-md-6'><%= _('Value') %></th>
      <th class='col-md-1 ca'><%= _("Use Puppet default") %>&nbsp;<%= use_puppet_default_help %></th>
    </tr>
  </thead>
  <tbody>
  <%= render :partial => "puppetclasses/class_parameters",
    :collection => interesting_puppetclasses(obj),
    :as => :puppetclass,
    :locals => { :obj => obj } %>
  </tbody>
</table>
