<div class="row">
  <% if obj.errors[:puppetclasses].any? -%>
    <div class="alert-message block-message clearfix error base in fade" data-alert = "true">
      <a class='close' href='#'>×</a>
      <%= obj.errors[:puppetclasses].map {|e| "<li>#{e}</li>"}.to_s.html_safe %>
    </div>
  <% end -%>
  <div class="span4 classes">
    <h3>Included Classes</h3>
    <%# hidden field to ensure that classes gets removed if none are defined -%>
    <%= hidden_field_tag obj.class.to_s.downcase + "[puppetclass_ids][]" %>
    <ul id="selected_classes">
      <%= render :partial => "puppetclasses/selectedClasses",
        :collection => obj.puppetclasses ,:as => :klass,
        :locals => { :type => obj.class.to_s.downcase } %>
    </ul>
    <ul>
      <% parent_classes(obj).each do |klass| %>
        <li data-original-title="included already from host group" rel="twipsy" style='color:black;'><%= h klass.name %></li>
      <% end -%>
    </ul>
  </div>

  <div class="span12">
    <h3>Available Classes</h3>
    <div class="row">
      <%= render "puppetclasses/classes",
        :puppetclasses => (obj.is_a?(Host) ? @environment.puppetclasses : Puppetclass.all), :selected_puppet_classes => obj.all_puppetclasses,
        :type => obj.class.to_s.downcase
      %>
    </div>
  </div>
</div>
