<%= javascript "lookup_keys" %>

<%= form_for @puppetclass do |f| %>
  <%= base_errors_for @puppetclass %>
  <ul class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a href="#primary" data-toggle="tab">Primary</a></li>
    <li><a href="#smart_vars" data-toggle="tab">Smart Variables</a></li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="primary">
      <%= text_f f, :name %>

      <%= multiple_checkboxes f, :environments, @puppetclass, Environment, :label => "Puppet Environments" %>
      <%= multiple_checkboxes f, :hostgroups,   @puppetclass, Hostgroup,   :label => "Hostgroups" %>
    </div>

    <div class="tab-pane" id="smart_vars">
      <% if @puppetclass.lookup_keys.empty? -%>
          <div class="alert alert-message alert-warning">
            <a class="close" href="#" data-dismiss="alert">&times;</a>
            <p><strong>Help!</strong> What is a <a href=http://theforeman.org/projects/foreman/wiki/Smart_Variables rel="external">Smart variable</a>?</p>
          </div>
      <% end -%>
      <div class="tabbable tabs-left">
        <ul class="nav nav-tabs smart-var-tabs span2" data-tabs="pills">
          <% @puppetclass.lookup_keys.each do |key| -%>
              <li><a data-toggle="tab" id="pill_<%= key.to_s.gsub(' ','_') %>" href="#<%= key.to_s.gsub(' ','_') %>"><%= key %><span class="label label-important fr">&times;</span></a></li>
          <% end -%>
          <li><%= link_to_function "+ Add Variable", "add_child_node(this);" ,:class=>"btn btn-success",:style=>":hover{}", :"data-association" => :lookup_keys %></li>
        </ul>

        <div class="tab-content span9 smart-var-content">
          <%= f.fields_for :lookup_keys do |lookup_keys_form| %>
              <%= render 'lookup_keys/fields', :f => lookup_keys_form  %>
          <% end %>
        </div>
      </div>
      <%= new_child_fields_template(f, :lookup_keys, {:partial => "lookup_keys/fields"})%>
    </div>

    <%= submit_or_cancel f %>
  </div>
<% end %>
