<% title "Puppetclass" %>

<p>
  <strong>Name:</strong>
  <%=h @puppetclass.name %>
</p>
<p>
  <strong>Nameindicator:</strong>
  <%=h @puppetclass.nameindicator %>
</p>
<p>
  <strong>Operatingsystem:</strong>
  <%=h @puppetclass.operatingsystem_id %>
</p>

<p>
  <%= link_to "Edit", edit_puppetclass_path(@puppetclass) %> |
  <%= link_to "Destroy", @puppetclass, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", puppetclasses_path %>
</p>
